﻿@{
    Layout = null;
}
@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Payment Card | SurveyApp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/favicon.png" />

    @Styles.Render("~/Content/bootstrapCss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastrCss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Common")
    @Scripts.Render("~/bundles/toastrScript")
</head>
<body>
    <div class="vertical-wrapper">
        <div class="login-panel-wrapper">
            <div class="login-panel">
                <div class="logo">
                    <a href="#" title="ProjectName">
                        <img src="~/images/Lifetools2.jpg" height="70" />
                    </a>
                </div>

                <script src="https://js.stripe.com/v3/"></script>

                <style>
                    /**
                    * The CSS shown here will not be introduced in the Quickstart guide, but shows
                    * how you can use CSS to style your Element's container.
                    */
                    .StripeElement {
                        box-sizing: border-box;
                        height: 40px;
                        padding: 10px 12px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        background-color: white;
                        box-shadow: 0 1px 3px 0 #e6ebf1;
                        -webkit-transition: box-shadow 150ms ease;
                        transition: box-shadow 150ms ease;
                    }

                    .StripeElement--focus {
                        box-shadow: 0 1px 3px 0 #cfd7df;
                    }

                    .StripeElement--invalid {
                        border-color: #fa755a;
                    }

                    .StripeElement--webkit-autofill {
                        background-color: #fefde5 !important;
                    }
                </style>

                @using (Html.BeginForm("AddCard", Controllers.StripePayment, FormMethod.Post, new { @id = "payment-form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <br />
                    <button class="btn btn-primary fluid">Add Card for Default Payment</button>
                }
            </div>
            <p class="copyright" style="padding:0px;">&copy;2018 Sirona Tele Med | <a href="#">Privacy Policy</a> | All rights reserved.</p>

            @*Forgot Password Modal*@
            <div class="modal fade" id="forgotpwdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content cus-form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
                        </div>
                        <form id="forgotpwdform">
                            <div class="modal-body">
                                <div id="divModalpwdMessage"></div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="email" name="emailtxt" class="form-control" id="forgotEmail" placeholder="Enter Email Address" />
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary" title="Send" onclick="SendEmail()">Send</button>
                                    <button type="button" class="btn btn-default" title="Cancel" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Raw(ViewBag.openPopup)
</body>
</html>

<script>
    // Create a Stripe client.
    var stripe = Stripe('@Configurations.Publishablekey');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>