﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMedClient.Infrastructure;
@using SironaTeleMed.Entities.V1;
@using SironaTeleMed.Common;
@{
    ViewBag.Title = "Add Card";
    Layout = null;
    string userName = string.Empty;
    string password = string.Empty;
}
<!doctype html>
<html lang="en">
<head>
    <!--=========================*
                Met Data
    *===========================-->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=========================*
              Page Title
    *===========================-->
    <title>SironaTeleMed - Log In</title>
    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!--=========================*
              Custom CSS
    *===========================-->
    <link rel="stylesheet" href="~/Content/style.css">
    <!--=========================*
               Owl CSS
    *===========================-->
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <!--=========================*
            Font Awesome
    *===========================-->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!--=========================*
             Themify Icons
    *===========================-->
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <!--=========================*
               Ionicons
    *===========================-->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!--=========================*
              EtLine Icons
    *===========================-->
    <link href="~/Content/et-line.css" rel="stylesheet" />
    <!--=========================*
              Feather Icons
    *===========================-->
    <link href="~/Content/feather.css" rel="stylesheet" />
    <!--=========================*
              Modernizer
    *===========================-->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <!--=========================*
               Metis Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <!--=========================*
               Slick Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <!--=========================*
            Google Fonts
    *===========================-->
    <!-- Montserrat USE: font-family: 'Montserrat', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="login-bg" style="background:none !important;">
                    <div class="login-overlay"></div>
                    <div class="login-left">
                        <h1 style="color:white">Sirona Tele Med</h1>
                        @*<img src="images/logo-login.svg" alt="Logo">*@
                        <p>To learn more click the button below.</p>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Visit Website</a>
                    </div><!--login-left-->
                </div><!--login-bg-->
                <div class="login-form">
                    <script src="https://js.stripe.com/v3/"></script>

                    <style>
                        /**
                        * The CSS shown here will not be introduced in the Quickstart guide, but shows
                        * how you can use CSS to style your Element's container.
                        */
                        .StripeElement {
                            box-sizing: border-box;
                            height: 40px;
                            padding: 10px 12px;
                            border: 1px solid transparent;
                            border-radius: 4px;
                            background-color: white;
                            box-shadow: 0 1px 3px 0 #e6ebf1;
                            -webkit-transition: box-shadow 150ms ease;
                            transition: box-shadow 150ms ease;
                        }

                        .StripeElement--focus {
                            box-shadow: 0 1px 3px 0 #cfd7df;
                        }

                        .StripeElement--invalid {
                            border-color: #fa755a;
                        }

                        .StripeElement--webkit-autofill {
                            background-color: #fefde5 !important;
                        }
                    </style>
                    @using (Html.BeginForm("AddCard", Controllers.StripePayment, FormMethod.Post, new { @id = "payment-form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="login-form-body">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>

                            <br />
                            <button class="btn btn-primary fluid">Add Card for Default Payment</button>
                        </div>
                    }
                </div><!--login-form-->
            </div><!--row-->
        </div><!--container-fluid-->
    </div><!--wrapper-->
    <!--=========================*
                Scripts
    *===========================-->
    <!-- Jquery Js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- SlimScroll Js -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <!-- Slick Nav -->
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <!-- Fancy Box Js -->
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <!-- Main Js -->

    <script>
    // Create a Stripe client.
    var stripe = Stripe('@Configurations.Publishablekey');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
    </script>

    <script src="~/Scripts/main.js"></script>
</body>
</html>