﻿
@{
    ViewBag.Title = "Subscriptions";
}

@using ProjectName.Pages;
@using ProjectName.Infrastructure;
@using ProjectName.Common;
@using ProjectName.Models;
@model StripeListCard

@{
    ViewBag.Title = "Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <ul class="page-action-button">
            <li><a href="javascript:void(0);" title="Add" onclick="AddNewClient();"><img src="@Url.Content("~/images/add.png")" alt="Add"></a></li>
        </ul>
        <div class="header">
            <h4>Subscriptions</h4>
        </div>
        <div class="grid" id="divClientTable">
            <div class="table-responsive">
                @*<table class="table table-striped dataTable no-footer" id="clientTable">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1">Brand</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">Card Number</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1">Card Date</th>
                            <th class="sorting_disabled action-icons" rowspan="1" colspan="1" style="width: 15%;">Default</th>
                            <th class="sorting_disabled action-icons" rowspan="1" colspan="1" style="width: 15%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.stripeCardLists.Count() > 0 && Model.stripeCardLists != null)
                        {
                            for (int i = 0; i < Model.stripeCardLists.Count(); i++)
                            {
                                string classname = i % 2 == 0 ? "odd" : "even";
                                <tr role="row" class="@classname">
                                    <td title="@Model.stripeCardLists[i].Brand">
                                        @if (@Model.stripeCardLists[i].Brand == "Visa")
                                        {
                                            <img src="~/Content/images/visa.svg" />
                                        }
                                        else if (@Model.stripeCardLists[i].Brand == "MasterCard")
                                        {
                                            <img src="~/Content/images/master.svg" />
                                        }
                                        else if (@Model.stripeCardLists[i].Brand == "American Express")
                                        {
                                            <img src="~/Content/images/amax.svg" />
                                        }
                                        else if (@Model.stripeCardLists[i].Brand == "Discover")
                                        {
                                            <img src="~/Content/images/discover.svg" />
                                        }
                                        else if (@Model.stripeCardLists[i].Brand == "Diners Club")
                                        {
                                            <img src="~/Content/images/diners.svg" />
                                        }
                                        else
                                        {
                                            <img src="~/Content/images/union.svg" height="22" width="27" />
                                        }
                                    </td>
                                    <td title="@Model.stripeCardLists[i].Last4">**** &nbsp; @Model.stripeCardLists[i].Last4</td>
                                    <td title="">@Model.stripeCardLists[i].ExpMonth &nbsp; / &nbsp; @Model.stripeCardLists[i].ExpYear</td>
                                    <td class=" action-icons" title="@Model.stripeCardLists[i].DefaultCCId">
                                        @if (Model.stripeCardLists[i].DefaultCCId != string.Empty)
                                        {
                                            <a class="btn btn-success">@Model.stripeCardLists[i].DefaultCCId</a>
                                        }
                                    </td>
                                    <td class=" action-icons" title="">
                                        @if (Model.stripeCardLists[i].DefaultCCId == string.Empty)
                                        {
                                            <a class="btn btn-primary" onclick="SetDefault('@Model.stripeCardLists[i].Id')" title="Add User">Set Default</a>
                                        }
                                        &nbsp;
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>*@
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>
<script type="text/javascript">
    function SetDefault(defaultCardId) {
        $.ajax({
            url: '@Url.Action("SetDefaultCard", Controllers.StripePayment, new { area = "" })',
            data: { CardId: defaultCardId },
            type: 'Post',
            datatype: 'json',
            success: onSuccess
        });
    }

    function onSuccess() {
        window.location.reload();
    }

    function AddNewClient() {
        var url = "@Url.Action("AddAnotherCard", Controllers.StripePayment,new { Area= "" })"
        window.location.href = url;
    }
</script>