﻿
@{
    ViewBag.Title = "How We Work";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!-- Home Design Inner Pages -->
<div class="ulockd-inner-home">
    <div class="container">
        <div class="row">
            <div class="inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">How We Works</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Home Design Inner Pages -->
<div class="ulockd-inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ulockd-icd-layer">
                    <ul class="list-inline ulockd-icd-sub-menu">
                        <li><a href="@Url.Action("Index", "Home")"> HOME </a></li>
                        <li><a href="#"> > </a></li>
                        <li> <a href="#">How We Works</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inner Pages Main Section -->
<section class="ulockd-service-details">
    <div class="container">
        <div class="col-md-12">
            <img class="img-responsive img-whp" src="~/images/Client//service/10.jpg" alt="10.jpg">
        </div>
        <div class="col-md-4 col-lg-3">
          
            <div class="ulockd-inr-brochure">
                <h4>Sirona Tele Med Brochures</h4>
                <p>pain was born and I will give you a complete accounf the system, and expound the actuteachings of the grea</p>
                <ul class="list-unstyled">
                    <li><a class="btn btn-default btn-lg ulockd-btn-thm2" href="#"><i class="fa fa-file-excel-o fz20"></i> Document1.csv</a></li>
                    <li><a class="btn btn-default btn-lg ulockd-btn-thm2" href="#"><i class="fa fa-file-word-o fz20"></i> Document2.DOC</a></li>
                    <li><a class="btn btn-default btn-lg ulockd-btn-thm2" href="#"><i class="fa fa fa-file-pdf-o fz20"></i> Document3.PDF</a></li>
                </ul>
            </div>
            <h4>Sirona Tele Med Testimonial</h4>
            <ul class="testimonial-carousel">
                <li>
                    <div class="media">
                        <div class="media-left pull-left">
                            <a href="#">
                                <img class="media-object thumbnail" src="~/images/Client//testimonial/1.jpg" alt="1.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Ethan Scott</h4>
                            <p class="ulockd-tcompliment"><span class="flaticon-straight-quotes"></span> I ordinarily don't compose letters, however I felt constrained to compose this one. This is in reference to the agony administration fixate situated on the fourth floor at the Comfot Home Old & Health Care, Melbourne. <span class="flaticon-blocks-with-angled-cuts"></span></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media-left pull-left">
                            <a href="#">
                                <img class="media-object thumbnail" src="~/images/Client//testimonial/2.jpg" alt="2.jpg">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Marloon James</h4>
                            <p class="ulockd-tcompliment"><span class="flaticon-straight-quotes"></span> I had the delight of being an outpatient in your Ambulatory Surgical Unit for foot surgery. From the moment I strolled in at the early hour of 6:00AM, until the time I was released, I experienced a staff that was cordial. <span class="flaticon-blocks-with-angled-cuts"></span></p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="agent-post">
                <div class="media">
                    <div class="media-left pull-left">
                        <a href="#">
                            <img class="media-object thumbnail" src="~/images/Client//testimonial/4.jpg" alt="4.jpg">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Ethan Scott</h4>
                        <div class="fz16">Instant Support</div>
                        <strong class="fa fa-phone text-thm2"></strong> +98-9875-5968-54 <br>
                        <strong class="fa fa-envelope text-thm2"></strong> dummy2@yourmail.com <br>
                        <strong class="fa fa-skype text-thm2"></strong> mzone.Sirona Tele Med
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="row">
                <div class="col-md-12 ulockd-mrgn1210">
                    <div class="ulockd-project-sm-thumb">
                        @*<img class="img-responsive img-whp" src="~/images/Client//service/10.jpg" alt="10.jpg">*@
                        <h2>Service Overview</h2>
                        <p class="ulockd-mrgn1220">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>Our Mission & Vision</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </p>
                </div>
                <div class="col-md-12 ulockd-mrgn1210 clearfix">
                    <div class="ulockd-pd-content">
                        <h3>General Information About Us</h3>
                        <p>toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences no resultant pleasure?</p>
                        <blockquote class="ulockd-mrgn1220">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla accusantium omnis, debitis veniam, at fugiat numquam iusto eos alias asperiores voluptate, explicabo doloremque eveniet mollitia non quisquam dolores fugit magni magnam, veritatis pariatur! Ut, temporibus.</p>
                            <footer>Vice President <cite title="Source Title"> Unlock Design</cite></footer>
                        </blockquote>
                        <p>toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences,</p>
                        <p>toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences?</p>
                        <p>toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences,</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6">
                            <div class="icon_box text-left tac-smd">
                                <div class="icon pull-left fn-smd"><span class="flaticon-circle text-thm2"></span></div>
                                <div class="ib_details">
                                    <h4>Primary Care</h4>
                                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="icon_box text-left tac-smd">
                                <div class="icon pull-left fn-smd"><span class="flaticon-medical-30 text-thm2"></span></div>
                                <div class="ib_details">
                                    <h4>Lab Test</h4>
                                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="icon_box text-left tac-smd">
                                <div class="icon pull-left fn-smd"><span class="flaticon-people-9 text-thm2"></span></div>
                                <div class="ib_details">
                                    <h4>Symptom Check</h4>
                                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="icon_box text-left tac-smd">
                                <div class="icon pull-left fn-smd"><span class="flaticon-heart-checkup text-thm2"></span></div>
                                <div class="ib_details">
                                    <h4>Heart Rate</h4>
                                    <p>Lorem ipsum dolor sit amet, sed do eiusmod.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Department -->
<section class="ulockd-fservice bgc-snowshade">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our More Service That You Might Want To Know</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow">
                    <div class="ficon">
                        <span class="flaticon-blood-analysis text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>24/7 Ambulance</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow">
                    <div class="ficon">
                        <span class="flaticon-people-6 text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Emergency Care</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow">
                    <div class="ficon">
                        <span class="flaticon-people-15 text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Operation Thearer</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow ulockd-mrgn1250">
                    <div class="ficon">
                        <span class="flaticon-nature text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Cancer Service</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow ulockd-mrgn1250">
                    <div class="ficon">
                        <span class="flaticon-people-9 text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Outdoor Checkup</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow ulockd-mrgn1250">
                    <div class="ficon">
                        <span class="flaticon-knee text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Bone Care</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow ulockd-mrgn1250">
                    <div class="ficon">
                        <span class="flaticon-blood-analysis text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Blood Test</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow ulockd-mrgn1250">
                    <div class="ficon">
                        <span class="flaticon-mouse text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Pathology Test</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="ficon-box hvr-shadow ulockd-mrgn1250">
                    <div class="ficon">
                        <span class="flaticon-medical-23 text-thm2" title="Feature Icon Box"></span>
                    </div>
                    <div class="fib-details">
                        <h4>Pharmacy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed eiusmod tempor aliqua.</p>
                        <a href="#">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Divider -->
<section class="divider-half style3 bgc-snowshade">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h2 class="title-bottom ulockd-mrgn120">FAQ <small>Freequetly Asked Question</small></h2>
                <div class="faq-content ulockd-mrgn1240">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="icon-Down-2 icon-1"></i>
                                        <i class="icon-Right-2 icon-2"></i>
                                        Primary health care!
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Essential medicinal services (PHC) alludes to "basic human services" that depends on "experimentally solid and socially satisfactory strategies and innovation, which influence all inclusive wellbeing to mind open to all people and families in a group. It is through their full cooperation and at a cost that the group and the nation can bear to keep up at each phase of their improvement in the soul of confidence and self-assurance".</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="icon-Down-2 icon-1"></i>
                                        <i class="icon-Right-2 icon-2"></i>
                                        What is Primary Care?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>The term essential care alludes to the sort of restorative care you require first — before you become ill, before you have to see a master, before you have to go to a healing facility.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="icon-Down-2 icon-1"></i>
                                        <i class="icon-Right-2 icon-2"></i>
                                        Women's Health at Sirona Tele Med
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>Women confront a unique arrangement of wellbeing needs. As essential care doctors, we are prepared in numerous zones of ladies' wellbeing and can give a large number of an indistinguishable administrations from your gynecologist — which can help you diminish the quantity of specialists you see for routine issues.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <i class="icon-Down-2 icon-1"></i>
                                        <i class="icon-Right-2 icon-2"></i>
                                        What insurance plans do you accept?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Medical coverage is protection that covers the entire or a piece of the danger of a man bringing about therapeutic costs, spreading the hazard over a substantial number of people. By evaluating the general danger of medicinal services and wellbeing framework costs over the hazard pool, a back up plan can build up a normal fund structure, for example, a month to month premium or finance assess, to give the cash to pay to the social insurance benefits indicated in the protection agreement. The advantage is directed by a focal association, for example, an administration organization, private business, or not-revenue driven substance.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        <i class="icon-Down-2 icon-1"></i>
                                        <i class="icon-Right-2 icon-2"></i>
                                        Can I visit Sirona Tele Med?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>The four extraordinary foundations of demonstrative prescription are life structures (structure: what is there), physiology (how the structure/s work), pathology (what turns out badly with the life systems and physiology), and brain science (psyche and conduct). Likewise, the doctor ought to consider the patient in their 'well' setting instead of essentially as a mobile restorative condition. This implies the socio-political setting of the patient (family, work, stretch, convictions) ought to be evaluated as it frequently offers key signs to the patient's condition and further administration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->
<section class="team bgc-snowshade">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our Expert</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="three-grid-slider">
                    <div class="item">
                        <div class="team-grid text-left">
                            <div class="thumb">
                                <img class="img-responsive img-whp" src="~/images/Client//team/1.jpg" alt="1.jpg">
                            </div>
                            <div class="details">
                                <h4 class="text-thm2">Dr. Chris Evans <small>- Cardiology</small></h4>
                                <p>Laboriosam dolores aut inventore cum delectus sequi lorem ipsum dolor sit amet</p>
                                <a class="btn btn-md ulockd-btn-thm2" href="#">More Info <i class="fa fa-user"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-grid text-left">
                            <div class="thumb">
                                <img class="img-responsive img-whp" src="~/images/Client//team/2.jpg" alt="2.jpg">
                            </div>
                            <div class="details">
                                <h4 class="text-thm2">Dr. Isabella <small>- Orthopaedics</small></h4>
                                <p>Laboriosam dolores aut inventore cum delectus sequi lorem ipsum dolor sit amet</p>
                                <a class="btn btn-md ulockd-btn-thm2" href="#">More Info <i class="fa fa-user"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-grid text-left">
                            <div class="thumb">
                                <img class="img-responsive img-whp" src="~/images/Client//team/3.jpg" alt="3.jpg">
                            </div>
                            <div class="details">
                                <h4 class="text-thm2">Dr. Liam <small>- Haematology</small></h4>
                                <p>Laboriosam dolores aut inventore cum delectus sequi lorem ipsum dolor sit amet</p>
                                <a class="btn btn-md ulockd-btn-thm2" href="#">More Info <i class="fa fa-user"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-grid text-left">
                            <div class="thumb">
                                <img class="img-responsive img-whp" src="~/images/Client//team/4.jpg" alt="4.jpg">
                            </div>
                            <div class="details">
                                <h4 class="text-thm2">Dr. Marloon <small>- Cardiology</small></h4>
                                <p>Laboriosam dolores aut inventore cum delectus sequi lorem ipsum dolor sit amet</p>
                                <a class="btn btn-md ulockd-btn-thm2" href="#">More Info <i class="fa fa-user"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Partner -->
<section class="unlock-divider ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/1.png" alt="1.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/2.png" alt="2.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/3.png" alt="3.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/4.png" alt="4.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/5.png" alt="5.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/6.png" alt="6.png"></div></div>
        </div>
    </div>
</section>