﻿
@{
    ViewBag.Title = "appointment";
}
<div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
    <div class="container">
        <div class="row">

            <div class="col-md-12 heading">
                <h1>Result of your Search</h1>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-12 rate">
                <div class="rate1">
                    <div class="square">
                        <p>28</p>
                        <p>JAN</p>
                    </div>
                </div>
                <div class="rate2">
                    <h6>Meeting 1</h6>
                    <p>Details of Meeting 1</p>
                    <a href="">Read more</a>
                    <hr />
                </div>
            </div>
            <div class="col-sm-12 rate">
                <div class="rate1">
                    <div class="square">
                        <p>28</p>
                        <p>JAN</p>
                    </div>
                </div>
                <div class="rate2">
                    <h6>Meeting 1</h6>
                    <p>Details of Meeting 1</p>
                    <a href="">Read more</a>
                    <hr />
                </div>
            </div>
            <div class="col-sm-12 rate">
                <div class="rate1">
                    <div class="square">
                        <p>28</p>
                        <p>JAN</p>
                    </div>
                </div>
                <div class="rate2">
                    <h6>Meeting 1</h6>
                    <p>Details of Meeting 1</p>
                    <a href="">Read more</a>
                    <hr />
                </div>
            </div>
        </div>
    </div>
    </div>
