﻿
@{
    ViewBag.Title = "rating";
}
<div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <span class="rethed">
                <h1>Please Rate Your Service</h1>
            </span>
        </div>
        <div class="row">
            <div class="rating1">
                <img src="~/images/download1.png" />
                <h4>Dr. Adams</h4>
                <p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </p>
                <form class="ratform">
                    <textarea class="form-control" rows="4" placeholder="Please leave your comment here" id="comment"></textarea>
                    <button type="button" class="btn btn-info" style="margin:auto; width: 50%; margin-top: 10px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
