﻿
@{
    ViewBag.Title = "setup";
}

<div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading">
                <h2>Thank you for signing in please set up your profile </h2>
            </div>
        </div>
        <div class="row">
            <form>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Option 1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Option 2
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">Option 3
                </label>
            </form>

        </div>
        </div>

    </div>
