﻿
@{
    ViewBag.Title = "welcome";
}

<div class="mdk-drawer-layout__content mdk-drawer-layout__content--scrollable">
    <div class="container">
        <div class="row">

            <div class="col-md-12 heading">
                <h1>Welcome !!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 wel-btn">
                <button type="button" class="btn-lg bigbtn">View Session Requests</button>
                </div>
            <div class="col-lg-3 wel-btn">
                <button type="button" class="btn-lg bigbtn">View Today's Schedule</button>
            </div>
            <div class="col-lg-3 wel-btn">
                <button type="button" class="btn-lg bigbtn">View Your Rating & Comments</button>
            </div>
                        <div class="col-lg-3 wel-btn">
                            <button type="button" class="btn-lg bigbtn">View Notifications</button>
                        </div>
                    </div>
    </div>
    </div>