﻿
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    .beul li {
        color: black;
        list-style-type: none;
        display: flex;
    }
    .beul li:before {
        content: '\2022';
        color: #ffffff;
        padding-right: 0.5em;
    }
    .text-center h3{
        margin-top: 0px !important;
    }
</style>
<!-- Home Design Inner Pages -->
<div class="ulockd-inner-home">
    <div class="container">
        <div class="row">
            <div class="inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">Pricing</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Home Design Inner Pages -->
<div class="ulockd-inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ulockd-icd-layer">
                    <ul class="list-inline ulockd-icd-sub-menu">
                        <li><a href="@Url.Action("Index", "Home")"> HOME </a></li>
                        <li><a href="#"> > </a></li>
                        <li> <a href="#"> PRICING </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Pricing Table -->
<section class="ulockd-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2>Our Pricing Table</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem labore voluptates consequuntur velit necessitatibus maiores fugiat eaque.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ulockd-divider ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="beul">
                    <li><p class="color-white">50GB Disk Space</p></li>
                    <li><p class="color-white">50 Email Accounts</p></li>
                    <li><p class="color-white">50GB Monthly Bandwidth</p></li>
                    <li><p class="color-white">10 Subdomains</p></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="beul">
                    <li><p class="color-white">15 Domains</p></li>
                    <li><p class="color-white">Free Positive SSL</p></li>
                    <li><p class="color-white">Free Dedicated IP</p></li>
                    <li><p class="color-white">Free VoIP Phone Service</p></li>
                </ul>
            </div>
            <div class="col-md-4 text-center tal-smd">
                <h3 class="color-white">JUST</h3>
                <h3 class="color-white">$45</h3>
                <h3 class="color-white">FOR 30 MIN.</h3>
                <button type="submit" class="btn btn-lg ulockd-btn-white">PURCHASE</button>
            </div>
        </div>
    </div>
</section>    


<!-- Our About Page faq Section -->
<section class="ulockd-ap-faq">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="ulockd-faq-box">
                    <div class="ulockd-faq-title clearfix">
                        <h2>Frequently Asked  <span class="text-thm2">Questions</span></h2>
                    </div>
                    <div class="ulockd-faq-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="icon-Down-2 icon-1"></i>
                                            <i class="icon-Right-2 icon-2"></i>
                                            How Can I Contact For Support?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Go to Our Profile Page <a href="https://themeforest.net/user/unlockdesign">Here..</a>, Mail Us. As Soon As Possible In Our Supported Schdule We will reply you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="icon-Down-2 icon-1"></i>
                                            <i class="icon-Right-2 icon-2"></i>
                                            Contact Form Active?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Sure, You Will Get Contact Form Active In Our All Templates, Just go to Include Folder contact.php Change You Mail id in Demo Mail Id Then Run Your Tempalte.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="icon-Down-2 icon-1"></i>
                                            <i class="icon-Right-2 icon-2"></i>
                                            About Sirona Tele Med Education Template?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Yes. Administrations are accessible for as meager as a couple of hours a visit up to 24 hours, 7 days seven days, 365 days a year.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="ulockd-mrgn120">Sirona Tele Med <span class="text-thm2">Activity</span></h2>
                <div class="ulockd-about-video ulockd-mrgn1225">
                    <div class="ulockd-avdo-thumb">
                        <iframe width="100%" height="265px" src="http://www.youtube.com/embed/qKoVto0Wegg?autoplay=0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our First Divider -->
<section class="ulockd-divider ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="color-white">Sirona Tele Med Health Care & Medical Hospital</h1>
                <p class="color-white">Sed ut Perspiciatis Unde Omnis Iste Sed ut sit voluptatem accusan tium </p>
            </div>
            <div class="col-md-4 text-center tal-smd">
                <button type="submit" class="btn btn-lg ulockd-btn-white ulockd-mrgn1225">PURCHASE</button>
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->
<section class="ulockd-team">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our Expert</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="team-one">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="~/images/Client//team/1.jpg" alt="team1.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">John Smith</h3>
                        <h5 class="member-post">- CEO Founder</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.</p>
                        <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="team-one">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="~/images/Client//team/2.jpg" alt="team2.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">Ana Smith</h3>
                        <h5 class="member-post">- Senior Teacher</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi.</p>
                        <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="team-one">
                    <div class="team-thumb">
                        <img class="img-responsive img-whp" src="~/images/Client//team/3.jpg" alt="3.jpg">
                        <div class="team-overlay">
                            <ul class="list-inline team-icon style2">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="mailto:name@email.com"><i class="fa fa-envelope"></i> Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-details text-left">
                        <h3 class="member-name">Jhon Smith</h3>
                        <h5 class="member-post">- Chief Executive</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio.</p>
                        <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Partner -->
<section class="unlock-divider ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/1.png" alt="1.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/2.png" alt="2.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/3.png" alt="3.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/4.png" alt="4.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/5.png" alt="5.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/Client/partners/6.png" alt="6.png"></div></div>
        </div>
    </div>
</section>

