﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
@using SironaTeleMed.Entities.Contract
@model AbstractIndexMaster
@{
    ViewBag.Title = "SearchSessions";
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sirona Tele Med - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/Client/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Client/style.css">
    <link rel="stylesheet" href="~/Content/Client/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Client/responsive.css">
    <!-- Title -->
    <title>Sirona Tele Med's Health Care & Medical Hospital HTML Template</title>
    <style>
        .ap-timers {
            background: #e3e3e3;
            padding: 20px 15px;
            display: inline-block;
        }

            .ap-timers ul {
                padding: 0;
                margin: 0;
                width: 100%;
                list-style: square;
            }

                .ap-timers ul li {
                    position: relative;
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 25px;
                }

                    .ap-timers ul li a {
                        width: 100%;
                        background: #fff;
                        border-radius: 5px;
                        padding: 8px 15px;
                        color: #1a2c3f;
                        font-size: 14px;
                        text-decoration: none;
                        border: 1px solid #dfdfdf;
                    }

                        .ap-timers ul li a:hover {
                            background: #cccccc;
                        }

        .list-inline > li {
            display: inline-block;
            padding-right: 25px;
            padding-left: 30px;
        }
        .topnav {
            overflow: hidden;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 35px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .topnav .icon {
                display: none;
            }

        .logbtn {
            background: #1EBEA5 !important;
            margin-top: 10px;
            font-weight: bold;
            font-size: 15px;
            border-radius: 30px;
        }

        .Register-form-body {
            padding: 10px 50px !important;
        }

        .colmd {
            padding: 6px 0px !important;
        }

        @@media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @@media screen and (max-width: 600px) {
            .topnav.responsive {
                position: relative;
            }

                .topnav.responsive .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .topnav.responsive a {
                    float: none;
                    display: block;
                    text-align: left;
                }

            .logbtn {
                padding: 6px 6px;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 7px;
            }

            .datetime {
                float: left !important;
            }

            .Register-form-body {
                padding: 10px 10px !important;
            }

            .logres {
                text-align: center;
            }

            .inspectlet-sensitive {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

                .inspectlet-sensitive .control-label {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }

                .inspectlet-sensitive div {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }

            .colmd {
                padding: 0px !important;
            }

            .radiobtn {
                width: 10% !important;
            }

            .datetitle {
                padding: 0px 3px !important;
            }

            .terms {
                font-size: 11px !important;
                margin-left: 10px !important;
            }

            .h2head {
                font-size: 28px !important;
                margin-bottom: 10px !important;
            }

            .topnav a {
                padding: 14px 20px !important;
            }

            .color-white {
                font-size: 12px !important;
            }

            .ulockd-copy-right {
                padding: 10px 0px !important;
            }

            .welcm-ht {
                text-align: center !important;
            }

            .insuranceres {
                margin: 0px !important;
            }

                .insuranceres label,
                .insuranceres div #insurance {
                    margin-left: 0px !important;
                }

            .modal-body p,
            .modal-body ul li {
                font-size: 11px !important;
            }

            .modal-title {
                font-size: 13px;
            }

            .StripeElement {
                margin-top: 0px !important;
            }

            #insurinfo {
                padding: 0px !important;
            }

            .text-muted {
                font-size: 14px !important;
            }

            .form-footer {
                margin-top: 1rem !important;
            }

            .bttag {
                display: none;
            }
            
        }
    </style>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
</head>
<body>
    <div class="wrapper">
        <div id="preloader" class="preloader">
            <div id="pre" class="preloader_container">
                <div class="preloader_disabler btn btn-default" style="display:none;">
                    Disable Preloader
                </div>
            </div>
        </div>
        <div class="header-middle colmd">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 colmd">
                        <div class="welcm-ht">
                            <a href="#" class="ulockd-main-logo"><h1 style="font-size:36px;color:#1EBEA5;font-weight:bold;margin:0px !important;">Sirona Tele Med</h1></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ulockd-pad390 colmd">
                        <div class="topnav" id="myTopnav">
                            <a href="#home" class="active">Home</a>
                            <a href="#news">Pricing</a>
                            <a href="#contact">FAQ</a>
                            <a href="#about">Contact Us</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 " >
                        <div class="logres" style="display:flex;">
                            <a href="@Url.Action("Index", "BookNow")" class="btn btn-info logbtn">Book Appointment</a>
                            <a href="@Url.Action("Index", "Login")" class="btn btn-info logbtn" style="margin-left:10px">Sign In</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 50px;">
            <div class="row">
                <div class="col-12 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card_title mt-2">Search Appointments</h4>
                            <div class="card-body">
                                <div class="form-row" style="display:flex;">
                                    <div class="col-md-3 mb-3">
                                        <div class="input-group form-group">
                                            <input type="text" id="searchdate" class="form-control" name="dateselect" />
                                            <div class="input-group-append" style="display:flex;">
                                                <span class="input-group-text" style="display: flex;background-color: #f9f9f9 !important;border-radius: .25rem;border: 1px solid rgba(170, 170, 170, 0.3) !important;padding: .495rem .75rem;">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3" style="padding-left:30px !important;">
                                        <button id="div2" type="submit" class="btn" style="background: #1EBEA5 !important;color: #fff">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="ap-tmng" id="partial" style="margin-bottom:7%;">
                                @Html.Partial("_SearchSessions")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ulockd-copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-white">Sirona Tele Med's Copyright© 2018. All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="~/Scripts/Client/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/bootsnav.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/scrollto.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/gallery.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/slider.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/video-player.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/jquery.barfiller.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/tweetie.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/script.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {

            var url = window.location.pathname,
                urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");
            $('ul li a').each(function () { //mention id of the menu link
                if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                    $(this).addClass('active');
                }
            });

        });

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

     $(document).ready(function () {
         $('#div2').click(function () {
            getSchedules();
        });
    });

    function getSchedules() {
      var Date = searchdate = $("#searchdate").val();
        $.ajax({
            type: "POST",
            data: { date: Date},
          url: "@Url.Action("_SearchSessions", "BookNow")",
            success: function (response) {
              $("#partial").html(response);
            }
        });
    }

    $(function () {
        $('input[name="dateselect"]').daterangepicker({
            singleDatePicker: true,
            minDate: new Date(),
            locale: {
                format: 'DD/MM/YYYY '
            }
        });
    });
    </script>
</body>
</html>

