﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
@{
    ViewBag.Title = "ManagePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3">
                    Add New Card
                </a>
                <h4 class="card_title mt-2">Manage Payment</h4>

                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th>Card No.</th>
                                    <th scope="row">Card Holder Name</th>
                                    <th scope="row">Card Type</th>
                                  
                                    <th scope="row">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>XXXX XXXX XXXX 2121</td>
                                    <td>Mark Anthony</td>
                                    <td>VISA</td>
                                    <td>
                                        <button class="btn btn-success" title="Cancel" style="margin-left:10px">Default</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>XXXX XXXX XXXX 4242</td>
                                    <td>Mark H Anthony</td>
                                    <td>Master Card</td>
                                    <td>
                                        <button class="btn btn-info" title="Cancel" style="margin-left:10px">Make Default</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>XXXX XXXX XXXX 6789</td>
                                    <td>Mark A</td>
                                    <td>VISA</td>
                                    <td>
                                        <button class="btn btn-info" title="Cancel" style="margin-left:10px">Make Default</button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

