﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

@model AbstractIndexMaster
<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card_title mt-2" style="text-transform: none">Patients' History</h4>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4 mb-5">
                            <div class="input-group form-group">
                                <input type="text" class="form-control" id="Date" name="olddate" autocomplete="off"/>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownList(" ", new SelectList(ViewBag.Users, "Value", "Text"), new { @id = "PatientName", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.DropDownList(" ", new SelectList(ViewBag.Status, "Value", "Text"), new { @id = "Status", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a  class="btn btn-sm btn-primary mb-12" style="color: #FFF;" onclick="BindClientTable()">
                                Search
                            </a>
                        </div>
                    </div>
                    <div class="card table-responsive">
                        <section class="content">
                            <!-- Default box -->
                            <div class="card">
                                <div class="grid" id="divClientTable" style="padding: 25px; text-align: center;">
                                    <table class="table table-striped" id="clientTable" ></table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        BindClientTable();
    });

    function BindClientTable() {
        if ($.fn.DataTable.isDataTable("#clientTable")) {
            $('#clientTable').dataTable().fnDestroy();
            $('#divClientTable').html('<table class="table table-striped" width="100%"  id="clientTable"></table>');
        }
        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });
        table = $("#clientTable").dataTable({
            "autoWidth": false,
            "searching": false,
            "paging": true,
            "sPaginationType": "full_numbers",
            "language": {
                "lengthMenu": "Page Size : _MENU_ ",
                "info": "Records _START_ to _END_ of (_TOTAL_)",
                "emptyTable": "No Record(s) Found"
            },
            "processing": true,
            "serverSide": true,
            "pageLength": "@ProjectSession.PageSize",
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindPatientHistory, Controllers.PatientsHistory, new { Area = "" })',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [                
                { "title": "Patient Name", "data": "PatientName", "orderable": false, "width": "8%" },
                {
                    "title": "Doctor Name", "data": "",
                    "render": function (data, type, row) {
                        if (row["DoctorName"] == null) {
                            return '-';
                        } else {
                            return row["DoctorName"];
                        }
                    },
                    "orderable": false, "width": "8%"
                },
                { "title": "Date", "data": "DisplayDate", "orderable": false, "width": "8%" },
                { "title": "Time", "data": "DisplayTime", "orderable": false, "width": "8%" },
                {
                    "title": "Charge", "data": "",
                    "render": function (data, type, row) {
                        return '<p>$ 45</p>';
                    }
                    , "orderable": false, "width": "8%"
                },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        if (row["Status"] == "Pending") {
                            return '<span class="badge badge-warning">' + row["Status"] + '</span>';
                        } else if (row["Status"] == "Approved") {
                            return '<span class="badge badge-info">' + row["Status"] + '</span>';
                        } else if (row["Status"] == "Rejected" || row["Status"] == "Cancelled") {
                            return '<span class="badge badge-danger">' + row["Status"] + '</span>';
                        } else if (row["Status"] == "Completed") {
                            return '<span class="badge badge-success">' + row["Status"] + '</span>';
                        }
                        else if (row["Status"] == "Running") {
                            return '<span class="badge badge-info">' + row["Status"] + '</span>';
                        }
                        else if (row["Status"] == "Drafted") {
                            return '<span class="badge badge-success">' + row["Status"] + '</span>';
                        }
                    },
                    "orderable": false, "width": "7%"
                },
                  {
                    "title": "Action", "data": "",
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var url = '@Url.Action(Actions.BookAppointments, Controllers.Appointment, new { area = "" })';
                        return '<a href="' + url + '?id=' + row["Id"]+'" class="btn btn-info"  title="View"><i class="ti-pencil"></i></a>';
                    },
                    "orderable": false, "width": "10%"
                }
            ],
            "drawCallback": function (settings) {
                //hide paging and info when empty datattable
                var api = this.api();
                if (api.rows({ page: 'current' }).data().length <= 0) {
                    $('#clientTable_info').hide();
                    $('#clientTable_paginate').hide();
                      }
                else {
                    $('#clientTable_info').show();
                    $('#clientTable_paginate').show();
                    $('#clientTable_length').show();
                }
                //bindSortingArrow();
            }
        });
        $('.grid-bottom').addClass('clearfix');
        $('select[name=clientTable_length]').addClass('selectpicker');
    }

    function BuildSearchCriteria() {
        try {
            
            var param = {};
            param["StatusId"] = $("#Status").val();
            param["UserId"] = $("#PatientName").val();
            param["DateSearch"] = $("#Date").val();            
            return param;
        } catch (e) { }
    }

    function Search() {
        BindClientTable();
    }
</script>