﻿@{
    Layout = null;
}

@foreach (var card in ViewBag.Cards)
{
    <div class="col-sm-3 col-md-3" id="Card_@card.Id">
        <div class="card">
            <div class="card__options">
                @if (!card.IsDefault)
                {
                    <a title="Assign Default" class="btn btn-white btn-sm" href="javascript:void(0);" onclick="SetDefault('@card.Id')" style="margin-right:10px"><i class="material-icons">done</i> </a>
                    <a title="Remove Card" class="btn btn-white btn-sm" href="javascript:void(0);" onclick="DeleteCard('@card.Id', '@card.CardId')"><i class="material-icons">delete</i> </a>
                }
                else
                {
                    <label class="label label-success float-right" style="cursor:default">Default</label>
                }
            </div>
            <div class="card-header bg-white">
                <h4 class="card-title">
                    <p>@card.CardBrand</p>
                </h4>
                <small class="text-muted">Ending with @card.Last4</small>               
            </div>
        </div>
    </div>
}
