﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Entities.V1

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Service = "";
}

@model Users
<style>
    #more {
        display: none;
    }

    .readmore {
        color: #3644ff;
    }

    #contact-form {
    }

        #contact-form input {
            border: 1px solid #ebebeb;
            color: #000;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            height: 50px;
            padding-left: 25px;
            width: 100%;
        }

            #contact-form input:focus {
                border-color: #3644FF;
            }

        #contact-form textarea {
            border: 1px solid #ebebeb;
            font-family: Montserrat;
            color: #999999;
            font-size: 13px;
            font-weight: 400;
            height: 120px;
            padding: 25px;
            width: 100%;
        }

        #contact-form button {
            background: #1A73E8 !important;
            border: none;
            color: white !important;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            padding: 17px 44px;
            text-transform: uppercase;
            transition: .3s;
            letter-spacing: 1px;
        }

            #contact-form button:hover {
                background: #1A73E8;
                color: #fff;
                border-color: #1A73E8;
            }
</style>
<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3" onclick="goBack()">
                    Back
                </a>
                <h4 class="card_title mt-2">Profile</h4>
                @using (Html.BeginForm(Actions.UpdateProfile, Controllers.MyAccount, FormMethod.Post, new { @id = "contact-form", @class = "needs-validation", @novalidate = "" }))
                {
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table progress-table">
                                <tbody>
                                    @Html.HiddenFor(model => model.Id)
                                    <tr>
                                        <td><b>First Name <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.FirstName, new { maxlength = 100, @placeholder = "First Name", @class = "form-control", @required = "" })
                                            <div class="invalid-feedback">
                                                Please Enter First Name
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Last Name <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.LastName, new { maxlength = 100, @placeholder = "Last Name", @class = "form-control", @required = "" })
                                            <div class="invalid-feedback">
                                                Please Enter Last Name
                                            </div>
                                        </td>
                                    </tr>
                                    @*<tr>
                                            <td><b>Password</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Password, new { maxlength = 100, @placeholder = "Password" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>*@
                                    <tr>
                                        <td><b>Email <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Email, new { maxlength = 100, @placeholder = "Email", @readonly = "readonly", @class = "form-control", @required = "" })
                                            <div class="invalid-feedback">
                                                Please Enter Email
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Phone <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Phone, new { @type = "number", @placeholder = "Phone", @class = "form-control", @required = "" })
                                            <div class="invalid-feedback">
                                                Please Enter Phone
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Birth <strong class="required">*</strong></b></td>
                                        <td>
                                            <div class="input-group-append">
                                                @Html.TextBoxFor(model => model.Dateofbirth, new { @name = "birthday", @Type = "text", @class = "form-control", @required = "", @id = "birthday" })
                                                <span class="input-group-text" style="display: flex;background-color: #f9f9f9 !important;border-radius: .25rem;border: 1px solid rgba(170, 170, 170, 0.3) !important;padding: .495rem .75rem;">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Street <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.AddressLine2, new { maxlength = 100, @placeholder = "Street", @class = "form-control" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Apt/Suite</b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.Address, new { maxlength = 100, @placeholder = "Apt/Suite", @class = "form-control" })
                                          
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>City <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.City, new { maxlength = 100, @placeholder = "City", @class = "form-control", @required = "" })
                                            <div class="invalid-feedback">
                                                Please Enter City
                                            </div>
                                        </td>

                                        @*<td><b>Country <strong class="required">*</strong></b></td>*@
                                        @*<td>
                                                @Html.DropDownListFor(model => model.CountryId, (IEnumerable<SelectListItem>)ViewBag.Country, new { @id = "Country", @class = "form-control", @required = "" })
                                                @Html.DropDownList(" ", new SelectList(ViewBag.Country, "Value", "Text"), new { @id = "Country", @class = "form-control" })
                                                @Html.HiddenFor(model => model.CountryId)
                                                <div class="invalid-feedback">
                                                    Please Enter Country
                                                </div>
                                            </td>*@
                                    </tr>
                                    <tr>
                                        <td><b>State <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)ViewBag.State, new { @id = "State", @class = "form-control", @required = "", @Onchange = "Filter()" })
                                            @*@Html.DropDownList(" ", new SelectList(ViewBag.State, "Value", "Text"), new { @id = "State", @class = "form-control", @Onchange = "Filter()" })*@
                                            @Html.HiddenFor(model => model.StateId)
                                            <div class="invalid-feedback">
                                                Please Enter State
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Zip Code <strong class="required">*</strong></b></td>
                                        <td>
                                            @Html.TextBoxFor(model => model.CountryId, new { @type = "number", maxlength = 10, @class = "form-control", @required = "", placeholder = "Zip code" })
                                            <div class="invalid-feedback">
                                                Please Enter Zip Code
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-primary" style="float: right;">
                                                @*<a href="@Url.Action(Actions.UpdateProfile,Controllers.MyAccount, new { area = "" })">*@
                                                Save
                                                @*</a>*@
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.min.js"></script>
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

<script>
    window.addEventListener('load', function () {

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);


    function goBack() {
        window.location.replace('/Dashboard/index');
    }

    $(function () {
        $('#birthday').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            maxDate: new Date(),
            locale: {
                format: 'DD-MM-YYYY'
            },
        })
    });

</script>
