﻿@using SironaTeleMed.Common
@using SironaTeleMedClient.Pages


<!--=========================*
    Client Menu
    *===========================-->
<!-- Header Styles -->
<style>
    .flright{
        float: right !important;
    }
    
</style>
<header class="header-nav">
    <div class="main-header-nav navbar-scrolltofixed">
        <div class="container">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav menu-style1">

               
                <div class="container">
                    <!-- End Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-left" data-in="fadeIn" style="width: 100%;">
                            <li>
                                <a href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "HowWeWork")">How We Work</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Pricing")">Pricing</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Faq")">FAQ</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ContactUs")">Contact Us</a>
                            </li>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>

                
            </nav>
            <!-- End Navigation -->
        </div>
    </div>
</header>

