﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sirona Tele Med - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/Client/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Client/style.css">
    <link rel="stylesheet" href="~/Content/Client/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css">*@
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Content/Client/responsive.css">
    <!-- Title -->
    <title>Sirona Tele Med's Health Care & Medical Hospital HTML Template</title>
    <!-- Favicon -->
    @*<link href="~/images/Client/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
        <link href="~/images/Client/favicon.ico" sizes="128x128" rel="shortcut icon" />*@

    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
</head>

<body>
    <div class="wrapper">
        <div id="preloader" class="preloader">
            <div id="pre" class="preloader_container">
                <div class="preloader_disabler btn btn-default" style="display:none;">
                    Disable Preloader
                </div>
            </div>
        </div>
        @Html.Partial("_ClientHeader")

        @Html.Partial("_ClientMenu")
        <!--=========================*
                  Main Content
        *===========================-->
        
                    @RenderBody()
             
        <section class="ulockd-footer2 ulockd-pdng0">
            @Html.Partial("_ClientFooter")
        </section>
        <footer>
            <div class="footer-area">
                <p>&copy; Copyright 2019. All right reserved. Template by Plexoc.</p>
            </div>
        </footer>
        <!--=================================*
                    End Footer Section
        *===================================-->
    </div>

    <script type="text/javascript" src="~/Scripts/Client/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/bootsnav.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/scrollto.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/jquery.counterup.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/gallery.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/wow.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/slider.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/video-player.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/jquery.barfiller.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/Client/tweetie.js"></script>
    <!-- Custom script for all pages -->
    @*<script type="text/javascript" src="~/Scripts/Client/color-switcher.js"></script>*@
    <script type="text/javascript" src="~/Scripts/Client/script.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.js"></script>
    
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {

            var url = window.location.pathname,
                urlRegExp = new RegExp(url.replace(/\/$/, '') + "$");
            $('ul li a').each(function () { //mention id of the menu link
                if (urlRegExp.test(this.href.replace(/\/$/, ''))) {
                   // $('ul li a.active').removeClass('active');
                    $(this).addClass('active');
                }
            });

        });
    </script>
    <script>
     $(document).ready(function () {
         $('#div2').click(function () {
            getSchedules();
        });
    });

    function getSchedules() {
      var Date = searchdate = $("#searchdate").val();
        $.ajax({
            type: "POST",
            data: { date: Date},
          url: "@Url.Action("_SearchSessions", "Home")",
            success: function (response) {
              $("#partial").html(response);
            }
        });
    }

    $(function () {
        $('input[name="dateselect"]').daterangepicker({
            singleDatePicker: true,
            minDate: new Date(),
            locale: {
                format: 'DD/MM/YYYY '
            }
        });
    });
    </script>
</body>
</html>
