﻿@using SironaTeleMed.Common
@using SironaTeleMedClient.Pages


<!--=========================*
    Client Footer
    *===========================-->
<!-- Our Footer -->
    <div class="container footer-padding">
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 col-lg-4">
                <div class="footer-fst-col">
                    <div class="footer-logo ulockd-mrgn620 ulockd-mrgn1215"><img class="ulockd-footer-log img-responsive" src="~/images/Client/header-logo.png" alt="header-logo.png"></div>
                    <p>Regardless of whether you need to stay in your own house, are searching for help with a more established relative, looking for exhortation on paying for care, we can help you.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci inventore sit consequuntur incidunt ipsum iusto?</p>
                    <div class="ulockd-footer-newsletter">
                        <h3>News Letter</h3>
                        <form class="ulockd-mailchimp style2">
                            <div class="input-group">
                                <input type="email" class="form-control input-md bgc-snowshade2" placeholder="Your email" name="EMAIL" value="">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-md"><i class="icon fa fa-chevron-right"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 col-lg-2">
                <div class="footer-qlink mb35-smd">
                    <h3 class="text-uppercase"><span class="color-black33">NAVIGATION</span></h3>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "HowWeWork")">How we Work</a></li>
                        <li><a href="@Url.Action("Index", "Pricing")">Pricing</a></li>
                        <li><a href="@Url.Action("Index", "Faq")">FAQ</a></li>
                        <li><a href="@Url.Action("Index", "ContactUs")">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-contact">
                    <h3 class="text-uppercase"><span class="color-black33">CONTACT US</span></h3>
                    <p>Victoria 8007 Australia Envato HQ 121 King Street, Melbourne.</p>
                    <div class="ftr-phone"><span>Phone </span>: <a href="#"> 99 55 66 88 526</a></div>
                    <div class="ftr-fax"><span>Fax </span>: <a href="#"> 55 44 77 62</a></div>
                    <div class="ftr-mail"><span>Email </span>: <a href="#"> CHeart@email.com</a></div>
                    <div class="ftr-mail"><span>Website </span>: <a href="#"> https://envato.com/</a></div>
                    <div class="ftr-mail"><span>Website </span>: <a href="#"> https://themeforest.net/</a></div>
                    <div class="ftr-mail"><span>Website </span>: <a href="#"> https://codecanyon.net/</a></div>
                    <ul class="list-inline footer-font-icon style2 ulockd-mrgn1215">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-feed"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="footer-twitter">
                    <h3 class="text-uppercase"><span class="color-black33">TWITTER FEEDS</span></h3>
                    <div class="twitter style2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ulockd-copy-right">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="color-white">Sirona Tele Med's Copyright© 2018. All right reserved.</p>
                </div>
            </div>
        </div>
    </div>
