﻿@using SironaTeleMed.Common
@using SironaTeleMedClient.Pages


<!--=========================*
              Navigation
    *===========================-->
<style>
    .hardCoded {
        color: #3644FF !important;
    }
</style>
<nav class="rt_nav_header horizontal-layout col-lg-12 col-12 p-0">
    <div class="top_nav flex-grow-1">
        <div class="container d-flex flex-row h-100 align-items-center">
            <!--=========================*
                          Logo
            *===========================-->
            <div class="text-center rt_nav_wrapper d-flex align-items-center">
                <a class="nav_logo rt_logo" href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "" })">

                    <h2 style="color:#fff;"> Sirona TM </h2>
                </a>
                <a class="nav_logo nav_logo_mob" href="@Url.Action(Actions.Index,Controllers.Dashboard, new { area = "" })"><img src="~/images/mobile-logo.svg" alt="logo" /></a>
            </div>
            <!--=========================*
                        End Logo
            *===========================-->
            <div class="nav_wrapper_main d-flex align-items-center justify-content-between flex-grow-1">
                <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
                    <!--==================================*
                             Notification Section
                    *====================================-->
                    <li class="nav-item dropdown">
                        <a herf="" class="nav-link count-indicator dropdown-toggle" id="notificationDropdown"
                           data-toggle="dropdown">
                            <i class="feather ft-bell" style="cursor:pointer" onclick="openNotifications()"></i>
                        </a>
                    </li>
                    <!--==================================*
                             End Notification Section
                    *====================================-->
                    <!--==================================*
                             Profile Menu
                    *====================================-->
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <span class="profile_name">@ProjectSession.UserName<i class="feather ft-chevron-down"></i></span>
                            <img src="@ProjectSession.UserProfilePicture" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown pt-2"
                             aria-labelledby="profileDropdown">
                            <a href="@Url.Action(Actions.Index,Controllers.MyAccount, new { area = "" })" class="dropdown-item">
                                <i class="ti-user text-dark mr-3"></i>
                                Profile
                            </a>
                            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#exampleModalLong1">
                                <i class="ti-lock text-dark mr-3"></i> Reset Password
                            </a>
                            @if (ProjectSession.UserType == 1)
                            {
                                if (ProjectSession.DoctorStatus == 8)
                                {
                                    <a id="Available" style="background: Red; color: #FFF;" class="dropdown-item" onclick="UpdatedocStatus()">
                                        Not Available
                                    </a>
                                }
                                else if (ProjectSession.DoctorStatus == 1)
                                {
                                    <a id="UnAvailable" style="background: Green; color: #FFF;" class="dropdown-item" onclick="UpdatedocStatus()">
                                        Available
                                    </a>
                                }

                            }
                            <span role="separator" class="divider"></span>
                            <a href="@Url.Action(Actions.Logout,Controllers.Login, new { area = "" })" class="dropdown-item">
                                <i class="ti-power-off text-dark mr-3"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                    <!--==================================*
                             End Profile Menu
                    *====================================-->
                </ul>
                <!--=========================*
                            Mobile Menu
                *===========================-->
                <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="feather ft-menu text-white"></span>
                </button>
                <!--=========================*
                        End Mobile Menu
                *===========================-->
            </div>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="container">
            <ul class="nav page-navigation">
                <!--=========================*ss
                          Home
                *===========================-->
                <li class="nav-item">
                    @if (ViewBag.DashboardHighlight == "active")
                    {
                        <a href="@Url.Action(Actions.Index,Controllers.Dashboard, new { area = "" })" class="nav-link hardCoded"><i class="menu_icon feather ft-home hardCoded"></i><span class="menu-title">Dashboard</span></a>
                    }
                    else
                    {
                        <a href="@Url.Action(Actions.Index,Controllers.Dashboard, new { area = "" })" class="nav-link"><i class="menu_icon feather ft-home"></i><span class="menu-title">Dashboard</span></a>
                    }

                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="menu_icon feather ft-briefcase"></i><span class="menu-title">Appointments</span><i class="menu-arrow"></i></a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            @if (ProjectSession.UserType == 3)
                            {
                                <li class="nav-item"><a class="nav-link" href="@Url.Action(Actions.NewAppointments,Controllers.Appointment, new { area = "" })"><i class="menu_icon ti-layout-cta-left"></i> <span>New Appointments</span></a></li>
                            }
                            <li class="nav-item"><a class="nav-link" href="@Url.Action(Actions.UpcomingAppointments,Controllers.Appointment, new { area = "" })"><i class="menu_icon ti-layout-cta-left"></i> <span>Upcoming Appointments</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action(Actions.Rejectedintments,Controllers.Appointment, new { area = "" })"><i class="menu_icon ti-layout-media-overlay-alt-2"></i> <span>Rejected Appointments</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="@Url.Action(Actions.CompletedAppointments,Controllers.Appointment, new { area = "" })"><i class="menu_icon ion-crop"></i> <span>Completed Appointments</span></a></li>
                        </ul>
                    </div>
                </li>

                @if (ProjectSession.UserType == 3)
                {
                    <li class="nav-item">
                        <a href="@Url.Action(Actions.CreateAppointment,Controllers.Appointment, new { area = "" })" class="nav-link"><i class="menu_icon feather ft-globe"></i><span class="menu-title">Create Appointments</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action(Actions.ManagePatients,Controllers.UserListing, new { area = "" })" class="nav-link">
                            <i class="menu_icon feather ft-briefcase"></i><span class="menu-title">Manage Patients</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action(Actions.ManageDoctors,Controllers.UserListing, new { area = "" })" class="nav-link">
                            <i class="menu_icon feather ft-briefcase"></i><span class="menu-title">Manage Doctors</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action(Actions.Index,Controllers.PatientsHistory, new { area = "" })" class="nav-link">
                            <i class="menu_icon feather ft-briefcase"></i><span class="menu-title">Patients' History</span>
                        </a>
                    </li>
                }
                @if (ProjectSession.UserType == 1)
                {
                    <li class="nav-item">
                        <a href="@Url.Action(Actions.Index,Controllers.PatientsHistory, new { area = "" })" class="nav-link">
                            <i class="menu_icon feather ft-briefcase"></i><span class="menu-title">Patients' History</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>



<div class="modal fade" id="exampleModalLong1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" style="width:100%">
        <div class="modal-content">
            <form class="needs-validation" novalidate="" autocomplete="off">
                <div class="lock-form-head">
                    <h4>Reset Password</h4>
                    <p>Please Reset Password</p>
                </div>
                <div class="modal-body">
                    <h5 id="msg" style="text-align:center;color:red;">@ViewBag.ErrorMessage</h5>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="validationCustom01">Old Password</label>
                            <input type="Password" class="form-control" Id="validationCustom01" required="" />
                            <div class="invalid-feedback">
                                Please Enter Old Passwrord
                            </div>
                            <i class="ti-lock"></i>
                        </div>
                        <div class="form-gp">
                            <label for="validationCustom02">Reset Password</label>
                            <input type="Password" class="form-control" Id="validationCustom02" required="" />
                            <div class="invalid-feedback">
                                Please Enter New Password
                            </div>
                            <i class="ti-lock"></i>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="button" class="btn btn-primary ">Submit <i class="ti-arrow-right"></i></button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<script>
    function openNotifications() {
        window.location.href='@Url.Action(Actions.Index, Controllers.Notification, new { Area = "" })';
    }

    function BtnClick() {
        var OldPassword = $("#validationCustom01").val();
        var Password = $("#validationCustom02").val();

        var pwd = {
            OldPassword: OldPassword,
            Password: Password,
        }
        Submitpwd(pwd);
    }


    function Submitpwd(pwd) {
        $.ajax({
            url: '@Url.Action(Actions.ResetPassword, Controllers.MyAccount)',
            type: 'Post',
            data: pwd,
            datatype: 'json',
            success: function (response) {
         
                if (response[1] != "danger") {
                    window.location.href = '@Url.Action(Actions.Index, Controllers.Login,new { suc = "Password Changed Successfully" })'
                }
                else {
                    document.getElementById('msg').innerHTML = "Old Password Does Not Match !";
                    document.getElementById('msg').style.display = 'block';
                }
            },
            error: function (jqXHR, exception) {
            }
        });
    }


    function SetitemId(itmId) {
        $("#itemId").val(itmId);
    }

    function UpdatedocStatus() {
        $.ajax({
            url: '@Url.Action(Actions.DoctorStatusUpdate,Controllers.MyAccount)',
            type: 'Post',
            success: function (response) {
                if (response.Success) {
                    window.location.reload();
                    //if (document.myform.username.value == "") {
                    //    document.getElementById('errors').innerHTML = "*Please enter a username*";
                    //    return false;
                    //}
                } else {
                    window.location.reload();
                }
            }
        });
    }

    //  Form Validation
    window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            document.getElementById("form_submit").addEventListener("click", function (event) {                
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    BtnClick();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);

    $(document).ready(function () {
        setTimeout(function () {
            $("#msg").fadeOut();
        }, 4000);
    });
</script>