﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SironaTeleMed - @ViewBag.Title</title>

    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!--=========================*
              Custom CSS
    *===========================-->
    <link rel="stylesheet" href="~/Content/style.css">
    <!--=========================*
               Owl CSS
    *===========================-->
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <!--=========================*
            Font Awesome
    *===========================-->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!--=========================*
             Themify Icons
    *===========================-->
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <!--=========================*
               Ionicons
    *===========================-->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!--=========================*
              EtLine Icons
    *===========================-->
    <link href="~/Content/et-line.css" rel="stylesheet" />
    <!--=========================*
              Feather Icons
    *===========================-->
    <link href="~/Content/feather.css" rel="stylesheet" />
    <!--=========================*
              Modernizer
    *===========================-->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <!--=========================*
               Metis Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <!--=========================*
               Slick Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <!--=========================*
              text-Editor css
    *===========================-->
    <link rel="stylesheet" href="~/Content/summernote.css">
    <link rel="stylesheet" href="~/Content/summernote-bs4.css">

    <!--=========================*
              Drop zone css
    *===========================-->
    <link rel="stylesheet" href="~/Content/dropzone.css">
    <!--=========================*
               sucess Alert model css
    *===========================-->
    <link rel="stylesheet" href="~/Content/sweetalert2.min.css">

    <!--=========================*
        Date time picker
    *===========================-->
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">

    <!--=========================*
               Datatable
    *===========================-->
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.jqueryui.min.css">

    <!--=========================*
            Google Fonts
    *===========================-->
    <!-- Montserrat USE: font-family: 'Montserrat', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--=========================*
             Page Container
    *===========================-->
    <div class="container-scroller">
        @Html.Partial("_Header")
        <!--=========================*
                  Main Content
        *===========================-->
        <div class="main-content">
            <div class="main-content-inner">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-area">
                <p>&copy; Copyright 2019. All right reserved. Template by Plexoc.</p>
            </div>
        </footer>
        <!--=================================*
                    End Footer Section
        *===================================-->
    </div>
    <!--=========================*
            End Page Container
    *===========================-->
    <!--=========================*
                Scripts
    *===========================-->
    <!-- Jquery Js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- SlimScroll Js -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <!-- Slick Nav -->
    <script src="~/Scripts/jquery.slicknav.min.js"></script>

    <!-- Main Js -->
    <script src="~/Scripts/main.js"></script>
    <!-- sucess model js -->
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/init/sweet-alert.js"></script>
    <!-- drop zonejs -->
    <script src="~/Scripts/dropzone.js"></script>

    <!-- text editor js -->
    <script src="~/Scripts/init/editors.js"></script>
    <script src="~/Scripts/summernote-bs4.min.js"></script>


    <!-- Date timepicker js -->

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>

    <!-- Data Table js -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/responsive.bootstrap.min.js"></script>

    <script>
        //<------For DATE & TIME-------->//
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                timePicker: true,
                startDate: moment().startOf('hour'),
                endDate: moment().startOf('hour').add(32, 'hour'),
                locale: {
                    format: 'DD/MM/YYYY hh:mm A'
                }
            });
        });

        //<------ For DATE Only-------->//
        $(function () {
            $('input[name="date"]').daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                minDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY '
                }
            });

            $('input[name="olddate"]').daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                maxDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY '
                }
            });

            $('input[name="date"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });

            $('input[name="olddate"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });
        });

        $(function () {
            $('input[name="dateselect"]').daterangepicker({
                singleDatePicker: true,
                minDate: new Date(),
                locale: {
                    format: 'DD/MM/YYYY '
                }
            });
        });

        //<------ For DATE2 Only-------->//
        $(function () {
            $('input[name="olddateselect"]').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'DD/MM/YYYY '
                }
            });
        });

        //<------ For TIME Only-------->//
        $(function () {
            $('input[name="time"]').daterangepicker({
                singleDatePicker: true,
                DatePicker: false,
                timePicker: true,
                locale: {
                    format: 'hh:mm A'
                }
            }).on('show.daterangepicker', function (ev, picker) {
                picker.container.find(".calendar-table").hide();
            });
        });

            if (@ProjectSession.UserType == 1) {
                $('.top_nav').css('background','#B22222')
            }
            if (@ProjectSession.UserType == 2) {
                $('.top_nav').css('background','#02007C')
            }
            if (@ProjectSession.UserType == 3) {
                $('.top_nav').css('background','green')
            }
    </script>
    <script>
        $("#Country").change(function () {
            var state = $("#Country").val();
            $("#CountryId").val(state);
            $.ajax({
                url: '/MyAccount/Search1',
                data: ({ Id: state }),
                type: 'Post',
                datatype: 'json',
                success: onSuccess,
            });
        });

        $("#State").change(function () {
            var state = $("#State").val();
            $("#StateId").val(state);
        });

        function onSuccess(responseText, statusText, xhr, $form) {
            if (responseText[2].length > 0) {
                var select = $("#State");
                select.empty();
                select.children().remove();
                //select.append('<option selected="selected" value="0">Select State</option>');
                $(responseText[2]).each(function (index, item) {
                    select.append($("<option>").val(item.Value).text(item.Text));
                });
            }
        }
    </script>

</body>
</html>
