﻿@using SironaTeleMed.Common
@using SironaTeleMedClient.Pages

<div class="mdk-drawer js-mdk-drawer" id="default-drawer">
    <div class="mdk-drawer__content ls-top-navbar-xs-up">
        <div class="sidebar sidebar-left sidebar-light bg-white o-hidden">
            <div class="sidebar-p-y" data-simplebar data-simplebar-force-enabled="true">
                <div class="sidebar-heading">MENU</div>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "" })">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">home</i> Home <!--Student was here before-->
                        </a>
                    </li>
                </ul>
                <div class="sidebar-heading">@ProjectSession.UserTypeStr</div>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="@Url.Action(Actions.Index, Controllers.SearchCourses, new { area = "" })">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">search</i> Search Services
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="@Url.Action(Actions.UpcomingSessions , Controllers.TestLists, new { area = "" })">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">today</i> Upcoming Sessions
                        </a>
                    </li>

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="@Url.Action(Actions.CompletedSessions, Controllers.TestLists, new { area = "" })">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i> Completed Sessions
                        </a>
                    </li>

                    @if (ProjectSession.UserType == (int)UserTypeEnum.Provider)
                    {
                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="@Url.Action(Actions.Index, Controllers.SearchResources, new { area = "" })">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">star</i> Review and Rating
                            </a>
                        </li>



                        <li class="sidebar-menu-item">
                            <a class="sidebar-menu-button" href="@Url.Action(Actions.Rating, Controllers.SearchResources , new { area = "" })">
                                <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">school</i> Rating
                            </a>
                        </li>
                    }

                    <li class="sidebar-menu-item">
                        <a class="sidebar-menu-button" href="@Url.Action(Actions.Logout, Controllers.Logout, new { area = "" })">
                            <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">lock</i> Logout
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

