﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "ManageDoctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AbstractUsers>

<div class="row">
    
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action(Actions.UserDetails,Controllers.UserListing, new { area = "", id=ConvertTo.Base64Encode("0") })" class="btn btn-sm btn-primary float-right mb-3">
                    Add New
                </a>
                <h4 class="card_title mt-2">Doctors Listing</h4>
            </div>
        </div>
        <div class="card table-responsive">
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <h5 id="success" style="text-align:center; color:#06D6A0;">@ViewBag.SuccessMessage</h5>
                    <div class="grid" id="divClientTable" style="padding: 25px;">
                        <table class="table table-striped" id="clientTable"></table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong">
    <div class="modal-dialog modal-dialog-centered">
        <input type="hidden" id="itemId" />
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="UpdateStatus()" id="UserTable">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SetitemId(itmId) {
        $("#itemId").val(itmId);
    }

    function UpdateStatus() {
        var itemId = $("#itemId").val();
        var url = '@Url.Action("UserStatusUpdate", "UserListing")';
        var data = { Id:itemId };
          $.post(url, data, function (result) {
              $("#itemId").val("");
              window.location.reload();
        });
    }


    $(document).ready(function () {
        BindClientTable();
    });

    function BindClientTable() {
        if ($.fn.DataTable.isDataTable("#clientTable")) {
            $('#clientTable').dataTable().fnDestroy();
            $('#divClientTable').html('<table class="table table-striped" width="100%"  id="clientTable"></table>');
        }
        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });
        table = $("#clientTable").dataTable({
            "autoWidth": false,
            "searching": false,
            "paging": true,
            "sPaginationType": "full_numbers",
            "language": {
                "lengthMenu": "Page Size : _MENU_ ",
                "info": "Records _START_ to _END_ of (_TOTAL_)",
                "emptyTable": "No Record(s) Found"
            },
            "processing": true,
            "serverSide": true,
            "pageLength": "@ProjectSession.PageSize",
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindDoctors, Controllers.UserListing, new { Area = "" })',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Doctor Name", "data": "",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        return '<p>' + row["FirstName"] + ' ' + row["LastName"]+'</p>'
                    },
                   "orderable": false, "width": "8%"
                },
                { "title": "Email", "data": "Email", "orderable": false, "width": "8%" },
                { "title": "Phone", "data": "Phone", "orderable": false, "width": "8%" },
                {
                    "title": "Action", "data": "",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        var Id = btoa(row["Id"]);
                        var url = '@Url.Action(Actions.UserDetails, Controllers.UserListing, new { area = ""})'
                        appendstring = '<a href="'+url+'?id='+Id+'" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>'
                        if (row["IsActive"] == 1) {
                            appendstring += '<button class="btn btn-success" id="' + Id + '" onclick="SetitemId(id)" data-toggle="modal" data-target="#exampleModalLong" value="Update" title="Make it as In-Active" style="margin-left:10px"><i class="ti-check"></i></button>'
                        } else if (row["IsActive"] == 0) {
                            appendstring += '<button class="btn btn-danger" id="' + Id + '" onclick="SetitemId(id)" data-toggle="modal" data-target="#exampleModalLong" value="Update" title="Make it as Active" style="margin-left:10px"><i class="ti-close"></i></button>'
                        }
                        else if (row["IsActive"] == 8) {
                            appendstring += '<button class="btn btn-warning" id="' + Id + '" title="Not Available" style="margin-left:10px; cursor: default;"><i class="ti-face-sad" style="cursor: default;"></i></button>'
                        }
                        return appendstring;
                    },
                    "orderable": false, "width": "8%"
                }
            ],
            "drawCallback": function (settings) {
                //hide paging and info when empty datattable
                var api = this.api();
                if (api.rows({ page: 'current' }).data().length <= 0) {
                    $('#clientTable_info').hide();
                    $('#clientTable_paginate').hide();
                      }
                else {
                    $('#clientTable_info').show();
                    $('#clientTable_paginate').show();
                    $('#clientTable_length').show();
                }
                //bindSortingArrow();
            }
        });
        $('.grid-bottom').addClass('clearfix');
        $('select[name=clientTable_length]').addClass('selectpicker');
    }

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["DateSearch"] = $("#Date").val();
            return param;
        } catch (e) { }
    }

    $(document).ready(function () {
        setTimeout(function () {
            $("#success").fadeOut();
        }, 4000);
    });
</script>
