﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Entities.V1
@using SironaTeleMed.Common;

@{
    ViewBag.Title = "BookAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Users
<style>
    #more {
        display: none;
    }

    .readmore {
        color: #3644ff;
    }

    #contact-form {
    }

        #contact-form input {
            border: 1px solid #ebebeb;
            color: #000;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 400;
            height: 50px;
            padding-left: 25px;
            width: 100%;
        }

            #contact-form input:focus {
                border-color: #3644FF;
            }

        #contact-form textarea {
            border: 1px solid #ebebeb;
            font-family: Montserrat;
            color: #999999;
            font-size: 13px;
            font-weight: 400;
            height: 120px;
            padding: 25px;
            width: 100%;
        }

        #contact-form button {
            background: #1A73E8 !important;
            border: none;
            color: white !important;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            padding: 17px 44px;
            text-transform: uppercase;
            transition: .3s;
            letter-spacing: 1px;
        }

            #contact-form button:hover {
                background: #1A73E8;
                color: #fff;
                border-color: #1A73E8;
            }
</style>
<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3" onclick="goBack()">
                    Back
                </a>

                <h4 class="card_title mt-2">Details</h4>
                @using (Html.BeginForm(Actions.AddUserDetails, Controllers.UserListing, FormMethod.Post, new { @id = "contact-form", @class = "needs-validation", @novalidate = "" }))
                {
                    <h5 id="error" style="text-align:center; color:red;">@ViewBag.ErrorMessage</h5>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table progress-table">
                                <tbody>
                                    @if (Model == null || Model.Id == 0)
                                    {
                                        @Html.HiddenFor(model => model.Id)
                                        <tr>
                                            <td><b>First Name <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.FirstName, new { maxlength = 100, @placeholder = "First Name", @class = "form-control", @required = "" })
                                                <div class="invalid-feedback">
                                                    Please Enter First Name
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Last Name <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.LastName, new { maxlength = 100, @placeholder = "Last Name", @class = "form-control", @required = "" })
                                                <div class="invalid-feedback">
                                                    Please Enter Last Name
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Email <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Email, new { maxlength = 100, @placeholder = "Email", @class = "form-control", @required = "" })
                                                <div class="invalid-feedback">
                                                    Please Enter Email
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Password <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Password, new { maxlength = 100, @placeholder = "Password", @class = "form-control", @required = "" })
                                                <div class="invalid-feedback">
                                                    Please Enter Password
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Phone <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Phone, new { @type = "number", @placeholder = "Phone", @class = "form-control", @required = "" })
                                                <div class="invalid-feedback">
                                                    Please Enter Phone
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Date of Birth</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Dateofbirth, new { @name = "birthday", @Type = "text", @class = "form-control", @required = "", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Street<strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.AddressLine2, new { maxlength = 100, @placeholder = "Street", @class = "form-control", @required = "" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Apt/Suite</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Address, new { maxlength = 100, @placeholder = "Apartment", @class = "form-control" })
                                                <div class="invalid-feedback">
                                                    Please Enter Apartment
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><b>City <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.City, new { maxlength = 100, @placeholder = "City", @class = "form-control", @required = "" })
                                                <div class="invalid-feedback">
                                                    Please Enter City
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>State <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)ViewBag.State, new { @id = "State", @class = "form-control", @required = "" })
                                                @Html.HiddenFor(model => model.StateId)
                                                <div class="invalid-feedback">
                                                    Please Select State
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Zip Code <strong class="required">*</strong></b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.CountryId, new { @type = "number", maxlength = 100, @placeholder = "Zip Code", @class = "form-control", @required = "" })
                                                @*@Html.DropDownListFor(model => model.CountryId, (IEnumerable<SelectListItem>)ViewBag.Country, new { @id = "Country", @class = "form-control", @required = "" })*@
                                                @*@Html.HiddenFor(model => model.CountryId)*@
                                                <div class="invalid-feedback">
                                                    Please Enter Zip Code
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @*@Html.HiddenFor(model => model.Id)*@
                                        <tr>
                                            <td><b>First Name</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.FirstName, new { maxlength = 100, @placeholder = "First Name", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Last Name</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.LastName, new { maxlength = 100, @placeholder = "Last Name", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Email</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Email, new { maxlength = 100, @placeholder = "Email", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Password</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Password, new { maxlength = 100, @placeholder = "Password", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Phone</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Phone, new { @type = "number", @placeholder = "Phone", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Date of Birth</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Dateofbirth, new { @name = "birthday", @Type = "text", @class = "form-control", @required = "", @id = "birthday", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Apt/Suite</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.Address, new { maxlength = 100, @placeholder = "Apartment", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Street</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.AddressLine2, new { maxlength = 100, @placeholder = "Street", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>City</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.City, new { maxlength = 100, @placeholder = "City", @readonly = "readonly" })
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><b>State</b></td>
                                            <td>
                                                @Html.DropDownListFor(model => model.StateId, (IEnumerable<SelectListItem>)ViewBag.State, new { @id = "State", @class = "form-control", @disabled = "disabled", @required = "" })
                                                @Html.HiddenFor(model => model.StateId)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Zip Code</b></td>
                                            <td>
                                                @Html.TextBoxFor(model => model.CountryId, new { @type = "number", @placeholder = "Zip Code", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>


    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }

    function goBack() {

            if (@Model.UserType== 2) {
            window.location.replace('/UserListing/ManagePatients');
        }
        else {
            window.location.replace('/UserListing/ManageDoctors');
        }

    }
</script>
<script>
    window.addEventListener('load', function () {

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    }, false);
</script>
<script>

    $("#Country").change(function () {

            var state = $("#Country").val();
            $("#CountryId").val(state);
            $.ajax({
            url: '@Url.Action(Actions.Search1, Controllers.UserListing, new { Area = "" })',
                data: ({ Id: state }),
                type: 'Post',
                datatype: 'json',
                success: onSuccess,
              });
        });

         $("#State").change(function () {
            var state = $("#State").val();
            $("#StateId").val(state);
        });

        function onSuccess(responseText, statusText, xhr, $form) {

            if (responseText[2].length > 0) {

                var select = $("#State");
                select.empty();
                select.children().remove();
                //select.append('<option selected="selected" value="0">Select State</option>');
                $(responseText[2]).each(function (index, item) {
                    select.append($("<option>").val(item.Value).text(item.Text));
                });
            }
    }

    $(document).ready(function () {
        setTimeout(function () {
            $("#error").fadeOut();
        }, 4000);
    });
</script>
