﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
@{
    ViewBag.Title = "UserListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                @*<a href="@Url.Action(Actions.Userdetails,Controllers.UserListing, new { area = "" })" class="btn btn-sm btn-primary float-right mb-3">
                    View All
                </a>*@
                <h4 class="card_title mt-2">Patient Listing</h4>

                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th>Name</th>
                                    <th scope="row">Email</th>
                                    <th scope="row">Phone</th>                                    
                                    <th scope="row">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>markanathony@gmail.com</td>
                                    <td>+41 567000222</td>                                    
                                    <td style="display:flex;">
                                        <a href="@Url.Action(Actions.Userdetails,Controllers.UserListing, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong" title="Active" style="margin-left:10px"><i class="ti-check"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>John Doe</td>
                                    <td>johndoe@gmail.com</td>
                                    <td>+41 899020123</td>
                                    <td style="display:flex;">
                                        <a href="@Url.Action(Actions.Userdetails,Controllers.UserListing, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong" title="In-Active" style="margin-left:10px"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amy Winehouse</td>
                                    <td>amywinehouse@jazz.com</td>
                                    <td>+41 789112123</td>
                                    <td style="display:flex;">
                                        <a href="@Url.Action(Actions.Userdetails,Controllers.UserListing, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong" title="Active" style="margin-left:10px"><i class="ti-check"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Richard McCloney</td>
                                    <td>richard@clooneyfoundation.com</td>
                                    <td>+41 398024232</td>
                                    <td style="display:flex;">
                                        <a href="@Url.Action(Actions.Userdetails,Controllers.UserListing, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong" title="In-Active" style="margin-left:10px"><i class="ti-close"></i></button>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>