﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMedClient.Infrastructure;
@using SironaTeleMed.Entities.V1;
@model Users
@{
    ViewBag.Title = "Login";
    Layout = null;
    string userName = string.Empty;
    string password = string.Empty;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SironaTeleMed - Log In</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/et-line.css" rel="stylesheet" />
    <link href="~/Content/feather.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Client/style.css">
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <style>
        .ap-timers {
            background: #e3e3e3;
            padding: 20px 15px;
            display: inline-block;
        }
        .addclassmar {
            margin: auto !important;
        }

        .addclasspad {
            padding: 60px 0px !important;
        }

            .ap-timers ul {
                padding: 0;
                margin: 0;
                width: 100%;
                list-style: square;
            }

                .ap-timers ul li {
                    position: relative;
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 25px;
                }

                    .ap-timers ul li a {
                        width: 100%;
                        background: #fff;
                        border-radius: 5px;
                        padding: 8px 15px;
                        color: #1a2c3f;
                        font-size: 14px;
                        text-decoration: none;
                        border: 1px solid #dfdfdf;
                    }

                        .ap-timers ul li a:hover {
                            background: #cccccc;
                        }

        .list-inline > li {
            display: inline-block;
            padding-right: 25px;
            padding-left: 30px;
        }
        .login-form form {
            margin: 37px;
            z-index: 2;
            position: inherit !important;
            left: inherit !important;
            transform: inherit !important;
            width: 50%;
            top: inherit !important;
            background: #fff;
            border-radius: 10px;
            -webkit-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
            -moz-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
            box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
        }

        .topnav {
            overflow: hidden;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 35px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .topnav .icon {
                display: none;
            }

        .logbtn {
            background: #1EBEA5 !important;
            margin-top: 10px;
            font-weight: bold;
            font-size: 15px;
            border-radius: 30px;
        }

        .Register-form-body {
            padding: 10px 50px !important;
        }

        .colmd {
            padding: 6px 0px !important;
        }
        .guestbook{
            display: flex;
        }
        @@media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @@media screen and (max-width: 600px) {
            .topnav.responsive {
                position: relative;
            }

                .topnav.responsive .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            .guestbook {
                display: grid !important;
            }
                .topnav.responsive a {
                    float: none;
                    display: block;
                    text-align: left;
                }

            .logbtn {
                padding: 6px 6px;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 7px;
            }

            .datetime {
                float: left !important;
            }

            .Register-form-body {
                padding: 10px 10px !important;
            }

            .logres {
                text-align: center;
            }

            .inspectlet-sensitive {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

                .inspectlet-sensitive .control-label {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }

                .inspectlet-sensitive div {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }

            .colmd {
                padding: 0px !important;
            }

            .radiobtn {
                width: 10% !important;
            }

            .datetitle {
                padding: 0px 3px !important;
            }

            .terms {
                font-size: 11px !important;
                margin-left: 10px !important;
            }

            .h2head {
                font-size: 28px !important;
                margin-bottom: 10px !important;
            }

            .topnav a {
                padding: 14px 20px !important;
            }

            .color-white {
                font-size: 12px !important;
            }

            .ulockd-copy-right {
                padding: 10px 0px !important;
            }

            .welcm-ht {
                text-align: center !important;
            }

            .insuranceres {
                margin: 0px !important;
            }

                .insuranceres label,
                .insuranceres div #insurance {
                    margin-left: 0px !important;
                }

            .modal-body p,
            .modal-body ul li {
                font-size: 11px !important;
            }

            .modal-title {
                font-size: 13px;
            }

            .StripeElement {
                margin-top: 0px !important;
            }

            #insurinfo {
                padding: 0px !important;
            }

            .text-muted {
                font-size: 14px !important;
            }

            .form-footer {
                margin-top: 1rem !important;
            }

            .bttag {
                display: none;
            }
            .addclassmar {
                width: 90% !important;
            }
            .rmber-area{
                display:grid;
            }
            .rmber-area div{
                max-width: 100%;
            }
            .needs-validation{
                width: 90% !important;  
            }
            .login-form form {
                margin: 16px !important;
            }
        }
        .btn-area {
            text-transform: uppercase;
            letter-spacing: 0;
            font-weight: 600;
            font-size: 12px;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header-middle colmd">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 colmd">
                        <div class="welcm-ht">
                            <a href="#" class="ulockd-main-logo"><h1 style="color:#1EBEA5;font-weight:bold;margin:0px !important;">Sirona Tele Med</h1></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ulockd-pad390" style="padding: 6px 0px;">
                        <div class="topnav" id="myTopnav">
                            <a href="#home" class="active">Home</a>
                            <a href="#news">Pricing</a>
                            <a href="#contact">FAQ</a>
                            <a href="#about">Contact Us</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="logres" style="display:flex;">
                            <a href="@Url.Action("Index", "BookNow" )" class="btn btn-info logbtn">Book Appointment</a>
                            <a href="@Url.Action("Index", "Login" )" class="btn btn-info logbtn" style="margin-left:10px;">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="login-form col-md-12 guestbook" id="loginifelse" style="position:sticky">
                    @if (ViewBag.ReturnUrl != null && ViewBag.ReturnUrl.ToString().Contains("SSid"))
                    {
                        <form action="" class="needs-validation" id="contact-form" method="post" novalidate="">
                            <div style="text-align:center;">
                            </div>
                            <div class="login-form-body" style="padding-top: 20px;margin-top:15%;">
                                <div class="submit-btn-area">
                                    <a href="@Url.Action(Actions.Index, Controllers.Register, new { area = "", ReturnUrl = ViewBag.ReturnUrl })" class="btn btn-info" style="background: #1EBEA5 !important;width: 100% !important;margin-top:10px;border-radius: 40px;padding: 14px 0px;">Sign Up</a>
                                    <p style="margin: 0px;margin-top:5px;width: 100%;">--- OR ---</p>
                                    <a href="@Url.Action(Actions.GuestRegister, Controllers.Register, new { area = "", SSid = ViewBag.SSId, ReturnUrl = ViewBag.ReturnUrl })" class="btn btn-info" style="background: #1EBEA5 !important;width: 100% !important;padding: 14px 0px;margin-top:10px;border-radius: 40px;">Book As Guest <i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </form>
                    }
                    @using (Html.BeginForm(Actions.Index, Controllers.Login, new { Area = Areas.Public, ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "contact-form", @class = "needs-validation", @novalidate = "" }))
                    {
                        <h4 id="msg" style="text-align:center;color:red;">@ViewBag.ErrorMessage</h4>
                        <h4 id="success" style="text-align:center;color:#06D6A0;">@ViewBag.SuccessMessage</h4>
                        <div style="text-align:center">
                            <h2 style="color:#1EBEA5">Sign In</h2>
                        </div>
                        <div class="login-form-body" style="padding-top: 20px;">
                            <div class="form-group row">

                                <div class="input-group" style="border-bottom:none">
                                    <label for="validationCustom02">E-mail <span style="color:red">*</span></label>
                                    <div class="col-sm-9" style="margin-left:21px">
                                        @Html.TextBoxFor(model => model.Email, new { @maxlength = 100, @class = "form-control", @required = "", @placeholder = "E-mail" })
                                        @*<div class="input-group-text"> <i style="color: #1EBEA5" class="ti-email"></i></div>*@
                                        <div class="invalid-feedback">
                                            Please Enter E-mail
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="input-group" style="border-bottom:none">
                                    <label for="exampleInputPassword1">Password  <span style="color:red">*</span></label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Password, new { maxlength = 100, @class = "form-control", @type = "password", @required = "", @placeholder = "Password" })
                                        @*<div class="input-group-text"><i style="color: #1EBEA5;" class="ti-lock"></i></div>*@
                                        <div class="invalid-feedback">
                                            Please Enter Password
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-7" style="padding-left:0px">
                                    <p class="text-muted">Don't have an account? <a style="color: #1EBEA5 !important;font-weight:bold;" href="@Url.Action(Actions.Index,Controllers.Register,new { area="",ReturnUrl=ViewBag.ReturnUrl})" class="text-primary">Sign Up</a></p>
                                </div>
                                <div class="col-5">
                                    <div class="btn-area">
                                        <button id="form_submit" type="submit" class="btn btn-info" style=" background: #1EBEA5 !important;width:74%">Log In</button>

                                    </div>
                                    </div>
                                </div>
                                <div class="form-group row  mt-4" style="margin-bottom:0px">
                                    <div class="col-7">
                                   
                                        @*<div class="custom-control custom-checkbox primary-checkbox mr-sm-2">
                    <input type="checkbox" class="form-check-input" id="customControlAutosizing">
                    <label class="form-check-label" for="customControlAutosizing">Remember Me</label>
                </div>*@
                                    </div>
                                    <div class="col-5">
                                        <a href="#" class="text-primary" style="color: #1EBEA5 !important;font-weight:bold;font-size:15px">Forgot Password?</a>
                                    </div>
                                </div>

                                @*<div class="form-footer text-center" style="margin-top:10px">
            <p class="text-muted">Don't have an account? <a style="color: #1EBEA5 !important;font-weight:bold;" href="@Url.Action(Actions.Index,Controllers.Register,new { area="",ReturnUrl=ViewBag.ReturnUrl})" class="text-primary">Sign Up</a></p>
        </div>*@
                            </div>
                            }
                        </div><!--login-form-->
            </div><!--row-->
        </div><!--container-fluid-->
        <div class="ulockd-copy-right" style="background-color: #1EBEA5 !important;position:fixed;bottom:0;width:100%">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="color-white">Sirona Tele Med's Copyright© 2018. All right reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--wrapper-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/metisMenu.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        $(document).ready(function () {
            if ('@ViewBag.ReturnUrl' != null && '@Convert.ToString(ViewBag.ReturnUrl).Contains("SSid")' == "True") {
            }
            else {
                $("#contact-form").addClass("addclassmar");
                $("#loginifelse").addClass("addclasspad");
            }
           


            setTimeout(function () {
                $("#success").fadeOut();
            }, 4000);
        });
    </script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>