﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMedClient.Infrastructure;
@using SironaTeleMed.Entities.V1;

@model Users
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login | SironaTeleMed</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="~/images/favicon.png" />

    @Styles.Render("~/Content/bootstrapCss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastrCss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Common")
    @Scripts.Render("~/bundles/toastrScript")
</head>
<body>
    <div class="vertical-wrapper">

        <div class="login-panel-wrapper">
            <div class="login-panel">
                <div class="logo">
                    <a href="#" title="SironaTeleMed">
                        <img src="~/images/Lifetools2.jpg" height="70" />
                    </a>
                </div>

                @using (Html.BeginForm(Actions.ResetPassword, Controllers.Login, new { Area = "", id = @ViewBag.userid }, FormMethod.Post, new { id = "frmlogin" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "Password", maxlength = 100, @placeholder = "New Password", @type = "password" })
                        @*<span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
                    </div>
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "ReTypePassword", maxlength = 200, @placeholder = "Confirm Password", @type = "password" })
                        @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                    </div>
                    <div style="display:none" id="pwd"><p style="color:red">Passwords does't match</p></div>
                    <button type="submit" class="btn btn-primary fluid" onclick="submit">Save</button>
                }
            </div>
            @*<p class="copyright" style="padding:0px;">&copy;2018 LifeTools | <a href="@Url.Action(Actions.PrivacyPolicy, Controllers.Account, new { Area = "" })">Privacy Policy</a> | All rights reserved.</p>*@



        </div>
    </div>
    @Html.Raw(ViewBag.openPopup)
    @*  @RenderSection("scripts", required: false)*@
</body>
</html>

<script>
    $(function () {
        setTimeout(function () {
            $(':input:enabled:visible:first').focus();
            $('.modal.fade').off('shown.bs.modal').on('shown.bs.modal', function () {
                $(this).find('input:enabled:visible:first').focus();
            });
        }, 200);
    });


    function Save() {
       
        if ($("#frmlogin").valid()) {

        }
        else {
            return false;
        }
    }

    $('input').blur(function () {
        var pass = $('#Password').val();
        var repass = $('#ReTypePassword').val();
        if (($('#Password').val().length == 0) || ($('#ReTypePassword').val().length == 0)) {
            $('#Password').css("border-color", "red");
            $(':input[type="submit"]').prop('disabled', true);
        }
        else if (pass != repass) {
            $('#Password').css("border-color", "red");
            $('#ReTypePassword').css("border-color", "red");
            $('#pwd').css("display", "block");
            $(':input[type="submit"]').prop('disabled', true);
        }
        else {
            $('#Password').css("border-color", "#999999");
            $('#ReTypePassword').css("border-color", "#999999");
            $('#pwd').css("display", "none");
            $(':input[type="submit"]').prop('disabled', false);
        }
    });

</script>



