﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Entities.V1
@using SironaTeleMed.Common;
@{
    ViewBag.Title = "AppointmentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Sessions
<style>
    #more {
        display: none;
    }

    .readmore {
        color: #3644ff;
    }

    #contact-form input {
        border: 1px solid #ebebeb;
        color: #999999;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        height: 50px;
        padding-left: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    #contact-form textarea {
        border: 1px solid #ebebeb;
        font-family: Montserrat;
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        height: 120px;
        padding: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    #contact-form button {
        background: #1A73E8 !important;
        border: none;
        color: white !important;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        padding: 17px 44px;
        text-transform: uppercase;
        transition: .3s;
        letter-spacing: 1px;
    }

        #contact-form button:hover {
            background: #1A73E8;
            color: #fff;
            border-color: #1A73E8;
        }
</style>
@*<div class="row">*@
    <!-- Progress Table start -->
    @*<div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3" onclick="goBack()">
                    Back
                </a>
                <h4 class="card_title mt-2">Book Appointment</h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table progress-table">
                            @using (Html.BeginForm(Actions.AppointmentDetails, Controllers.Appointment, FormMethod.Post, new { @id = "contact-form" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.SessionScheduleId)
                                <tbody>
                                    @if (ViewBag.IsEdit == 1)
                                    {
                                        <tr>
                                            <td><b>Assigned Doctors</b></td>
                                            <td>
                                                <select>
                                                    <option>No Doctor Assigned</option>
                                                    <option>Dr. Harry</option>
                                                    <option>Dr. Aadam</option>
                                                    <option>Dr. Marry</option>
                                                    <option>Dr. Devansh</option>
                                                </select>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Date</b></td>
                                        <td><b>@Model.DisplayDate</b></td>
                                    </tr>
                                    <tr>
                                        <td><b>Time</b></td>
                                        <td><b>@Model.DisplayTime</b></td>
                                    </tr>
                                    @if (ViewBag.IsEdit == 1)
                                    {
                                        <tr>
                                            <td><b>Status</b></td>
                                            <td><span class="badge badge-success">Completed</span></td>
                                        </tr>
                                    }
                                        <tr>
                                            <td><b>Chief Complaints</b></td>
                                            <td>
                                                <div class="col-lg-12 mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @Html.TextAreaFor(model => model.UserDescription, new { rows = 5, style = "width:100%; border: 1px solid #dee2e6;" })<br />
                                                            @Html.ValidationMessageFor(model => model.UserDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Special Request</b></td>
                                            <td>
                                                <div class="col-lg-12 mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @Html.TextAreaFor(model => model.SpecialRequests, new { rows = 5, style = "width:100%; border: 1px solid #dee2e6;" })<br />
                                                            @Html.ValidationMessageFor(model => model.SpecialRequests, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <tr>
                                        <td><b>Upload Documents</b></td>
                                        <td>
                                            <div class="card">
                                                <div class="card-body">
                                                    <form action="#" class="dropzone dropzone-primary dz-clickable" id="multple-file-upload">
                                                        <div class="dz-default dz-message">
                                                            <span><i class="ti-gallery"></i></span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td style="width:40%"><b>Doctor Comment 1</b></td>
                                            <td>
                                                @Model.DoctorComments
                                            </td>
                                        </tr>
                                        if (ProjectSession.UserType == 1 || ProjectSession.UserType == 3)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 2</b></td>
                                                <td>*@
                                                    @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel
                                                        <span id="dots3">...</span>
                                                        <span id="more3" style="display: none">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
                                                        <button onclick="myFunction3()" id="myBtn3" class="readmore">Read more</button>*@
                                                    @*@Model.DoctorComments2
                                                </td>
                                            </tr>
                                        }
                                        if (ProjectSession.UserType == 1 || ProjectSession.UserType == 3)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 3</b></td>
                                                <td>*@
                                                    @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel
                                                        <span id="dots4">...</span>
                                                        <span id="more4" style="display: none">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
                                                        <button onclick="myFunction4()" id="myBtn4" class="readmore">Read more</button>*@
                                                    @*@Model.DoctorComments3
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td style="width:40%"><b>Doctor Comment 4</b></td>
                                            <td>*@
                                                @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel
                                                    <span id="dots5">...</span>
                                                    <span id="more5" style="display: none">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span>
                                                    <button onclick="myFunction5()" id="myBtn5" class="readmore">Read more</button>*@
                                                @*@Model.DoctorComments4
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModalCenter" title="Book" style="float:right">Book Now</button>
                                                <div class="modal fade" id="exampleModalCenter">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">*@
                                                                @*<h5 class="modal-title">Modal title</h5>*@
                                                                @*<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group" style="width: 100%;">
                                                                    <div style="text-align: center;"><h2>Info</h2></div>
                                                                    <label class="col-form-label">By booking this appointment an amount of $45 shall be charged. Are you sure you want to continue?</label>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light" data-dismiss="modal" title="Cancel">Cancel</button>
                                                                <button type="submit" class="btn btn-primary" id="accept" title="Accept">Accept</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="sucessmodel">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">*@
                                                                @*<h5 class="modal-title">Modal title</h5>*@
                                                                @*<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group" style="width: 100%;">
                                                                    <div style="text-align: center;"><h2>Success!</h2></div>
                                                                    <div style="text-align: center;"><h4>Your Appointment has been booked</h4></div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" onclick="location.href='@Url.Action("Index", "Dashboard")'" class="btn btn-light" data-dismiss="modal" title="Cancel">OK</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

        $(document).ready(function () {
        $('#accept').click(function () {
            var session = new Object()
            session.SessionScheduleId = $("#SessionScheduleId").val();
             session.UserDescription = $("#UserDescription").val();
            session.SpecialRequests = $("#SpecialRequests").val();
             $.ajax({
              type: "POST",
              data: session,
              url: "@Url.Action("AddBookAppointments", "Appointment")",
                 success: function (response) {
                     $('#exampleModalCenter').modal('hide')
                     $('#sucessmodel').modal('show')
                    console.log('response', response);
                }
            });
        });
    });


    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }

    function goBack(){
        window.history.back();
    }

    function myFunction1() {
        var dots1 = document.getElementById("dots1");
        var moreText1 = document.getElementById("more1");
        var btnText1 = document.getElementById("myBtn1");

        if (dots1.style.display === "none") {
            dots1.style.display = "inline";
            btnText1.innerHTML = "Read more";
            moreText1.style.display = "none";
        } else {
            dots1.style.display = "none";
            btnText1.innerHTML = "Read less";
            moreText1.style.display = "inline";
        }
    }

    function myFunction2() {
        var dots2 = document.getElementById("dots2");
        var moreText2 = document.getElementById("more2");
        var btnText2 = document.getElementById("myBtn2");

        if (dots2.style.display === "none") {
            dots2.style.display = "inline";
            btnText2.innerHTML = "Read more";
            moreText2.style.display = "none";
        } else {
            dots2.style.display = "none";
            btnText2.innerHTML = "Read less";
            moreText2.style.display = "inline";
        }
    }

    function myFunction3() {
        var dots3 = document.getElementById("dots3");
        var moreText3 = document.getElementById("more3");
        var btnText3 = document.getElementById("myBtn3");

        if (dots3.style.display === "none") {
            dots3.style.display = "inline";
            btnText3.innerHTML = "Read more";
            moreText3.style.display = "none";
        } else {
            dots3.style.display = "none";
            btnText3.innerHTML = "Read less";
            moreText3.style.display = "inline";
        }
    }

    function myFunction4() {
        var dots4 = document.getElementById("dots4");
        var moreText4 = document.getElementById("more4");
        var btnText4 = document.getElementById("myBtn4");

        if (dots4.style.display === "none") {
            dots4.style.display = "inline";
            btnText4.innerHTML = "Read more";
            moreText4.style.display = "none";
        } else {
            dots4.style.display = "none";
            btnText4.innerHTML = "Read less";
            moreText4.style.display = "inline";
        }
    }

    function myFunction5() {
        var dots5 = document.getElementById("dots5");
        var moreText5 = document.getElementById("more5");
        var btnText5 = document.getElementById("myBtn5");

        if (dots5.style.display === "none") {
            dots5.style.display = "inline";
            btnText5.innerHTML = "Read more";
            moreText5.style.display = "none";
        } else {
            dots5.style.display = "none";
            btnText5.innerHTML = "Read less";
            moreText5.style.display = "inline";
        }
    }
</script>*@