﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Entities.V1
@using SironaTeleMed.Common;
@{
    ViewBag.Title = "BookAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Sessions

<script src="https://js.stripe.com/v3/"></script>

<style>
    #more {
        display: none;
    }

    .readmore {
        color: #3644ff;
    }

    #contact-form input {
        border: 1px solid #ebebeb;
        color: #999999;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        height: 50px;
        padding-left: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    #contact-form textarea {
        border: 1px solid #ebebeb;
        font-family: Montserrat;
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        height: 120px;
        padding: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    #contact-form button {
        background: #1A73E8 !important;
        border: none;
        color: white !important;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        padding: 17px 44px;
        text-transform: uppercase;
        transition: .3s;
        letter-spacing: 1px;
    }

        #contact-form button:hover {
            background: #1A73E8;
            color: #fff;
            border-color: #1A73E8;
        }


    .form-gp {
        margin-bottom: 20px !important;
    }

    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .inspectlet-sensitive div .form-control {
        width: 100% !important;
    }

    .inspectlet-sensitive {
        margin: 20px 0px;
    }

    .control-label span {
        color: red;
        margin-left: 5px;
    }

    .ap-timers {
        background: #e3e3e3;
        padding: 20px 15px;
        display: inline-block;
    }

        .ap-timers ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style: square;
        }

            .ap-timers ul li {
                position: relative;
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 25px;
            }

    ul.a {
        list-style-type: circle;
    }

    .ap-timers ul li a {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        color: #1a2c3f;
        font-size: 14px;
        text-decoration: none;
        border: 1px solid #dfdfdf;
    }

        .ap-timers ul li a:hover {
            background: #cccccc;
        }

    .list-inline > li {
        display: inline-block;
        padding-right: 25px;
        padding-left: 30px;
    }

    .login-form form {
        margin: 82px;
        z-index: 2;
        position: inherit !important;
        left: inherit !important;
        transform: inherit !important;
        width: 50%;
        top: inherit !important;
        background: #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
        box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
    }

    .topnav {
        overflow: hidden;
    }

        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 35px;
            text-decoration: none;
            font-size: 17px;
        }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

        .topnav .icon {
            display: none;
        }

    .logbtn {
        background: #1EBEA5 !important;
        padding: 14px 6px;
        margin-top: 3px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
    }

    .Register-form-body {
        padding: 10px 50px !important;
    }

    .colmd {
        padding: 6px 0px !important;
    }

    @@media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    @@media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }

            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

        .logbtn {
            padding: 6px 6px;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 7px;
        }

        .datetime {
            float: left !important;
        }

        .Register-form-body {
            padding: 10px 10px !important;
        }

        .logres {
            text-align: center;
        }

        .inspectlet-sensitive {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

            .inspectlet-sensitive .control-label {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

            .inspectlet-sensitive div {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

        .colmd {
            padding: 0px !important;
        }

        .radiobtn {
            width: 10% !important;
        }

        .datetitle {
            padding: 0px 3px !important;
        }

        .terms {
            font-size: 11px !important;
            margin-left: 10px !important;
        }

        .h2head {
            font-size: 28px !important;
            margin-bottom: 10px !important;
        }

        .topnav a {
            padding: 14px 20px !important;
        }

        .color-white {
            font-size: 12px !important;
        }

        .ulockd-copy-right {
            padding: 10px 0px !important;
        }

        .welcm-ht {
            text-align: center !important;
        }

        .insuranceres {
            margin: 0px !important;
        }

            .insuranceres label,
            .insuranceres div #insurance {
                margin-left: 0px !important;
            }

        .modal-body p,
        .modal-body ul li {
            font-size: 11px !important;
        }

        .modal-title {
            font-size: 13px;
        }

        .StripeElement {
            margin-top: 0px !important;
        }

        #insurinfo {
            padding: 0px !important;
        }

        .text-muted {
            font-size: 14px !important;
        }

        .form-footer {
            margin-top: 1rem !important;
        }

        .bttag {
            display: none;
        }
    }
</style>
<div class="row">

    <!-- Progress Table start -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3" onclick="goBack()" style="margin-left: 10px;">
                    Back
                </a>
                @if (ProjectSession.UserType == 2 && (Model.StatusId == 6 || Model.StatusId == 10))
                {
                    <button type="button" onclick="printDiv()" class="btn btn-danger btn-sm float-right">
                        <i class="fa fa-download" aria-hidden="true"></i> Download
                    </button>
                }

                @Html.HiddenFor(model => model.Id)
                @if (Model.Id > 0)
                {
                    <h4 class="card_title mt-2">Appointment Details</h4>
                }
                else
                {
                    <h4 class="card_title">Book Appointment</h4>
                }

                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table progress-table">
                            @using (Html.BeginForm(Actions.AddBookAppointments, Controllers.Appointment, FormMethod.Post, new { enctype = "multipart/form-data", @id = "contact-form" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.SessionScheduleId)
                                @Html.HiddenFor(model => model.StripeToken)

                                <tbody>
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Patient Name</b></td>
                                            <td><b>@Model.PatientName</b></td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Date & Time</b></td>
                                        <td><b>@Model.DisplayDate  @Model.DisplayTime</b></td>
                                    </tr>

                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Status</b></td>
                                            <td>
                                                @if (Model.Status == "Pending")
                                                {
                                                    <span class="badge badge-warning">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Approved")
                                                {
                                                    <span class="badge badge-info">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Cancelled")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Completed")
                                                {
                                                    <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Rejected")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Running")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Drafted")
                                                {
                                                    if (ProjectSession.UserType == 2)
                                                    {
                                                        <span class="badge badge-success">Completed</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Assigned Doctors</b></td>
                                            <td>
                                                @if (Model.DoctorName == null)
                                                {
                                                    <b>Not Assigned</b>
                                                }
                                                else
                                                {
                                                    <b>@Model.DoctorName</b>
                                                }
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Chief Complaints</b></td>
                                            <td>
                                                @Html.TextAreaFor(model => model.UserDescription, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;", @readonly = "readonly" })<br />
                                                @Html.ValidationMessageFor(model => model.UserDescription, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Chief Complaints</b></td>
                                            <td>
                                                <div class="">
                                                    <div class="">
                                                        <div class="">
                                                            @Html.TextAreaFor(model => model.UserDescription, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                            @Html.ValidationMessageFor(model => model.UserDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Special Request</b></td>
                                            <td>
                                                @Html.TextAreaFor(model => model.SpecialRequests, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;", @readonly = "readonly" })<br />
                                                @Html.ValidationMessageFor(model => model.SpecialRequests, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Special Request</b></td>
                                            <td>
                                                <div class="">
                                                    <div class="">
                                                        <div class="">
                                                            @Html.TextAreaFor(model => model.SpecialRequests, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                            @Html.ValidationMessageFor(model => model.SpecialRequests, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @if (ProjectSession.UserType == 2)
                                    {
                                        <tr>
                                            <td>
                                                <b>Upload Document</b>
                                            </td>
                                            <td>
                                                <div class="">
                                                    <div class="">
                                                        <div class="">
                                                            <input type="file" name="files" id="file" style="width: 100%;" multiple />
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }


                                    @if (Model.Id > 0 && Model.StatusId != 2)
                                    {
                                        if (ProjectSession.UserType == 2 && Model.StatusId == 6 && Model.IsSave == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 1</b></td>
                                                <td>
                                                    @Model.DoctorComments
                                                </td>
                                            </tr>
                                        }
                                        if (ProjectSession.UserType == 1 || ProjectSession.UserType == 3)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 1</b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && Model.StatusId == 3)
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments
                                                    }

                                                </td>
                                            </tr>
                                        }

                                        if (ProjectSession.UserType == 1 || ProjectSession.UserType == 3)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 2</b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && Model.StatusId == 3)
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments2, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments2
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        if (ProjectSession.UserType == 1 || ProjectSession.UserType == 3)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 3</b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && Model.StatusId == 3)
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments3, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments3
                                                    }
                                                </td>
                                            </tr>
                                        }
                                        if (ProjectSession.UserType == 2 && Model.StatusId == 6 && Model.IsSave == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 4</b></td>
                                                <td>
                                                    @Model.DoctorComments4
                                                </td>
                                            </tr>
                                        }
                                        if (ProjectSession.UserType == 1 || ProjectSession.UserType == 3)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Doctor Comment 4</b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && Model.StatusId == 3)
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments4, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments4
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.Id == 0)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div class="modal fade" id="exampleModalCenter" data-controls-modal="exampleModalCenter" data-backdrop="static" data-keyboard="false">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 id="msgRegister" style="color:darkblue">Registering your appointment....</h3>
                                                                </div>
                                                                <div class="ring_loader primary_ring_loader" style="position:relative; z-index:1;top: 50%;left:45%;" id="loader">
                                                                    <div></div><div></div><div></div><div></div>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group" style="width: 100%;" id="ftr1">
                                                                        <div style="text-align: center;"><h2>Payment Info</h2></div>
                                                                        <div style="text-align:center"> <label class="col-form-label"><b style="color:#000">By booking this appointment an amount of <font style="color:#0315FF;font-size:18px">$45 </font> shall be charged.</b></label></div>
                                                                        <div class="form-group inspectlet-sensitive col-md-12 insuranceres" style="text-align:left;margin-bottom:10px;display: flex;">
                                                                            <label style="font-weight: bold;">Card : </label>
                                                                        </div>

                                                                        @*<label class="col-form-label" style="color:black">Card :</label>*@
                                                                        <div class="col-sm-10" style="text-align:left;padding:0px;">
                                                                            <div class="form-gp col-md-12" id="card-element" style="margin-bottom: 0px !important;margin-top: 10px;">
                                                                                <!-- A Stripe Element will be inserted here. -->
                                                                            </div>
                                                                            <div id="card-errors" role="alert"></div>
                                                                            <br />
                                                                        </div>
                                                                        <div class="form-group inspectlet-sensitive col-md-12 insuranceres" style="text-align:left;margin-bottom:10px;display: flex;">
                                                                            <label style="font-weight: bold;">Do you have insurance ? &nbsp;</label>
                                                                            <div>
                                                                                @Html.RadioButtonFor(model => model.HasInsurance, true, new { @id = "insurance", @style = "margin-left:5px" })
                                                                                <label style="margin-bottom:3px">Yes</label>
                                                                                @Html.RadioButtonFor(model => model.HasInsurance, false, new { @style = "margin-left:10px" })
                                                                                <label style="margin-bottom:3px">No</label>
                                                                                @*<input type="radio" name="insur" id="insurance" value="Yes" style="margin-left: 20px;margin-top: 3px;"> Yes<br>
                                                                                    <input type="radio" name="insur" value="No" style="margin-left: 10px;margin-top: 3px;"> No<br>*@
                                                                            </div>

                                                                        </div>
                                                                        <div id="insurinfo" class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="form-group  col-md-4">
                                                                                    <label class="control-label text-left">Insurance Company Name : </label>
                                                                                </div>
                                                                                <div class="col-sm-6" style="text-align:left;">
                                                                                    @Html.TextBoxFor(model => model.InsuranceCompanyName, new { @class = "form-control", placeholder = "Enter Insurance Company Name" })
                                                                                    @*<input type="text" class="form-control" placeholder="Enter Insurance Company Name" />*@
                                                                                </div>
                                                                                <div class="form-group  col-md-4">
                                                                                    <label class="control-label text-left">Insurance ID / Beneficiary No : </label>
                                                                                </div>
                                                                                <div class="col-sm-6" style="text-align:left;">
                                                                                    @Html.TextBoxFor(model => model.InsuranceId, new { @class = "form-control", placeholder = "Enter Insurance ID / Beneficiary No" })
                                                                                    @*<input type="text" class="form-control" placeholder="Insurance ID / Beneficiary No" />*@
                                                                                </div>
                                                                                <div class="form-group col-md-4">
                                                                                    <label class="control-label  text-left">Insurance Type : </label>
                                                                                </div>
                                                                                <div class="col-sm-6" style="text-align:left;">
                                                                                    @Html.TextBoxFor(model => model.InsuranceType, new { @class = "form-control", placeholder = "Enter Insurance Type" })
                                                                                    @*<input type="text" class="form-control" placeholder="Enter Insurance Type" />*@
                                                                                </div>
                                                                                  <div class="form-group col-md-4">
                                                                                <label class="control-label text-left">Group number : </label>
                                                                            </div>
                                                                                  <div class="col-sm-6" style="text-align:left;">
                                                                                      @Html.TextBoxFor(model => model.GroupNumber, new { @class = "form-control", placeholder = "Enter Group Number" })
                                                                                      @*<input type="text" class="form-control" placeholder="Group number" />*@
                                                                                  </div>
                                                                            </div>
                                                                          
                                                                           
                                                                          
                                                                        </div>
                                                                        <p><label style="color:#000 !important;"><font style="color:red">*</font><b>If your insurance pays for this visit, will reimburse after copay.</b> </label></p>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer" id="ftr">
                                                                    <button type="button" class="btn btn-light" data-dismiss="modal" title="Cancel">Cancel</button>
                                                                    <button type="submit" class="btn btn-primary" id="accept" title="Book Now">Book Now</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    }

                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td style="vertical-align: initial !important;">
                                                <b>Has Insurance ?</b>
                                            </td>
                                            <td>
                                                @if (Model.HasInsurance)
                                                {
                                                    <p><b>Yes</b></p><br />
                                                    <p><b>Insurance Company Name : </b>@Model.InsuranceCompanyName</p><br />
                                                    <p><b>Insurance Id / Beneficiary No   : </b>@Model.InsuranceId</p><br />
                                                    <p><b>Insurance Type         : </b>@Model.InsuranceType</p><br />
                                                    <p><b>Group Number            : </b>@Model.GroupNumber</p><br />
                                                }
                                                else
                                                {
                                                    <p><b>No</b></p>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>

                        @if (Model.Id == 0 && ProjectSession.UserType == 2)
                        {
                            <div class="col-md-12" style="text-align:left;">
                                <input type="checkbox" class="form-control errcheck" id="terms" value="" style="width: 4%;margin-top: 3px;position: absolute;left: -2px;">
                                <label style="font-weight: bold;margin-left: 15px; cursor:pointer" data-toggle="modal" data-target="#exampleModalLong">(Click here to view consent) I read consent form and agree to participate in telemedicine consultation.</label>
                                <div class="err" id="errormsg" style="color: red;font-weight: 500;">
                                    Please submit your consent
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary mt-2" onclick="validate()" title="Book" style="float:right">Continue</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.StatusId == 10 || Model.StatusId == 6)
{
    <div class="row" id="test">
        <div class="card" style="width: 100%">
            <div class="card-body">
                <div class="single-table">
                    <div class="row">
                        <img src="https://admin.sironatelemed.com/images/Client/header-logo.png" style="margin: auto;" />
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <h2 style="border-bottom: 1px solid #000000;">APPOINTMENT DETAILS</h2>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-4" style="font-weight: bold;">Date<span style="float: right;">:</span></div>
                                <div class="col-8">@Model.DisplayDate</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-5" style="font-weight: bold;">Time<span style="float: right;">:</span></div>
                                <div class="col-7">@Model.DisplayTime</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-4" style="font-weight: bold;">Patient Name<span style="float: right;">:</span></div>
                                <div class="col-8">@Model.PatientName</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-5" style="font-weight: bold;">Assigned Doctor<span style="float: right;">:</span></div>
                                <div class="col-7">@Model.DoctorName</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 40px">
                        <h2 style="border-bottom: 1px solid #000000;">MEDICAL DETAILS</h2>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3" style="font-weight: bold;">Chief Complaints<span style="float: right;">:</span> </div>
                        <div class="col-9">@Model.UserDescription</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3" style="font-weight: bold;">Special Request<span style="float: right;">:</span></div>
                        <div class="col-9">@Model.SpecialRequests</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3" style="font-weight: bold;">Doctor Comment 1 <span style="float: right;">:</span></div>
                        <div class="col-9">@Model.DoctorComments</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3" style="font-weight: bold;">Doctor Comment 2 <span style="float: right;">:</span></div>
                        <div class="col-9">@Model.DoctorComments2</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3" style="font-weight: bold;">Doctor Comment 3<span style="float: right;">:</span></div>
                        <div class="col-9">@Model.DoctorComments3</div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-3" style="font-weight: bold;">Doctor Comment 4<span style="float: right;">:</span></div>
                        <div class="col-9">@Model.DoctorComments4</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">CONSENT FOR TELEMEDICINE CONSULTATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size:12px"><b style="color:#000">1.</b> PURPOSE OF THE TELEMEDICINE CONSULTATION:   Telemedicine allows healthcare providers to evaluate, diagnose and treat patients over video visits. The information collected via video/audio consultation may be used for diagnosis, follow up, treatment and education. Healthcare providers may include Physicians, Nurse practitioners, Physician Assistants and any other healthcare provider who has the license to practice.</p>
                <p style="font-size:12px">
                    <b style="color:#000">2.</b> NATURE OF THE TELEMEDICINE CONSULT: During the telemedicine consultation, details of your medical history, examinations, radiology/lab tests may be discussed,
                    <ul class="a" style="margin-left: 10px;">
                        <li>Patient Medical records may be reviewed and discussed</li>
                        <li>A non- medical technician may be present in the telemedicine room to aid the video transmission.</li>
                        <li>Live two way audio/video</li>
                        <li>Video/audio and photo recording may be taken of you during the telemedicine consultation</li>
                    </ul>
                </p>
                <p style="font-size:12px"><b style="color:#000">3.</b> MEDICAL INFORMATION & RECORDS:  All existing laws regarding your access to medical information and copies of your medical records apply to this telemedicine consultation. This visit may be recorded and stored.</p>
                <p style="font-size:12px"><b style="color:#000">4.</b>CONFIDENTIALITY : Appropriate and reasonable safety measures have been taken to protect your confidentiality and to eliminate any potential confidentiality risks associated with this telemedicine consultation.</p>
                <p style="font-size:12px"><b style="color:#000">5.</b> RIGHTS: You may deny to give consent for this consultation or you may withdraw your consent for Telemedicine consultation any time during the consultation without affecting your right to future care or treatment.</p>
                <p style="font-size:12px"><b style="color:#000">6.</b> DISPUTES: Any disputes arriving from this Telemedicine Consultation will be resolved in the state where provider practices.</p>
                <p style="font-size:12px"><b style="color:#000">7.</b> RISKS & BENEFITS: You have had the opportunity to obtain clarifications about the information provided in this form. All your questions have been answered  and you understand the information provided in this form.</p>
                <p style="font-size:12px">By checking the box, I agree that I have read the information provided regarding telemedicine and hereby I give my consent to participate in Telemedicine consultation.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#loader").hide();
        $("#msgRegister").hide();
        $("#test").hide();
        $("#errormsg").hide();
        //HasInsurance
        $("#insurinfo").hide();
        $("input[name='HasInsurance']").change(function () {
            var insur = $("input[type=radio][name=HasInsurance]:checked").val();
            if (insur == "True") {
                $("#insurinfo").show();
            }
            else {
                $("#insurinfo").hide();
            }
        });
    });

    function goBack() {
        if (@Model.StatusId === 0) {
            window.location.href = '@Url.Action(Actions.Index, Controllers.Dashboard)';
        }
        else if (@Model.StatusId === 2) {
            if (@ProjectSession.UserType == 2) {
                window.location.href = '@Url.Action(Actions.UpcomingAppointments, Controllers.Appointment)';
            } else {
                window.location.href = '@Url.Action(Actions.NewAppointments, Controllers.Appointment)';
            }
        }
        else if(@Model.StatusId === 3) {
            window.location.href = '@Url.Action(Actions.UpcomingAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 4) {
            window.location.href = '@Url.Action(Actions.Rejectedintments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 5) {
            window.location.href = '@Url.Action(Actions.Rejectedintments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 6) {
            window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 10) {
            window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment)';
        }
        else {
            window.location.href = '@Url.Action(Actions.Index, Controllers.Dashboard)';
        }
    }

    function validate() {

        if (jQuery("#terms").prop("checked")) {
            $("#errormsg").hide();
            $("#exampleModalCenter").modal('show');
        }
        else {
            $("#errormsg").show();
        }

    }

    function showloader() {
        $("#ftr").hide();
        $("#ftr1").hide();
        $("#loader").show();
        $("#msgRegister").show();
    }

    function printDiv() {

        var divToPrint = document.getElementById('test');

        var newWin = window.open('#', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link href="../../Content/style.css" rel="stylesheet"/></head><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 1000);

    }

</script>

<script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        window.addEventListener('load', function () {


            var forms = document.getElementsByClassName('needs-validation');

            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

    var stripe = Stripe('@Configurations.Publishablekey');

    var elements = stripe.elements();

    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('contact-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('contact-form');
        var hiddenInput = document.createElement('input');

        $("#StripeToken").val(token.id);
        showloader();
        form.submit();

        //$(function () {
        //    $(".errcheck").click(function () {
        //        if ($("#terms").is(":checked")) {
        //            debugger;
        //            showloader();
        //            $("#errormsg").hide();
        //            form.submit();
        //        } else {
        //            debugger;
        //            $("#errormsg").show();
        //        }
        //    });
        //});
    }
</script>