﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "CompletedAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
}

@*@model List<AbstractSessions>*@
<style>
    .table-striped tbody tr td,
    .table-striped thead tr th {
        text-align: center;
    }
</style>
<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card_title mt-2">Completed Appointments</h4>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group form-group">
                                <input type="text" class="form-control" id="Date" name="olddate" autocomplete="off" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a class="btn btn-sm btn-primary mb-12" onclick="Search()" style="color: #fff;">
                                Search
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card table-responsive">
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="grid" id="divClientTable" style="padding: 25px;">
                        <table class="table table-striped" id="clientTable"></table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade" data-controls-modal="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #4CAF50">
                <h3 style="color: #fff;">Success</h3>
            </div>
            <div class="modal-body">
                <h6>Appointment has been completed !</h6>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" id="successok" class="btn btn-success" style="background:#4CAF50;color:#fff;">Ok</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        BindClientTable();        if ('@ProjectSession.IsMsg' == "1") {                       $('#myModal').modal('show');        }        BindClientTable();            });        $("#successok").click(function () {        $.ajax({            url: "@Url.Action("UpdateIsMessage", "Appointment")",            cache: false,            success: function (html) {                           }        });      
    });

    function BindClientTable() {
        if ($.fn.DataTable.isDataTable("#clientTable")) {
            $('#clientTable').dataTable().fnDestroy();
            $('#divClientTable').html('<table class="table table-striped" width="100%"  id="clientTable"></table>');
        }
        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });
        table = $("#clientTable").dataTable({
            "autoWidth": false,
            "searching": false,
            "paging": true,
            "sPaginationType": "full_numbers",
            "language": {
                "lengthMenu": "Page Size : _MENU_ ",
                "info": "Records _START_ to _END_ of (_TOTAL_)",
                "emptyTable": "No Record(s) Found"
            },
            "processing": true,
            "serverSide": true,
            "pageLength": "@ProjectSession.PageSize",
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindCompletedAppointments, Controllers.Appointment, new { Area = "" })',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Doctor Name", "data": "",
                    "render": function (data, type, row) {
                        if (row["DoctorName"] == null) {
                            return "Not Assigned";
                        } else {
                            return row["DoctorName"];
                        }
                    }, "visible": @ProjectSession.UserType == 1 ? false : true,
                    "orderable": false, "width": "7%"
                },
                {
                    "title": "Patient Name", "data": "",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 3 && row["UserType"] == 4) {
                            appendstring = '<img src="../images/guest.jpg" width="20" height="20" title="Guest User" style="height:inherit">'
                        }
                        return '<p>' + appendstring + row["PatientName"] + '</p>'
                    }
                    ,"orderable": false, "width": "7%", "visible": @ProjectSession.UserType == 2 ? false : true
                },
                { "title": "Date", "data": "DisplayDate", "orderable": false, "width": "7%" },
                { "title": "Time", "data": "DisplayTime", "orderable": false, "width": "7%" },
                {
                    "title": "Charge", "data": "",
                    "render": function (data, type, row) {
                        return '$ 45';
                    }
                    , "orderable": false, "width": "7%"
                },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        if (@ProjectSession.UserType == 2) {
                            return '<span class="badge badge-info">Completed</span>';;
                        }
                        else {
                           return '<span class="badge badge-success">' + row["Status"] + '</span>';;
                        }
                    },
                    "orderable": false, "width": "6%"
                },
                {
                    "title": "Action", "data": "",
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var StatusId = row["StatusId"];
                        var url = '';
                        if (@ProjectSession.UserType == 1 && StatusId == 10) {
                            url = '@Url.Action(Actions.DoctorAppointment, Controllers.Appointment, new { area = "" })';
                        } else {
                            url = '@Url.Action(Actions.ViewCompletedAppointment, Controllers.Appointment, new { area = "" })';
                        }
                        return '<a href="' + url + '?id=' + row["Id"]+'" class="btn btn-info" title="View"><i class="ti-pencil"></i></a> <button class="btn btn-danger sweet_alert_confirm2" title="Cancel" disabled style="margin-left:10px;cursor:not-allowed"><i class="ti-close"></i></button>';
                    },
                    "orderable": false, "width": "6%"
                }
            ],
            "drawCallback": function (settings) {
                //hide paging and info when empty datattable
                var api = this.api();
                if (api.rows({ page: 'current' }).data().length <= 0) {
                    $('#clientTable_info').hide();
                    $('#clientTable_paginate').hide();
                      }
                else {
                    $('#clientTable_info').show();
                    $('#clientTable_paginate').show();
                    $('#clientTable_length').show();
                }
                //bindSortingArrow();
            }
        });
        $('.grid-bottom').addClass('clearfix');
        $('select[name=clientTable_length]').addClass('selectpicker');
    }

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["DateSearch"] = $("#Date").val();
            return param;
        } catch (e) { }
    }

    function Search() {
        var test = $("#Date").val();
        BindClientTable();
    }
</script>



