﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "CreateAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AbstractSessionSchedule>
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card_title mt-2" style="text-transform: none;">Create Appointments</h3>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <div class="input-group form-group">
                                <input type="text" id="Date" class="form-control" name="dateselect" autocomplete="off" />
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a onclick="Search()" class="btn btn-sm btn-primary mb-12" style="color: #fff;">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card table-responsive">
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="grid" id="divClientTable" style="padding: 25px;">
                        <table class="table table-striped" id="clientTable"></table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalLong">
    <div class="modal-dialog modal-dialog-centered">
        <input type="hidden" id="itemId" />
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="UpdateStatus()" id="UserTable">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
     function SetitemId(itmId) {
         $("#itemId").val(itmId);
    }

    function UpdateStatus() {
        var itemId = $("#itemId").val();
        var url = '@Url.Action("SessionsScheduleUpdateByStatusId", "Appointment")';
        var data = { Id:itemId };
          $.post(url, data, function (result) {
              $("#itemId").val("");
              window.location.reload();
        });
    }


    $(document).ready(function () {
        BindClientTable();
    });

    function BindClientTable() {
        if ($.fn.DataTable.isDataTable("#clientTable")) {
            $('#clientTable').dataTable().fnDestroy();
            $('#divClientTable').html('<table class="table table-striped" width="100%"  id="clientTable"></table>');
        }
        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });
        table = $("#clientTable").dataTable({
            "autoWidth": false,
            "searching": false,
            "paging": true,
            "sPaginationType": "full_numbers",
            "language": {
                "lengthMenu": "Page Size : _MENU_ ",
                "info": "Records _START_ to _END_ of (_TOTAL_)",
                "emptyTable": "No Record(s) Found"
            },
            "processing": true,
            "serverSide": true,
            "pageLength": "@ProjectSession.PageSize",
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindCreateAppointment, Controllers.Appointment, new { Area = "" })',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                { "title": "Time", "data": "AppointMentDate", "orderable": false, "width": "8%" },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        if (row["IsAvailable"] == "0") {
                            return '<span class="badge badge-danger" id="' + Id + '" onclick="SetitemId(id)" data-toggle="modal" data-target="#exampleModalLong" style="width: 110px;cursor: pointer;">Not Available</span>';
                        } else if (row["IsAvailable"] == "1") {
                            return '<span class="badge badge-success" id="' + Id + '" onclick="SetitemId(id)" data-toggle="modal" data-target="#exampleModalLong" style="width: 110px;cursor: pointer;">Available</span>';
                        }
                    },
                    "orderable": false, "width": "7%"
                }
            ],
            "drawCallback": function (settings) {
                //hide paging and info when empty datattable
                var api = this.api();
                if (api.rows({ page: 'current' }).data().length <= 0) {
                    $('#clientTable_info').hide();
                    $('#clientTable_paginate').hide();
                      }
                else {
                    $('#clientTable_info').show();
                    $('#clientTable_paginate').show();
                    $('#clientTable_length').show();
                }
                //bindSortingArrow();
            }
        });
        $('.grid-bottom').addClass('clearfix');
        $('select[name=clientTable_length]').addClass('selectpicker');
    }

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["DateSearch"] = $("#Date").val();
            return param;
        } catch (e) { }
    }

    function Search() {
        BindClientTable();
    }
</script>

