﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Entities.V1
@using SironaTeleMed.Common;
@{
    /**/

    ViewBag.Title = "Doctor Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Sessions
<style>

    #more {
        display: none;
    }

    .addopacity {
        opacity: 0.2;
    }

    .readmore {
        color: #3644ff;
    }

    .btnflex {
        display: flex;
    }

    .pofix {
        display: flex;
    }

    @@media (max-width: 1200px) {
        .pofix {
            position: inherit !important;
        }

        .resres {
            position: inherit !important;
        }

        .redwidth {
            width: 100% !important;
        }
    }

    .resres {
        position: fixed;
    }

    .redwidth {
        width: 47%;
    }

    #contact-form input {
        border: 1px solid #ebebeb;
        color: #999999;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        height: 50px;
        padding-left: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    #contact-form textarea {
        border: 1px solid #ebebeb;
        font-family: Montserrat;
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        height: 120px;
        padding: 25px;
        text-transform: uppercase;
        width: 100%;
    }


    #contact-form button {
        background: #1A73E8 !important;
        border: none;
        color: white !important;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        padding: 17px 44px;
        text-transform: uppercase;
        transition: .3s;
        letter-spacing: 1px;
    }

        #contact-form button:hover {
            background: #1A73E8;
            color: #fff;
            border-color: #1A73E8;
        }

    /*new css*/
    .table tr:not(.header) {
        display: none;
    }

    .table tr.header {
        border-bottom: 1px solid #ebebeb;
    }

    .table .header td:after {
        content: "\002b";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        color: #999;
        text-align: center;
        padding: 3px;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }

    .table .header.active td:after {
        content: "\2212";
    }

    .table-bordered td, .table-bordered th {
        border: none !important;
    }

    .cent {
        text-align: center;
    }

        .cent > label {
            color: #000 !important;
        }

    .fntsize {
        font-size: 24px;
    }
</style>
<div class="row" id="loaderopacity">
    <!-- Progress Table start -->
    <div id="frm" class="col-xl-6 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3" onclick="goBack()">
                    Back
                </a>
                @Html.HiddenFor(model => model.Id)
                @if (Model.Id > 0)
                {
                    <h4 class="card_title mt-2">Appointment</h4>
                }
                else
                {
                    <h4 class="card_title mt-2">Book Appointment</h4>
                }
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table progress-table table-bordered">
                            @using (Html.BeginForm(Actions.AddBookAppointments, Controllers.Appointment, FormMethod.Post, new { @id = "contact-form" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.SessionScheduleId)
                                <tbody>
                                    <tr class="header">
                                        <td class="card_title" colspan="4">PATIENT DETAILS</td>
                                    </tr>
                                    <tr>
                                        <td><b>Medical Record Number : </b></td>
                                        <td>@Model.MedicalRecordNumber</td>
                                    </tr>
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Name : </b></td>
                                            <td>@Model.PatientName</td>

                                        </tr>
                                    }
                                    <tr>
                                        <td><b>DOB : </b></td>
                                        <td>@Model.PatientDOB</td>
                                    </tr>
                                    <tr>
                                        <td><b>Address : </b></td>
                                        <td>@Model.PatientAddress</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email : </b></td>
                                        <td>@Model.PatientEmail</td>

                                    </tr>
                                    <tr>
                                        <td><b>Phone : </b></td>
                                        <td>@Model.PatientPhone</td>
                                    </tr>


                                    <tr class="header">
                                        <td class="card_title" colspan="4">APPOINTMENT DETAILS</td>
                                    </tr>
                                    @*<tr>
                                            <td><b>Medical Record Number : </b></td>
                                            <td> @Html.TextBoxFor(model => model.MedicalRecordNumber, new { @class = "form-control", style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })</td>
                                        </tr>*@
                                    <tr>
                                        <td><b>Date and Time : </b></td>
                                        <td>@Model.DisplayDate  @Model.DisplayTime</td>
                                    </tr>
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Status : </b></td>
                                            <td>
                                                @if (Model.Status == "Pending")
                                                {
                                                    <span class="badge badge-warning">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Approved")
                                                {
                                                    <span class="badge badge-info">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Cancelled")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Completed")
                                                {
                                                    <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Rejected")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Running")
                                                {
                                                    <span class="badge badge-info">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Drafted")
                                                {
                                                    <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Doctor : </b></td>
                                            <td>
                                                <b>@Model.DoctorName</b>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Reason for the Visit : </b></td>
                                            <td>
                                                @Html.TextAreaFor(model => model.UserDescription, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px; background:#fff2e1", @readonly = "readonly" })<br />
                                                @Html.ValidationMessageFor(model => model.UserDescription, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Reason for the Visit: </b></td>
                                            <td>
                                                <div class="col-lg-12 mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @Html.TextAreaFor(model => model.UserDescription, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                            @Html.ValidationMessageFor(model => model.UserDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Special Request : </b></td>
                                            <td>
                                                @Html.TextAreaFor(model => model.SpecialRequests, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; background:#fff2e1; padding: 5px;", @readonly = "readonly" })<br />
                                                @Html.ValidationMessageFor(model => model.SpecialRequests, "", new { @class = "text-danger" })
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Special Request</b></td>
                                            <td>
                                                <div class="col-lg-12 mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @Html.TextAreaFor(model => model.SpecialRequests, new { rows = 5, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                            @Html.ValidationMessageFor(model => model.SpecialRequests, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Medical History : </b></td>
                                        <td>
                                            @Html.TextAreaFor(model => model.MedicalHistory, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                            @Html.ValidationMessageFor(model => model.MedicalHistory, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Surgical History : </b></td>
                                        <td>
                                            @Html.TextAreaFor(model => model.SurgicalHistory, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                            @Html.ValidationMessageFor(model => model.SurgicalHistory, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr style="border-bottom:1px solid #ebebeb">

                                        <td class="fntsize" colspan="4"><b>Vitals</b></td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <form>
                                                <div class="form-row">
                                                    <div class="col-sm-6 cent">
                                                        <label><b>Temp</b> </label>
                                                        @Html.TextBoxFor(model => model.Temp, new { @class = "form-control" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                    <div class="col-sm-6 cent">
                                                        <label><b>BP</b> </label>
                                                        @Html.TextBoxFor(model => model.BP, new { @class = "form-control" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <div class="form-row">
                                                    <div class="col-sm-4 cent">
                                                        <label><b>HR</b> </label>
                                                        @Html.TextBoxFor(model => model.HR, new { @class = "form-control" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                    <div class="col-sm-4 cent">
                                                        <label><b>RR</b> </label>
                                                        @Html.TextBoxFor(model => model.RR, new { @class = "form-control" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                    <div class="col-sm-4 cent">
                                                        <label><b>SaO2</b> </label>
                                                        @Html.TextBoxFor(model => model.SaO2, new { @class = "form-control" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Allergy : </b></td>
                                        <td>
                                            @Html.TextAreaFor(model => model.Allergy, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                            @Html.ValidationMessageFor(model => model.Allergy, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Medications : </b></td>
                                        <td>
                                            @Html.TextAreaFor(model => model.Medications, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                            @Html.ValidationMessageFor(model => model.Medications, "", new { @class = "text-danger" })
                                        </td>
                                    </tr>
                                    @if (Model.Id > 0 && Model.StatusId != 2)
                                    {
                                        <tr>
                                            <td style="width:40%"><b>Subjective : </b></td>
                                            <td>
                                                @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                {
                                                    @Html.TextAreaFor(model => model.DoctorComments, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                }
                                                else
                                                {
                                                    @Model.DoctorComments
                                                }
                                            </td>
                                        </tr>

                                        if (ProjectSession.UserType == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Objective : </b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments2, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments2
                                                    }
                                                </td>
                                            </tr>

                                        }
                                        if (ProjectSession.UserType == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Assessment : </b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments3, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments3
                                                    }
                                                </td>
                                            </tr>


                                        }

                                        if (ProjectSession.UserType == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Plan : </b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments4, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        @Model.DoctorComments4
                                                    }
                                                </td>
                                            </tr>
                                        }

                                        if (Model.Id > 0)
                                        {
                                            <tr>
                                                <td style="width:40%; vertical-align: initial !important;">
                                                    <b>Has Insurance ?</b>
                                                </td>
                                                <td>
                                                    @if (Model.HasInsurance)
                                                    {
                                                        <p><b>Yes</b></p><br />
                                                        <p><b>Insurance Company Name : </b>@Model.InsuranceCompanyName</p><br />
                                                        <p><b>Insurance Id / Beneficiary No   : </b>@Model.InsuranceId</p><br />
                                                        <p><b>Insurance Type         : </b>@Model.InsuranceType</p><br />
                                                        <p><b>Group Number            : </b>@Model.GroupNumber</p><br />
                                                    }
                                                    else
                                                    {
                                                        <p><b>No</b></p>
                                                    }
                                                </td>
                                            </tr>
                                        }

                                        if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                        {
                                            <tr>
                                                <td></td>
                                                <td class="btnflex">
                                                    @if (Model.StatusId == 3 || Model.StatusId == 9)
                                                    {
                                                        <button type="button" class="btn btn-success mt-2" id="endcall" title="End Call" style="margin-left: auto;" onclick="UpdateComments(0,1)">End Call</button>
                                                    }
                                                    else if (Model.StatusId == 10)
                                                    {
                                                <form name="info" method="post" action="https://preproduction.newcropaccounts.com/InterfaceV7/RxEntry.aspx" target="_blank">
                                                    @Html.TextBoxFor(model => model.RxInput, new { @style="display:none;", @Id="RxInput", @name="RxInput" })
                                                    @*<textarea id="RxInput" style="display:none;" name="RxInput"></textarea>*@
                                                    <button type="submit" class="btn btn-warning mt-2" title="Submit E-Priscription" style="float:right;margin-right:10px;">Submit E-Priscription</button>
                                                </form>
                                                        <button type="button" class="btn btn-primary mt-2 sweet_create_saveasdraft_btn" onclick="UpdateComments(0,0)" title="Save as Draft" style="float:right;">Save as Draft</button>
                                                        <button type="button" class="btn btn-success mt-2 " data-toggle="modal" data-target="#exampleModalLong2" title="Complete Appointment" style="float:right;margin-left: 10px;">Complete Appointment</button>
                                                    }
                                                    <div class="modal fade" id="exampleModalLong2" style="display: none;" aria-hidden="true">
                                                        <div class="modal-dialog" style="width:100%">
                                                            <div class="modal-content">
                                                                <div class="lock-form-head">
                                                                    <h4>Verify your credentials</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h5 id="msg" style="text-align:center;color:red;">@ViewBag.ErrorMessage</h5>
                                                                    <p style="text-align:center; color: red;" id="phide">Wrong Password Credential</p>
                                                                    <div class="login-form-body">
                                                                        <div class="form-gp">
                                                                            <label for="validationCustom01">Your Password</label>
                                                                            <input type="Password" id="vrfy_pass" class="form-control" required="" />
                                                                            <div class="invalid-feedback">Please Enter Your Passwrord</div>
                                                                            <i class="ti-lock"></i>
                                                                        </div>
                                                                        <div class="submit-btn-area">
                                                                            <button type="button" id="form_submit2" class="btn btn-primary" data-keyboard="false">Proceed <i class="ti-arrow-right"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.StatusId != 10)
    {
        <div class="col-xl-6 mt-4">
            <div style="text-align: center;">
                <button class="btn btn-info pofix" id="btnJoinCall" style="left: 69%;font-weight: 600;position:fixed;">Invite Paitent</button>
                @*<h3 id="appntArea" style="color:darkblue">Appointment Area</h3>*@
            </div>
            <div class="" id="iframeHolder">
                @*<iframe class="embed-responsive-item resres redwidth" id="iframe" src="@Configurations.VideoCall' +@Model.Id+'" height="450" allow="geolocation; microphone; camera"></iframe>*@
            </div>
        </div>
    }
</div>
<div class="ring_loader primary_ring_loader" id="endcallloader" style="position:fixed; z-index:1;top: 50%;left:50%;">
    <div></div><div></div><div></div><div></div>
</div>
<script>

    function SetitemId(itmId) {
        $("#itemId").val(itmId);
    }

    $(document).ready(function () {
        debugger;
        $("#phide").hide();
        $("#appntArea").hide();
        $("#endcallloader").hide();
           $("#form_submit2").click(function () {
                    UpdateComments(1,0);
           });

        if (@Model.StatusId == 10) {
            debugger;
               $("#frm").removeClass("col-xl-6 mt-4");
               $("#frm").addClass("col-xl-12 mt-4");
               //var xmlInput ='<NCScript xmlns="http://secure.newcropaccounts.com/interfaceV7" xmlns:NCStandard="http://secure.newcropaccounts.com/interfaceV7:NCStandard" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Credentials><partnerName>demo</partnerName><name>demo</name><password>demo</password><productName>SuperDuperSoftware</productName><productVersion>V5.3</productVersion></Credentials><UserRole><user>LicensedPrescriber</user><role>doctor</role></UserRole><Destination><requestedPage>compose</requestedPage></Destination><Account ID="demo"><accountName>Your Customer Account Name</accountName><siteID>demo</siteID><AccountAddress><address1>232323 Test</address1><address2>Suite 240</address2><city>Boston</city><state>MA</state><zip>10409</zip><zip4>1234</zip4><country>US</country></AccountAddress><accountPrimaryPhoneNumber>5555551212</accountPrimaryPhoneNumber><accountPrimaryFaxNumber>5555551313</accountPrimaryFaxNumber></Account><Location ID="DEMOLOC1"><locationName>Your Customers Location Name</locationName><LocationAddress><address1>232323 Test</address1><address2>Suite 240</address2><city>Boston</city><state>MA</state><zip>10409</zip><zip4>1234</zip4><country>US</country></LocationAddress><primaryPhoneNumber>5555551212</primaryPhoneNumber><primaryFaxNumber>5555551213</primaryFaxNumber><pharmacyContactNumber>5555551212</pharmacyContactNumber></Location><LicensedPrescriber ID="DEMOLP1"><LicensedPrescriberName><last>Smith</last><first>Doctor</first><middle>J</middle></LicensedPrescriberName><dea>AS1111111</dea><upin>12345678</upin><licenseState>TX</licenseState><licenseNumber>12345678</licenseNumber><npi/></LicensedPrescriber><Patient ID="DEMOPT1"><PatientName><last>Wilson</last><first>Patient</first><middle>J</middle></PatientName><medicalRecordNumber>123456</medicalRecordNumber><memo>Picks up meds at VA</memo><PatientAddress><address1>23223 Test</address1><address2>Suite 240</address2><city>Boston</city><state>MA</state><zip>10455</zip><country>US</country></PatientAddress><PatientContact><homeTelephone>1234567890</homeTelephone></PatientContact><PatientCharacteristics><dob>19800115</dob><gender>M</gender></PatientCharacteristics></Patient></NCScript>';
               //$("#RxInput").val(xmlInput);
           }
        });


    function UpdateComments(IsSave, IsEndNow) {
        if (IsSave == 0 && IsEndNow == 1) {
            $("#endcallloader").show();
            $("#loaderopacity").addClass('addopacity');
        }
        var session = new Object()
        session.DoctorComments4 = $("#DoctorComments4").val();
        session.DoctorComments3 = $("#DoctorComments3").val();
        session.DoctorComments2 = $("#DoctorComments2").val();
        session.DoctorComments = $("#DoctorComments").val();
        session.MedicalHistory = $("#MedicalHistory").val();
        session.SurgicalHistory = $("#SurgicalHistory").val();
        session.Allergy = $("#Allergy").val();
        session.Medications = $("#Medications").val();
        session.Temp = $("#Temp").val();
        session.BP = $("#BP").val();
        session.HR = $("#HR").val();
        session.RR = $("#RR").val();
        session.SaO2 = $("#SaO2").val();
        session.MedicalRecordNumber = $("#MedicalRecordNumber").val();
        session.IsSave = IsSave;
        session.IsEndNow = IsEndNow;
        session.vrfy_pass = $("#vrfy_pass").val();
        session.Id = $("#Id").val();
        $.ajax({
            type: "POST",
            data: session,
            url: "@Url.Action("UpdateComments", "Appointment")",
            success: function (response) {
                if (response == "Not Auth") {
                    $('#exampleModalLong2').modal('show');
                    $("#phide").show();
                }
                else {
                   if (IsSave == 1) {
                       window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment, new { area = "" })';
                   }
                   else if (IsSave == 0) {
                      window.location.reload();
                   }
                }
            }
        });
    }

  function goBack() {
        if (@Model.StatusId === 0) {
            window.location.replace('/Dashboard/index');
        }
        else if(@Model.StatusId === 2) {
            window.location.href = '@Url.Action(Actions.NewAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 3) {
            window.location.href = '@Url.Action(Actions.UpcomingAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 4) {
            window.location.href = '@Url.Action(Actions.Rejectedintments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 5) {
            window.location.href = '@Url.Action(Actions.Rejectedintments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 6) {
            window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 10) {
            window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment)';
        }
        else {

            window.location.href = '@Url.Action(Actions.Index, Controllers.Dashboard)';
        }
    }
    $(function () {
        $('#btnJoinCall').click(function () {
            var Id = btoa(@Model.Id);
            var session = new Object()
            session.sid = Id;
            $.ajax({
            type: "POST",
            data: session,
            url: "@Url.Action(Actions.StartCall, Controllers.Appointment)",
                success: function (response) {
                    $('#btnJoinCall').hide();
                    $("#appntArea").show();
                if (!$('#iframe').length) {
                    $('#iframeHolder').html('<iframe class="embed-responsive-item resres redwidth" id="iframe" src="@Configurations.VideoCall' +@Model.Id+'" height="700" allow="geolocation; microphone; camera"></iframe>');
                }
            }
           });

        });
    });


    $(document).ready(function () {
        var ua = navigator.userAgent,
            event = (ua.match(/iPad/i)) ? "touchstart" : "click";
        if ($('.table').length > 0) {
            $('.table .header').on(event, function () {
                $(this).toggleClass("active", "").nextUntil('.header').css('display', function (i, v) {
                    return this.style.display === 'table-row' ? 'none' : 'table-row';
                });
            });
        }
    })

    function showloader() {
        $("#ftr").hide();
        $("#ftr1").hide();
        $("#loader").show();
        $("#msgRegister").show();
    }
</script>


