﻿@using SironaTeleMed.Common
@using SironaTeleMedClient.Pages
@{
    ViewBag.Title = "JoinCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    @*<div class="col-md-12">
        <button class="btn btn-info" style="float: right;"onclick="location.href='@Url.Action("Index", "Dashboard")'">Back To Dashboard</button>
        <h3 style="text-align: center;color: blue;margin: auto;margin-left: 130px;">Appointment Room</h3>
    </div>*@
    <div class="col-12">
        <iframe width="100%" height="700" src="@ViewBag.LinkableId" allow="geolocation; microphone; camera"></iframe>
    </div>
</div>
