﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
@{
    ViewBag.Title = "MyAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card_title mt-2">My Appointments</h4>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-5 mb-5">
                            <div class="input-group form-group">
                                <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" />

                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        @if (ProjectSession.UserType == 3)
                        {
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Patient</option>
                                        <option>Smith</option>
                                        <option>Jone</option>
                                        <option>wood</option>
                                        <option>Mark</option>
                                        <option>Alexa</option>
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="col-md-2">
                            <div class="form-group">

                                <select class="form-control">
                                    <option>Select Status</option>
                                    <option>Pending</option>
                                    <option>Approved</option>
                                    <option>Rejected</option>
                                    <option>Completed</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a href="" class="btn btn-sm btn-primary mb-12">
                                Search
                            </a>
                        </div>
                    </div>
                </div>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">Sr.</th>
                                    <th scope="col">Patient Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Charge</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>19 Aug 2019</td>
                                    <td>10:00 AM - 11:00 PM</td>
                                    <td>10 $</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                    <td style="display:flex">
                                        <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger sweet_alert_confirm2" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>John</td>
                                    <td>18 Aug 2019</td>
                                    <td>1:00 PM - 2:00 PM</td>
                                    <td>10 $</td>

                                    <td><span class="badge badge-info">Approved</span></td>
                                    <td style="display:flex">
                                        <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Wood</td>
                                    <td>14 Aug 2019</td>
                                    <td>2:00 AM - 3:00 PM</td>
                                    <td>10 $</td>

                                    <td><span class="badge badge-success">Completed</span></td>
                                    <td style="display:flex">
                                        <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger" title="Cancel" style="margin-left:10px;"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Mark</td>
                                    <td>16 Aug 2019</td>
                                    <td>9:00 AM - 10:00 AM</td>
                                    <td>10 $</td>
                                    <td><span class="badge badge-warning">Pending</span></td>
                                    <td style="display:flex">
                                        <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Alexa</td>
                                    <td>17 Aug 2019</td>
                                    <td>1:00 PM - 2:00 PM</td>
                                    <td>10 $</td>
                                    <td><span class="badge badge-info">Approved</span></td>
                                    <td style="display:flex">
                                        <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                        <button class="btn btn-danger" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
