﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "NewAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AbstractSessions>
<style>
    .table-striped tbody tr td,
    .table-striped thead tr th {
        text-align: center;
    }
</style>

<div class="row">
    <!-- Progress Table start -->
    <div class="col-12 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card_title mt-2">New Appointments</h4>
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <div class="input-group form-group">
                                <input type="text" id="Date" class="form-control" name="date" autocomplete="off"/>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a onclick="Search()" class="btn btn-sm btn-primary mb-12" style="color: #fff;">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card table-responsive">
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="grid" id="divClientTable" style="padding: 25px;">
                        <table class="table table-striped" id="clientTable"></table>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal fade" id="acceptappointment" style="display: none;">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Select Doctor</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="display: flex; width: 100%;">
                            <label class="col-form-label">Doctor:</label>
                            @Html.DropDownList(" ", new SelectList(ViewBag.Doctor, "Value", "Text"), new { @id = "DoctorName", @class = "form-control", @required = "" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal" title="Cancel">Cancel</button>
                        <button type="button" class="btn btn-primary sweet_success_btn" onclick="UpdateStatus(3)" id="UserTable" title="Accept">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="RejectedReason">
            <div class="modal-dialog modal-dialog-centered">
                <input type="hidden" id="itemId" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <p style="font-size: 16px; font-weight: 500;">
                            Are you sure you want to reject this appointment
                        </p>
                        <div class="form-group" style="display: flex; width: 100%;">
                            <label class="col-form-label">Reason:</label>
                            <input class="form-control" type="text" id="RejectedReason" style="margin-left: 10px;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary sweet_success_reject_sucess" onclick="UpdateStatus(5)" id="UserTable">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     function SetitemId(itmId) {
         $("#itemId").val(itmId);
    }
     
    function UpdateStatus(StsId) {
        var itemId = $("#itemId").val();
        var reason = $("#RejectedReason").val();
        var doctor = $("#DoctorName").val();
        var url = '@Url.Action("SessionUpdateByStatusId", "Appointment")';
        var data = { Id: itemId, StatusId: StsId, RejectedReason: reason, AssignedTo: doctor};
          $.post(url, data, function (result) {
              $("#itemId").val("");
              BindClientTable();
          
        });
    }

     
    $(document).ready(function () {
        BindClientTable();
    });

    function BindClientTable() {
        if ($.fn.DataTable.isDataTable("#clientTable")) {
            $('#clientTable').dataTable().fnDestroy();
            $('#divClientTable').html('<table class="table table-striped" width="100%"  id="clientTable"></table>');
        }
        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false
        });
        table = $("#clientTable").dataTable({
            "autoWidth": false,
            "searching": false,
            "paging": true,
            "sPaginationType": "full_numbers",
            "language": {
                "lengthMenu": "Page Size : _MENU_ ",
                "info": "Records _START_ to _END_ of (_TOTAL_)",
                "emptyTable": "No Record(s) Found"
            },
            "processing": true,
            "serverSide": true,
            "pageLength": "@ProjectSession.PageSize",
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.BindNewAppointments, Controllers.Appointment, new { Area = "" })',
                type: "post",
                data: BuildSearchCriteria()
            },
            "columns": [
                {
                    "title": "Patient Name", "data": "",
                    "render": function (data, type, row) {
                        var appendstring = '';
                        if (@ProjectSession.UserType == 3 && row["UserType"] == 4) {
                            appendstring = '<img src="../images/guest.jpg" width="20" height="20" title="Guest User" style="height:inherit">'
                        }
                        return '<p>' + appendstring + row["PatientName"] + '</p>'
                    }
                    ,"orderable": false, "width": "8%"
                },
                { "title": "Date", "data": "DisplayDate", "orderable": false, "width": "8%" },
                { "title": "Time", "data": "DisplayTime", "orderable": false, "width": "8%" },
                {
                    "title": "Charge", "data": "",
                    "render": function (data, type, row) {
                        return '$ 45';
                    }
                    , "orderable": false, "width": "8%"
                },
                {
                    "title": "Status", "data": "",
                    "render": function (data, type, row) {
                        if (row["Status"] == "Pending") {
                            return '<span class="badge badge-warning">' + row["Status"] + '</span>';
                        } else if (row["Status"] == "Approved") {
                            return '<span class="badge badge-info">' + row["Status"] + '</span>';
                        }
                    },
                    "orderable": false, "width": "7%"
                },
                {
                    "title": "Action", "data": "",
                    "render": function (data, type, row) {
                        var Id = btoa(row["Id"]);
                        var url = '@Url.Action(Actions.BookAppointments, Controllers.Appointment, new { area = "" })';
                        return '<a href="' + url + '?id=' + row["Id"] + '" class="btn btn-info"  title="View"><i class="ti-pencil"></i></a> <button type="button" id="' + Id + '" class="btn btn-success" title="Accept" onclick="SetitemId(id)" style="margin-left:10px" data-toggle="modal" data-target="#acceptappointment"><i class="ti-check"></i></button> <button class="btn btn-danger" id="' + Id + '"  data-toggle="modal" data-target="#RejectedReason" title="Reject" onclick="SetitemId(id)" style="margin-left:10px"><i class="ti-close"></i></button>';
                    },
                    "orderable": false, "width": "8%"
                }
            ],
            "drawCallback": function (settings) {
                //hide paging and info when empty datattable
                var api = this.api();
                if (api.rows({ page: 'current' }).data().length <= 0) {
                    $('#clientTable_info').hide();
                    $('#clientTable_paginate').hide();
                      }
                else {
                    $('#clientTable_info').show();
                    $('#clientTable_paginate').show();
                    $('#clientTable_length').show();
                }
                //bindSortingArrow();
            }
        });
        $('.grid-bottom').addClass('clearfix');
        $('select[name=clientTable_length]').addClass('selectpicker');
    }

    function BuildSearchCriteria() {
        try {
            var param = {};
            param["DateSearch"] = $("#Date").val();
            return param;
        } catch (e) { }
    }

    function Search() {
        BindClientTable();
    }

    $("#DoctorName").change(function () {
        if ($("#DoctorName").val() == "0") {
            $("#UserTable").hide();
        } else {
            $("#UserTable").show();
        }
    });

    $(document).ready(function () {
        $("#UserTable").hide();
    });
</script>