﻿@using SironaTeleMedClient.Pages

@{
    ViewBag.Title = "Search Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Progress Table start -->
<div class="col-12 mt-4">
    <div class="card">
        <div class="card-body">

            <h4 class="card_title mt-2">Search Appointments</h4>

            <div class="card-body">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="input-group form-group">
                            <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018" />
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <a href="" class="btn btn-sm btn-primary mb-12">
                            Search
                        </a>
                    </div>
                </div>

            </div>
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">Sr.</th>
                                <th scope="col">Time</th>
                                <th scope="col">Availability</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>10:00 AM - 11:00 PM</td>

                                <td><span class="badge badge-info">Yes</span></td>
                                <td>
                                    <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-primary" title="Book"><i class="ti-check" style="color:#fff"></i></a>


                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>1:00 PM - 2:00 PM</td>

                                <td><span class="badge badge-danger">No</span></td>
                                <td>
                                    <button class="btn btn-primary" disabled title="Not Available" style="cursor:not-allowed !important"><i class="ti-check"></i></button>

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>2:00 AM - 3:00 PM</td>

                                <td><span class="badge badge-info">Yes</span></td>
                                <td>
                                    <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-primary" title="Book"><i class="ti-check" style="color:#fff"></i></a>

                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>9:00 AM - 10:00 AM</td>
                                <td><span class="badge badge-info">Yes</span></td>
                                <td>
                                    <a href="@Url.Action(Actions.BookAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-primary" title="Book"><i class="ti-check" style="color:#fff"></i></a>

                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>1:00 PM - 2:00 PM</td>
                                <td><span class="badge badge-danger">No</span></td>
                                <td>
                                    <button class="btn btn-primary" disabled title="Booked" style="cursor:not-allowed !important"><i class="ti-check"></i></button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
