﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Entities.V1
@using SironaTeleMed.Common;
@{
    /**/

    ViewBag.Title = "Doctor Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Sessions
<style>

    #more {
        display: none;
    }

    .addopacity {
        opacity: 0.2;
    }

    .readmore {
        color: #3644ff;
    }

    .btnflex {
        display: flex;
    }

    .pofix {
        display: flex;
    }

    @@media (max-width: 1200px) {
        .pofix {
            position: inherit !important;
        }

        .resres {
            position: inherit !important;
        }

        .redwidth {
            width: 100% !important;
        }
    }

    .resres {
        position: fixed;
    }

    .redwidth {
        width: 47%;
    }

    #contact-form input {
        border: 1px solid #ebebeb;
        color: #999999;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        height: 50px;
        padding-left: 25px;
        text-transform: uppercase;
        width: 100%;
    }

    #contact-form textarea {
        border: 1px solid #ebebeb;
        font-family: Montserrat;
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        height: 120px;
        padding: 25px;
        text-transform: uppercase;
        width: 100%;
    }


    #contact-form button {
        background: #1A73E8 !important;
        border: none;
        color: white !important;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        padding: 17px 44px;
        text-transform: uppercase;
        transition: .3s;
        letter-spacing: 1px;
    }

        #contact-form button:hover {
            background: #1A73E8;
            color: #fff;
            border-color: #1A73E8;
        }

    /*new css*/
    .table tr:not(.header) {
        display: none;
    }

    .table tr.header {
        border-bottom: 1px solid #ebebeb;
    }

    .table .header td:after {
        content: "\002b";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        color: #999;
        text-align: center;
        padding: 3px;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
    }

    .table .header.active td:after {
        content: "\2212";
    }

    .table-bordered td, .table-bordered th {
        border: none !important;
    }

    .cent {
        text-align: center;
    }

        .cent > label {
            color: #000 !important;
        }

    .fntsize {
        font-size: 24px;
    }
</style>
<div class="row" id="loaderopacity">
    <!-- Progress Table start -->
    <div id="frm" class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-body">
                <a href="#" class="btn btn-sm btn-primary float-right mb-3" onclick="goBack()">
                    Back
                </a>
                @if (ProjectSession.UserType == 2 && (Model.StatusId == 6 || Model.StatusId == 10))
                {
                    <button type="button" onclick="printDiv()" class="btn btn-danger btn-sm float-right" style="margin-right:10px">
                        <i class="fa fa-download" aria-hidden="true"></i> Download
                    </button>
                }

                @Html.HiddenFor(model => model.Id)
                @if (Model.Id > 0)
                {
                    <h4 class="card_title mt-2">Appointment</h4>
                }
                else
                {
                    <h4 class="card_title mt-2">Book Appointment</h4>
                }
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table progress-table table-bordered">
                            @using (Html.BeginForm(Actions.AddBookAppointments, Controllers.Appointment, FormMethod.Post, new { @id = "contact-form" }))
                            {
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.SessionScheduleId)
                                <tbody>
                                    <tr class="header">
                                        <td class="card_title" colspan="4">PATIENT DETAILS</td>
                                    </tr>
                                    <tr>
                                        <td><b>Medical Record Number : </b></td>
                                        <td>@Model.MedicalRecordNumber</td>
                                    </tr>
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Name : </b></td>
                                            <td>@Model.PatientName</td>

                                        </tr>
                                    }
                                    <tr>
                                        <td><b>DOB : </b></td>
                                        <td>@Model.PatientDOB</td>
                                    </tr>
                                    <tr>
                                        <td><b>Address : </b></td>
                                        <td>@Model.PatientAddress</td>
                                    </tr>
                                    <tr>
                                        <td><b>Email : </b></td>
                                        <td>@Model.PatientEmail</td>

                                    </tr>
                                    <tr>
                                        <td><b>Phone : </b></td>
                                        <td>@Model.PatientPhone</td>
                                    </tr>


                                    <tr class="header">
                                        <td class="card_title" colspan="4">APPOINTMENT DETAILS</td>
                                    </tr>
                                    @*<tr>
                                            <td><b>Medical Record Number : </b></td>
                                            <td> @Html.TextBoxFor(model => model.MedicalRecordNumber, new { @class = "form-control", style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })</td>
                                        </tr>*@
                                    <tr>
                                        <td><b>Date and Time : </b></td>
                                        <td>@Model.DisplayDate  @Model.DisplayTime</td>
                                    </tr>
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Status : </b></td>
                                            <td>
                                                @if (Model.Status == "Pending")
                                                {
                                                    <span class="badge badge-warning">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Approved")
                                                {
                                                    <span class="badge badge-info">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Cancelled")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Completed")
                                                {
                                                    <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Rejected")
                                                {
                                                    <span class="badge badge-danger">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Running")
                                                {
                                                    <span class="badge badge-info">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                                else if (Model.Status == "Drafted")
                                                {
                                                    <span class="badge badge-success">@Html.DisplayFor(modelItem => Model.Status)</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Doctor : </b></td>
                                            <td>
                                                <b>@Model.DoctorName</b>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Reason for the Visit : </b></td>
                                            <td>
                                                @Model.UserDescription
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Reason for the Visit: </b></td>
                                            <td>
                                                <div class="col-lg-12 mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @Model.UserDescription
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.Id > 0)
                                    {
                                        <tr>
                                            <td><b>Special Request : </b></td>

                                            @if (Model.SpecialRequests != null && Model.SpecialRequests != "")
                                            {
                                                <td>
                                                    @Model.SpecialRequests
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    -
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Special Request</b></td>
                                            <td>
                                                <div class="col-lg-12 mt-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @Model.SpecialRequests
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Medical History : </b></td>
                                        @if (Model.MedicalHistory != null && Model.MedicalHistory != "")
                                        {
                                            <td>
                                                @Model.MedicalHistory
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                -
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><b>Surgical History : </b></td>
                                        @if (Model.SurgicalHistory != null && Model.SurgicalHistory != "")
                                        {
                                            <td>
                                                @Model.SurgicalHistory
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                -
                                            </td>
                                        }
                                    </tr>
                                    <tr style="border-bottom:1px solid #ebebeb">

                                        <td class="fntsize" colspan="4"><b>Vitals</b></td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <form>
                                                <div class="form-row">
                                                    <div class="col-sm-6 cent">
                                                        <label><b>Temp</b> </label>
                                                        @Html.TextBoxFor(model => model.Temp, new { @class = "form-control", @readonly = "readonly" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                    <div class="col-sm-6 cent">
                                                        <label><b>BP</b> </label>
                                                        @Html.TextBoxFor(model => model.BP, new { @class = "form-control", @readonly = "readonly" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <div class="form-row">
                                                    <div class="col-sm-4 cent">
                                                        <label><b>HR</b> </label>
                                                        @Html.TextBoxFor(model => model.HR, new { @class = "form-control", @readonly = "readonly" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                    <div class="col-sm-4 cent">
                                                        <label><b>RR</b> </label>
                                                        @Html.TextBoxFor(model => model.RR, new { @class = "form-control", @readonly = "readonly" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                    <div class="col-sm-4 cent">
                                                        <label><b>SaO2</b> </label>
                                                        @Html.TextBoxFor(model => model.SaO2, new { @class = "form-control", @readonly = "readonly" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Allergy : </b></td>
                                        @if (Model.Allergy != null && Model.Allergy != "")
                                        {
                                            <td>
                                                @Model.Allergy
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                -
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td><b>Medications : </b></td>
                                        @if (Model.Medications != null && Model.Medications != "")
                                        {
                                            <td>
                                                @Model.Medications
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                -
                                            </td>
                                        }
                                    </tr>
                                    @if (Model.Id > 0 && Model.StatusId != 2)
                                    {
                                        <tr>
                                            <td style="width:40%"><b>Subjective : </b></td>
                                            <td>
                                                @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                {
                                                    @Html.TextAreaFor(model => model.DoctorComments, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                }
                                                else
                                                {
                                                    if (Model.DoctorComments != null && Model.DoctorComments != "")
                                                    {
                                                        @Model.DoctorComments
                                                    }
                                                    else
                                                    {
                                                        <p>-</p>
                                                    }
                                                }
                                            </td>
                                        </tr>

                                        if (ProjectSession.UserType == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Objective : </b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments2, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        if (Model.DoctorComments2 != null && Model.DoctorComments2 != "")
                                                        {
                                                            @Model.DoctorComments2
                                                        }
                                                        else
                                                        {
                                                            <p>-</p>
                                                        }
                                                    }
                                                </td>
                                            </tr>

                                        }
                                        if (ProjectSession.UserType == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Assessment : </b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments3, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        if (Model.DoctorComments3 != null && Model.DoctorComments3 != "")
                                                        {
                                                            @Model.DoctorComments3
                                                        }
                                                        else
                                                        {
                                                            <p>-</p>
                                                        }
                                                    }
                                                </td>
                                            </tr>


                                        }

                                        if (ProjectSession.UserType == 1)
                                        {
                                            <tr>
                                                <td style="width:40%"><b>Plan : </b></td>
                                                <td>
                                                    @if (ProjectSession.UserType == 1 && (Model.StatusId == 3 || Model.StatusId == 9 || Model.StatusId == 10))
                                                    {
                                                        @Html.TextAreaFor(model => model.DoctorComments4, new { rows = 3, style = "width:100%; border: 1px solid #cccccc; padding: 5px;" })<br />
                                                    }
                                                    else
                                                    {
                                                        if (Model.DoctorComments4 != null && Model.DoctorComments4 != "")
                                                        {
                                                            @Model.DoctorComments4
                                                        }
                                                        else
                                                        {
                                                            <p>-</p>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }

                                        <tr>
                                            <td style="width:40%; vertical-align: initial !important;">
                                                <b>Has Insurance ?</b>
                                            </td>
                                            <td>
                                                @if (Model.HasInsurance)
                                                {
                                                    <p><b>Yes</b></p><br />
                                                    <p><b>Insurance Company Name : </b>@Model.InsuranceCompanyName</p><br />
                                                    <p><b>Insurance Id / Beneficiary No   : </b>@Model.InsuranceId</p><br />
                                                    <p><b>Insurance Type         : </b>@Model.InsuranceType</p><br />
                                                    <p><b>Group Number            : </b>@Model.GroupNumber</p><br />
                                                }
                                                else
                                                {
                                                    <p><b>No</b></p>
                                                }
                                            </td>
                                        </tr>
                                      
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="ring_loader primary_ring_loader" id="endcallloader" style="position:fixed; z-index:1;top: 50%;left:50%;">
    <div></div><div></div><div></div><div></div>
</div>
<script>

    function SetitemId(itmId) {
        $("#itemId").val(itmId);
    }

    $(document).ready(function () {
        $("#phide").hide();
        $("#appntArea").hide();
        $("#endcallloader").hide();
           $("#form_submit2").click(function () {
                    UpdateComments(1,0);
           });

           if (@Model.StatusId == 10) {
               $("#frm").removeClass("col-xl-6 mt-4");
               $("#frm").addClass("col-xl-12 mt-4");
           }
        });


    function UpdateComments(IsSave, IsEndNow) {
        if (IsSave == 0 && IsEndNow == 1) {
            $("#endcallloader").show();
            $("#loaderopacity").addClass('addopacity');
        }
        var session = new Object()
        session.DoctorComments4 = $("#DoctorComments4").val();
        session.DoctorComments3 = $("#DoctorComments3").val();
        session.DoctorComments2 = $("#DoctorComments2").val();
        session.DoctorComments = $("#DoctorComments").val();
        session.MedicalHistory = $("#MedicalHistory").val();
        session.SurgicalHistory = $("#SurgicalHistory").val();
        session.Allergy = $("#Allergy").val();
        session.Medications = $("#Medications").val();
        session.Temp = $("#Temp").val();
        session.BP = $("#BP").val();
        session.HR = $("#HR").val();
        session.RR = $("#RR").val();
        session.SaO2 = $("#SaO2").val();
        session.MedicalRecordNumber = $("#MedicalRecordNumber").val();
        session.IsSave = IsSave;
        session.IsEndNow = IsEndNow;
        session.vrfy_pass = $("#vrfy_pass").val();
        session.Id = $("#Id").val();
        $.ajax({
            type: "POST",
            data: session,
            url: "@Url.Action("UpdateComments", "Appointment")",
            success: function (response) {
                if (response == "Not Auth") {
                    $('#exampleModalLong2').modal('show');
                    $("#phide").show();
                }
                else {
                   if (IsSave == 1) {
                       window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment, new { area = "" })';
                   }
                   else if (IsSave == 0) {
                      window.location.reload();
                   }
                }
            }
        });
    }

  function goBack() {
        if (@Model.StatusId === 0) {
            window.location.replace('/Dashboard/index');
        }
        else if(@Model.StatusId === 2) {
            window.location.href = '@Url.Action(Actions.NewAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 3) {
            window.location.href = '@Url.Action(Actions.UpcomingAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 4) {
            window.location.href = '@Url.Action(Actions.Rejectedintments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 5) {
            window.location.href = '@Url.Action(Actions.Rejectedintments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 6) {
            window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment)';
        }
        else if(@Model.StatusId === 10) {
            window.location.href = '@Url.Action(Actions.CompletedAppointments, Controllers.Appointment)';
        }
        else {

            window.location.href = '@Url.Action(Actions.Index, Controllers.Dashboard)';
        }
    }
    $(function () {
        $('#btnJoinCall').click(function () {

            var Id = btoa(@Model.Id);
            var session = new Object()
            session.sid = Id;
            $.ajax({
            type: "POST",
            data: session,
            url: "@Url.Action(Actions.StartCall, Controllers.Appointment)",
                success: function (response) {
                    $('#btnJoinCall').hide();
                    $("#appntArea").show();
                if (!$('#iframe').length) {
                    $('#iframeHolder').html('<iframe class="embed-responsive-item resres redwidth" id="iframe" src="@Configurations.VideoCall' +@Model.Id+'" height="700" allow="geolocation; microphone; camera"></iframe>');
                }
            }
           });

        });
    });


    $(document).ready(function () {
        var ua = navigator.userAgent,
            event = (ua.match(/iPad/i)) ? "touchstart" : "click";
        if ($('.table').length > 0) {
            $('.table .header').on(event, function () {
                $(this).toggleClass("active", "").nextUntil('.header').css('display', function (i, v) {
                    return this.style.display === 'table-row' ? 'none' : 'table-row';
                });
            });
        }
    })

    function showloader() {
        $("#ftr").hide();
        $("#ftr1").hide();
        $("#loader").show();
        $("#msgRegister").show();
    }


    function printDiv() {

        var divToPrint = document.getElementById('test');

        var newWin = window.open('#', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><head> <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link href="../../Content/style.css" rel="stylesheet"/></head><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 1000);

    }
</script>


