﻿@using SironaTeleMed.Entities.V1;
@using SironaTeleMed.Common;

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@model WebContactUs

<style>
    .ulockd-contact-form .ulockd-form-fg {
        margin-bottom: 0px;
    }
</style>
<!-- Home Design Inner Pages -->
<div class="ulockd-inner-home">
    <div class="container">
        <div class="row">
            <div class="inner-conraimer-details">
                <div class="col-md-12">
                    <h1 class="text-uppercase">CONTACT US</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Home Design Inner Pages -->
<div class="ulockd-inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ulockd-icd-layer">
                    <ul class="list-inline ulockd-icd-sub-menu">
                        <li><a href="@Url.Action("Index", "Home")"> HOME </a></li>
                        <li><a href="#"> > </a></li>
                        <li> <a href="#"> CONTACT US </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Inner Pages Main Section -->
<section class="ulockd-contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Contact Details</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                <div class="ulockd-ohour-info style2 text-center">
                    <div class="ulockd-icon text-thm2"><span class="fa fa-phone"></span></div>
                    <div class="ulockd-info">
                        <h3>Call Us</h3>
                        <p class="ulockd-addrss">+98 9875 5968 54</p>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                <div class="ulockd-ohour-info style2 text-center">
                    <div class="ulockd-icon text-thm2"><span class="fa fa-map-signs"></span></div>
                    <div class="ulockd-info">
                        <h3>Address</h3>
                        <p>Four infity loop Av. 45635</p>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                <div class="ulockd-ohour-info style2 mb305-xsd text-center">
                    <div class="ulockd-icon text-thm2"><span class="fa fa-edit"></span></div>
                    <div class="ulockd-info">
                        <h3>Mail Us</h3>
                        <p class="ulockd-addrss"><strong>Email:</strong> Left Some Word</p>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3">
                <div class="ulockd-ohour-info style2 text-center">
                    <div class="ulockd-icon text-thm2"><span class="icon-Envelope"></span></div>
                    <div class="ulockd-info">
                        <h3>Mail Us</h3>
                        <p class="ulockd-addrss"><strong>Email:</strong> dummy2@yourmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ulockd-mrgn1250">
            <div class="col-md-12">
                <div class="ulockd-contact-form">
                    @using (Html.BeginForm("WebContact", "ContactUs", FormMethod.Post, new { @id = "contact-form", @class = "contact-form", @novalidate = "" }))
                    {
                        <h5 style="text-align:center;color:red;">@ViewBag.ErrorMessage</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Name, new { maxlength = 100, @class = "form-control ulockd-form-fg", @required = "", placeholder = "Your Name" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { maxlength = 100, @class = "form-control ulockd-form-fg", @required = "", placeholder = "Your Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Phone, new { maxlength = 100, @class = "form-control ulockd-form-fg", @required = "", placeholder = "Phone", @Type = "number" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Subject, new { maxlength = 100, @class = "form-control ulockd-form-fg", @required = "", placeholder = "Subject" })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Message, new { rows = 12, @class = "form-control ulockd-form-fg", @required = "", placeholder = "Your Message" })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group ulockd-contact-btn">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" value="" type="hidden">
                                    <button type="submit" class="btn btn-default ulockd-btn-thm2" data-loading-text="Getting Few Sec...">SUBMIT</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ulockd-padz">
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7342.854947836821!2d72.50440389382783!3d23.04478459361963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3f18c24ae12aa29!2sTime%20Square%202!5e0!3m2!1sen!2sin!4v1569304556616!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>

<!-- Our Partner -->
<section class="unlock-divider ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/client/partners/1.png" alt="1.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/client/partners/2.png" alt="2.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/client/partners/3.png" alt="3.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/client/partners/4.png" alt="4.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/client/partners/5.png" alt="5.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="~/images/client/partners/6.png" alt="6.png"></div></div>
        </div>
    </div>
</section>
