﻿@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <h1 style="color: #00ACFF;">Thank you for Contacting Us</h1>
    </div>
</div>