﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
    int countnew = 1;
}

@model AbstractIndexMaster
<style>
    .table-striped tbody tr td,
    .table-striped thead tr th {
        text-align: center;
    }
</style>

@if (ProjectSession.UserType == 3)
{
    
    <div class="row">
        <!-- Striped table start -->
        <div class="col-xl-12 stretched_card mt-mob-6">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action(Actions.NewAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-sm btn-primary float-right mb-3">
                        View All
                    </a>
                    <h4 class="card_title mt-2">NEW APPOINTMENTS</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Sr.</th>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.abstractNewSessions.Count > 0)
                                    {
                                        foreach (var item in Model.abstractNewSessions)
                                        {
                                            <tr>
                                                <td>@countnew</td>
                                                <td>
                                                    @if (item.UserType == 4)
                                                    {
                                                        <img src="~/images/guest.jpg" width="20" height="20" title="Guest User"/>@Html.DisplayFor(modelItem => item.PatientName)
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.PatientName)
                                                    }
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.DisplayDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DisplayTime)</td>
                                                <td>
                                                    @if (item.Status == "Pending")
                                                    {
                                                        <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                    else if (item.Status == "Approved")
                                                    {
                                                        <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action(Actions.BookAppointments, Controllers.Appointment, new { area = "", id = item.Id , SSid = item.Id })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                                    <button type="button" data-toggle="modal" data-target="#acceptappointment" onclick="SetitemId(btoa(@item.Id))" class="btn btn-success" title="Accept" style="margin-left:10px"><i class="ti-check"></i></button>
                                                    <div class="modal fade" id="acceptappointment" style="display: none;">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Select Doctor</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group" style="display: flex; width: 100%;">
                                                                        <label class="col-form-label">Doctor:</label>
                                                                        @Html.DropDownList(" ", new SelectList(ViewBag.Doctor, "Value", "Text"), new { @id = "DoctorName", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light" data-dismiss="modal" title="Cancel">Cancel</button>
                                                                    <button type="button" class="btn btn-primary sweet_success_btn" onclick="UpdateStatus(3)" id="AssignDoctor" title="Assign">Assign</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-danger" data-toggle="modal" data-target="#RejectedReasonDash" onclick="SetitemId(btoa(@item.Id))" title="Reject" style="margin-left:10px"><i class="ti-close"></i></button>
                                                    <div class="modal fade" id="RejectedReasonDash">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <input type="hidden" id="itemId" />
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Confirmation</h5>
                                                                    <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                                                                </div>
                                                                <div class="modal-body" style="text-align: center;">
                                                                    <p style="font-size: 16px; font-weight: 500;">
                                                                        Are you sure you want to reject this appointment
                                                                    </p>
                                                                    <div class="form-group" style="display: flex; width: 100%;">
                                                                        <label class="col-form-label">Reason:</label>
                                                                        <input class="form-control" type="text" id="RejectedReason" style="margin-left: 10px;">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                                                                    <button type="button" class="btn btn-primary sweet_success_reject_sucess" onclick="UpdateStatus(5)" id="UserTable">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            countnew++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="odd">
                                            <td valign="top" colspan="12" class="dataTables_empty">No Record(s) Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 stretched_card mt-mob-6" style="margin-top: 30px;">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action(Actions.UpcomingAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-sm btn-primary float-right mb-3">
                        View All
                    </a>
                    <h4 class="card_title mt-2">Upcoming Appointments</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Sr.</th>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Charge</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.abstractSessions.Count > 0)
                                    {
                                        foreach (var item in Model.abstractSessions)
                                        {
                                    <tr>
                                        <td>@count</td>
                                        @if (item.DoctorName == null)
                                        {
                                            <td> - </td>
                                        }
                                        else
                                        {
                                            <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                        }
                                        <td>
                                            @if (item.UserType == 4)
                                            {
                                                <img src="~/images/guest.jpg" width="20" height="20" title="Guest User" />@Html.DisplayFor(modelItem => item.PatientName)
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.PatientName)
                                            }
                                        </td>
                                        @*<td>@Html.DisplayFor(modelItem => item.PatientName)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.DisplayDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DisplayTime)</td>
                                        <td>$ 45</td>
                                        <td>
                                            @if (item.Status == "Pending")
                                            {
                                                <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                                            }
                                            else if (item.Status == "Approved")
                                            {
                                                <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span>
                                            }
                                            else if (item.Status == "Running")
                                            {
                                                if (@ProjectSession.UserType == 2)
                                                {
                                                    <a href="@Url.Action(Actions.JoinCall, Controllers.Appointment, new { area = "", id = ConvertTo.Base64Encode(item.Id.ToString()) })" target="_blank" class="badge badge-default">Join Call</a>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-info">Running</span>
                                                }
                                            }
                                        </td>
                                        <td style="display:flex">
                                            <a href="@Url.Action(Actions.BookAppointments, Controllers.Appointment, new { area = "", id = item.Id , SSid = item.Id })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#CancelledReasonDash" onclick="SetitemId(btoa(@item.Id))" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                        </td>
                                    </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="odd">
                                            <td valign="top" colspan="12" class="dataTables_empty">No Record(s) Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (ProjectSession.UserType == 1)
{
    <div class="row">
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action(Actions.UpcomingAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-sm btn-primary float-right mb-3">
                        View All
                    </a>
                    <h4 class="card_title mt-2">Upcoming Appointments</h4>

                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Sr.</th>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.abstractSessions.Count > 0)
                                    {
                                        foreach (var item in Model.abstractSessions)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                @if (item.PatientName == null)
                                                {
                                                    <td> - </td>
                                                }
                                                else
                                                {
                                                    <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                                }
                                                <td>@Html.DisplayFor(modelItem => item.DisplayDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DisplayTime)</td>
                                                <td>
                                                    @if (item.Status == "Pending")
                                                    {
                                                        <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                    else if (item.Status == "Approved")
                                                    {
                                                        <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                    else if (item.Status == "Running")
                                                    {
                                                        if (@ProjectSession.UserType == 2)
                                                        {
                                                            <a href="@Url.Action(Actions.JoinCall, Controllers.Appointment, new { area = "", id = ConvertTo.Base64Encode(item.Id.ToString()) })" target="_blank" class="badge badge-default">Join Call</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-info">Running</span>
                                                        }
                                                    }
                                                </td>
                                                <td style="display:flex">
                                                    <a href="@Url.Action(Actions.DoctorAppointment, Controllers.Appointment, new { area = "", id = item.Id , SSid = item.Id })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                                    <button class="btn btn-danger" data-toggle="modal" data-target="#CancelledReasonDash" onclick="SetitemId(btoa(@item.Id))" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="odd">
                                            <td valign="top" colspan="12" class="dataTables_empty">No Record(s) Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (ProjectSession.UserType == 2)
{
    <div class="row">
        <h3 id="phide">Your Appointment has been booked</h3>
    </div>
    <div class="row">
        <!-- Progress Table start -->
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card_title mt-2">Search Appointments</h4>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="input-group form-group">
                                    <input type="text" id="searchdate" class="form-control" name="dateselect" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button href="#" id="div2" type="submit" class="btn btn-sm btn-primary mb-12">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ap-tmng" id="partial">
                        @Html.Partial("_SearchSessions")
                    </div>
                </div>
            </div>
        </div>
        <!-- Progress Table start -->
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <a href="@Url.Action(Actions.UpcomingAppointments,Controllers.Appointment, new { area = "" })" class="btn btn-sm btn-primary float-right mb-3">
                        View All
                    </a>
                    <h4 class="card_title mt-2">Upcoming Appointments</h4>

                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">Sr.</th>
                                        @if (Model.abstractSessions.Count > 0)
                                        {
                                            if (ProjectSession.UserType == 1)
                                            {
                                                <th scope="col">Patient Name</th>
                                            }
                                            else
                                            {
                                                <th scope="col">Doctor Name</th>
                                            }
                                        }
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.abstractSessions.Count > 0)
                                    {
                                        foreach (var item in Model.abstractSessions)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                @if (item.DoctorName == null)
                                                {
                                                    <td> - </td>
                                                }
                                                else
                                                {
                                                    <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                                }
                                                <td>@Html.DisplayFor(modelItem => item.DisplayDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DisplayTime)</td>
                                                <td>
                                                    @if (item.Status == "Pending")
                                                    {
                                                        <span class="badge badge-warning">@Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                    else if (item.Status == "Approved")
                                                    {
                                                        <span class="badge badge-info">@Html.DisplayFor(modelItem => item.Status)</span>
                                                    }
                                                    else if (item.Status == "Running")
                                                    {
                                                        if (@ProjectSession.UserType == 2)
                                                        {
                                                            <a href="@Url.Action(Actions.JoinCall, Controllers.Appointment, new { area = "", id = ConvertTo.Base64Encode(item.Id.ToString()) })" target="_blank" class="badge badge-default">Join Call</a>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-info">Running</span>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action(Actions.BookAppointments, Controllers.Appointment, new { area = "", id = item.Id , SSid = item.Id })" class="btn btn-info" title="View"><i class="ti-pencil"></i></a>
                                                    <button class="btn btn-danger" data-toggle="modal" data-target="#CancelledReasonDash" onclick="SetitemId(btoa(@item.Id))" title="Cancel" style="margin-left:10px"><i class="ti-close"></i></button>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr class="odd">
                                            <td valign="top" colspan="12" class="dataTables_empty">No Record(s) Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="CancelledReasonDash">
    <div class="modal-dialog  modal-dialog-centered">
        <input type="hidden" id="itemId" />
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p style="font-size: 16px; font-weight: 500;">
                    Are you sure you want to cancel this appointment
                </p>
                <div class="form-group" style="display: flex; width: 100%;">
                    <label class="col-form-label">Reason:</label>
                    <input class="form-control" type="text" id="CancelledReason" style="margin-left: 10px;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary sweet_success_cancel_sucess" onclick="UpcomingUpdateStatus(4)" id="UserTable">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" data-controls-modal="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #4CAF50">
                <h3 style="color: #fff;">Success</h3>
            </div>
            <div class="modal-body">
                <h6>Your appointment has been successfully registered !</h6>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" id="successok" class="btn btn-success" style="background:#4CAF50;color: #fff;">Ok</a>
            </div>
        </div>
    </div>
</div>

<style>
    .ap-timers {
        background: #e3e3e3;
        padding: 20px 15px;
        display: inline-block;
    }

        .ap-timers ul {
            padding: 0;
            margin: 0;
            width: 100%;
            list-style: square;
        }

            .ap-timers ul li {
                position: relative;
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 25px;
            }

                .ap-timers ul li a {
                    width: 100%;
                    background: #fff;
                    border-radius: 5px;
                    padding: 8px 15px;
                    color: #1a2c3f;
                    font-size: 14px;
                    text-decoration: none;
                    border: 1px solid #dfdfdf;
                }

                    .ap-timers ul li a:hover {
                        background: #cccccc;
                    }
                    #phide{
                        display: none;
                    }
                    #pshow{
                        display: block;
                    }
</style>

<script>
    function SetitemId(itmId) {
         $("#itemId").val(itmId);
    }

    $(document).ready(function () {
        if ('@ProjectSession.IsMsg' == "1") {           
            $('#myModal').modal('show');
        }
    });

    $("#successok").click(function () {
        $.ajax({
            url: "@Url.Action("UpdateIsMessage", "Dashboard")",
            cache: false,
            success: function (html) {               
            }
        });      
    });
    
   
    $("#DoctorName").change(function () {
        if ($("#DoctorName").val() == "0") {
            $("#AssignDoctor").hide();
        } else {
            $("#AssignDoctor").show();
        }
    });
   
    function UpdateStatus(StsId) {
        var itemId = $("#itemId").val();
        var reason = $("#RejectedReason").val();
        var doctor = $("#DoctorName").val();
        var url = '@Url.Action("SessionUpdateByStatusId", "Dashboard")';
        var data = { Id: itemId, StatusId: StsId, RejectedReason: reason, AssignedTo: doctor };
          $.post(url, data, function (result) {
              $("#itemId").val("");
              $("#DoctorName").val("0");
              $("#AssignDoctor").hide();
              BindClientTable();
        });
    }

    function UpcomingUpdateStatus(StsId) {
        var itemId = $("#itemId").val();
        var reason = $("#CancelledReason").val();
        var url = '@Url.Action("SessionUpdateByStatusId", "Dashboard")';
        var data = { Id: itemId, StatusId: StsId, CancelledReason: reason};
          $.post(url, data, function (result) {
              $("#itemId").val("");
              console.log('response', response);
            window.location.reload();
        });
    }

    function makeAppt(date, var1, var2) {
        window.location.href= '@Url.Action(Actions.BookAppointments, Controllers.Appointment, new { type = 0 })';
    }

    $(document).ready(function () {
        $('#div2').click(function () {
            getSchedules();
        });
    });

    function getSchedules() {
      var Date = searchdate = $("#searchdate").val();
        $.ajax({
            type: "POST",
            data: { date: Date},
          url: "@Url.Action("_SearchSessions", "Dashboard")",
            success: function (response) {
              $("#partial").html(response);
            }
        });
    }

    $(document).ready(function () {       
        $("#AssignDoctor").hide();
    });

</script>

