﻿
@using SironaTeleMed.Entities.Contract;
@{
    ViewBag.Title = "SearchSessions";
}

@model AbstractIndexMaster

<div class="ap-timers text-center" style="width: 100%">
    <h2>Appointment Timings</h2>
    <br>
    <ul>
        @if (Model != null && Model.abstractSessionSchedules != null && Model.abstractSessionSchedules.Count() > 0)
        {
            foreach (var item in Model.abstractSessionSchedules)
            {
                <li style="line-height:30px;width:130px">
                    <a href=@Url.Action("BookAppointments", "Appointment", new { area = "", id = 0 , SSid =  item.Id  }) style="font-size: 16px; border: 2px solid #00B3FF;">@item.AppointMentDate</a>
                </li>
            }
        }
        else
        {
            <li><a style="font-size: 16px; border: 2px solid #00B3FF;">No Appointments Found !</a></li>
        }
    </ul>
</div>