﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;
@using SironaTeleMed.Entities.Contract

@{
    ViewBag.Title = "SearchSessions";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@model AbstractIndexMaster

<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card_title mt-2">Search Appointments</h4>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-3 mb-3">
                                <div class="input-group form-group">
                                    <input type="text" id="searchdate" class="form-control" name="dateselect" />
                                    <div class="input-group-append" style="display:flex;">
                                        <span class="input-group-text" style="display: flex;background-color: #f9f9f9 !important;border-radius: .25rem;border: 1px solid rgba(170, 170, 170, 0.3) !important;padding: .495rem .75rem;">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
							    <button id="div2" type="submit" class="btn" style="background: #00B3FF !important;color: #fff">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="ap-tmng" id="partial">
                        @Html.Partial("_SearchSessions")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .ap-timers {
        background: #e3e3e3;
        padding: 20px 15px;
        display: inline-block;
    }
    .ap-timers ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style: square;
    }
    .ap-timers ul li {
        position: relative;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 25px;
    }
    .ap-timers ul li a {
        width: 100%;
        background: #fff;
        border-radius: 5px;
        padding: 8px 15px;
        color: #1a2c3f;
        font-size: 14px;
        text-decoration: none;
        border: 1px solid #dfdfdf;
    }
    .ap-timers ul li a:hover {
        background: #cccccc;
    }
</style>