﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    .linktag {
        color: #FFF;
        padding: 0px 0px !important;
    }

        .linktag:hover {
            color: #FFF;
            background-color: #004274 !important;
        }

    .linktag1 {
        color: #FFF;
        padding: 0px 0px !important;
    }

        .linktag1:hover {
            color: #FFF;
            background-color: #00b3ff !important;
        }
</style>
<!-- Home Design -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide bgc-overlay-black3" data-transition="verticalSlide" data-duration="1500" style="background-image:url(images/Client/home/h3.jpg);">
                    <div class="lbox-caption">
                        <div class="lbox-details">
                            <h1 class="fz60">Welcome <span class="text-thm2 bgc-white">Sirona Tele Med </span></h1>
                            <h3 class="fz40 ulockd-mrgn120">Your Health Care Company.</h3>
                            <button class="btn btn-lg ulockd-btn-thm2"><a href="@Url.Action("Index", "HowWeWork")" class="linktag">About Us </a><span class="fa fa-angle-double-right"></span> </button>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide bgc-overlay-black3" data-transition="barRevealDown" data-duration="2000" style="background-image:url(images/Client/home/h4.jpg);">
                    <div class="lbox-caption">
                        <div class="lbox-details">
                            <h1 class="fz60">Stay Safe With Us.</h1>
                            <h2>We Think About Your Health.</h2>
                            <button class="btn btn-lg ulockd-btn-thm2"><a href="@Url.Action("Index", "HowWeWork")" class="linktag">More Info </a></button>
                            <button class="btn btn-lg ulockd-btn-styledark"><a href="@Url.Action("Index", "ContactUs")" class="linktag1">Contact Us</a></button>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide bgc-overlay-black3" data-transition="zipReveal" data-duration="2000" style="background-image:url(images/Client/home/h5.jpg);">
                    <div class="lbox-caption">
                        <div class="lbox-details">
                            <h2 class="fz48">Discuss With Us.</h2>
                            <h3>Anything About Your Health Problem.</h3>
                            <button class="btn btn-lg ulockd-btn-thm2">Chech Availability </button>
                            <button class="btn btn-lg ulockd-btn-styledark"><a href="@Url.Action("Index", "HowWeWork")" class="linktag1">More Info</a> </button>
                        </div>
                    </div>
                </div>
            </div><!-- .pogoSlider -->
        </div>
    </div>
</div>

<!-- Our Feature Service-->
<section class="ulockd-divider bgc-whitef5">
    <div class="container">
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box bgc-white icon-left">
                    <div class="icon"><span class="flaticon-delivery text-thm2"></span></div>
                    <div class="details">
                        <h3>24/7 Ambulance & Emergency Care.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box bgc-white icon-left">
                    <div class="icon"><span class="flaticon-circle text-thm2"></span></div>
                    <div class="details">
                        <h3>Online Payment & Medical Support.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box bgc-white icon-left">
                    <div class="icon"><span class="flaticon-medical-11 text-thm2"></span></div>
                    <div class="details">
                        <h3>Expert Doctor's & Nurses.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our First Divider -->
<section class="service-two">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-box">
                    <div class="ab-thumb">
                        <img class="img-responsive img-whp" src="images/Client/about/1.jpg" alt="1.jpg">
                        <div class="diamond">
                            <a class="mfp-iframe mfp-youtube" href="https://www.youtube.com/watch?time_continue=18&amp;v=BDSGXVY3aNA" title="About Our Campus"><span class="fa fa-play ulockd-bgthm"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-box">
                    <h2 class="title-bottom ulockd-mrgn120 ulockd-mrgn620">The Sirona Tele Med's History With Experience.</h2>
                    <p class="lead">Ut enim ad minim veniam, quis nostrud ullamco nisi ut aliquip ex ea commodo.</p>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Vrginia, the source.</p>
                    <p class="ulockd-mrgn60">The Extremes of Good and Evil by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
                    <button type="submit" class="btn btn-lg ulockd-btn-thm2 ulockd-mrgn1215"><a href="@Url.Action("Index", "HowWeWork")" class="linktag">Explore Service</a></button>
                    <button type="submit" class="btn btn-lg ulockd-btn-blue ulockd-mrgn1215"><a href="@Url.Action("Index", "ContactUs")" class="linktag1">Contact Us</a></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Service -->
<section class="our-services bgc-whitef5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our <span class="text-thm2">Service</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center">
                    <div class="icon">
                        <span class="flaticon-cross text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Pet Care</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center">
                    <div class="icon">
                        <span class="flaticon-medical-18 text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Rehabilitation</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center">
                    <div class="icon">
                        <span class="flaticon-delivery text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>24 Hours Service</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center ulockd-mrgn1250">
                    <div class="icon">
                        <span class="flaticon-medical-11 text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Qualified Doctors</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center ulockd-mrgn1250">
                    <div class="icon">
                        <span class="flaticon-sign-1 text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Transplant Services</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center ulockd-mrgn1250">
                    <div class="icon">
                        <span class="flaticon-medical-22 text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Medical counselling</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center ulockd-mrgn1250">
                    <div class="icon">
                        <span class="flaticon-ambulance text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>24/7 Ambulance</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center ulockd-mrgn1250">
                    <div class="icon">
                        <span class="flaticon-pills text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Pharmacy</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="icon-box style2 text-center ulockd-mrgn1250">
                    <div class="icon">
                        <span class="flaticon-people-11 text-thm2"></span>
                    </div>
                    <div class="details">
                        <h3>Outdoor Checkup</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, words which don't look even slightly believable.</p>
                        <button class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Divider -->
<section class="divider-half ulockd-pad650 bgc-snowshade">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="ulockd-mrgn120">Why Choose Us?</h2>
                        <p class="lead">This Reasons That You Should Contact Us</p>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-12">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="flaticon-circle text-thm2"></span></div>
                            <div class="ib_details">
                                <h4>Over 35 years of experience</h4>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-12">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="flaticon-group text-thm2"></span></div>
                            <div class="ib_details">
                                <h4>We have experienced Doctor's & Nurse.</h4>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-12">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="flaticon-medical-22 text-thm2"></span></div>
                            <div class="ib_details">
                                <h4>We are improving Day By Day</h4>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxs-12 col-xs-6 col-sm-12">
                        <div class="icon_box text-left tac-smd">
                            <div class="icon pull-left fn-smd"><span class="flaticon-medical-9 text-thm2"></span></div>
                            <div class="ib_details">
                                <h4>We Provide The Best Services For All Of Our Patient</h4>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and it to make a type specimen book.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Department -->
<section class="our-department">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our <span class="text-thm2">Department</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <figure class="department_box imghvr-shutter-out-vert">
                    <img class="img-responsive img-whp" src="images/Client/service/4.jpg">
                    <figcaption>
                        <h4 class="ulockd-mrgn120">Cardiology Department</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                        <button class="btn btn-md ulockd-btn-white">Read More</button>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <figure class="department_box imghvr-shutter-out-vert">
                    <img class="img-responsive img-whp" src="images/Client/service/5.jpg">
                    <figcaption>
                        <h4 class="ulockd-mrgn120">Gynecology Department</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                        <button class="btn btn-md ulockd-btn-white">Read More</button>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <figure class="department_box imghvr-shutter-out-vert">
                    <img class="img-responsive img-whp" src="images/Client/service/6.jpg">
                    <figcaption>
                        <h4 class="ulockd-mrgn120">Orthopedic Department</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                        <button class="btn btn-md ulockd-btn-white">Read More</button>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <figure class="department_box imghvr-shutter-out-vert ulockd-mrgn1250">
                    <img class="img-responsive img-whp" src="images/Client/service/7.jpg">
                    <figcaption>
                        <h4 class="ulockd-mrgn120">surgery Department</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                        <button class="btn btn-md ulockd-btn-white">Read More</button>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <figure class="department_box imghvr-shutter-out-vert ulockd-mrgn1250">
                    <img class="img-responsive img-whp" src="images/Client/service/8.jpg">
                    <figcaption>
                        <h4 class="ulockd-mrgn120">Eye Department</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                        <button class="btn btn-md ulockd-btn-white">Read More</button>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <figure class="department_box imghvr-shutter-out-vert ulockd-mrgn1250">
                    <img class="img-responsive img-whp" src="images/Client/service/9.jpg">
                    <figcaption>
                        <h4 class="ulockd-mrgn120">Primary Health</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing typesetting industry.</p>
                        <button class="btn btn-md ulockd-btn-white">Read More</button>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<!-- Our First Divider -->
<section class="parallax ulockd_bgi2 overlay-tc9" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="color-white ulockd-mrgn120">For More About Us! Contact Now </h1>
                <p class="color-white lead ulockd-mrgn60">Sed ut Perspiciatis Unde Omnis Iste Sed ut sit voluptatem accusan tium </p>
            </div>
            <div class="col-md-4 text-center tal-smd">
                <button type="submit" class="btn btn-lg ulockd-btn-transparent ulockd-mrgn1215"><a href="@Url.Action("Index", "ContactUs")" class="linktag1">CONTACT US</a></button>
            </div>
        </div>
    </div>
</section>

<!-- Our First Pricing -->
<section class="our-pricing ulockd_bgp3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our <span class="text-thm2">Pricing</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Standard</h3>
                        <span class="price-value">$10 <span class="month">per month</span></span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>Routine checkup</li>
                            <li>24h Assisance</li>
                            <li>Emergency Support</li>
                            <li><del>Nutrional Plan: Yes</del></li>
                            <li><del>100 Tests & Treatments</del></li>
                            <li><del>Home Visits</del></li>
                            <li>Emergency calls</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Select Package<i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">Business</h3>
                        <span class="price-value">$20 <span class="month">per month</span></span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>Routine checkup</li>
                            <li>24h Assisance</li>
                            <li>Emergency Support</li>
                            <li>Nutrional Plan: Yes</li>
                            <li><del>100 Tests & Treatments</del></li>
                            <li><del>Home Visits</del></li>
                            <li>Emergency calls</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Select Package<i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="title">PREMIUM</h3>
                        <span class="price-value">$30 <span class="month">per month</span></span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>Routine checkup</li>
                            <li>24h Assisance</li>
                            <li>Emergency Support</li>
                            <li>Nutrional Plan: Yes</li>
                            <li>100 Tests & Treatments</li>
                            <li>Home Visits</li>
                            <li>Emergency calls</li>
                        </ul>
                        <div class="pricingTable-signup">
                            <a href="#">Select Package<i class="fa fa-arrow-circle-o-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->
<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Our <span class="text-thm2">Expert</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pad395">
                <div class="img_hvr_box team1">
                    <figure class="imghvr-flip-horiz">
                        <img class="img-responsive img-whp" src="images/Client/team/1.jpg" alt="1.jpg">
                        <figcaption>
                            <h3 class="ulockd-mrgn120">Ethan Scott</h3>
                            <p>- Cardiology</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur recusandae, doloribus!</p>
                            <div class="social-widget">
                                <i class="fa fa-facebook fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-linkedin fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-twitter fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-pinterest fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-skype fa-2x ulockd-pdng5"></i>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pad395">
                <div class="img_hvr_box team1">
                    <figure class="imghvr-flip-horiz">
                        <img class="img-responsive img-whp" src="images/Client/team/2.jpg" alt="2.jpg">
                        <figcaption>
                            <h3 class="ulockd-mrgn120">Elizabeth Henry</h3>
                            <p>- Orthopaedics</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, blanditiis, alias.</p>
                            <div class="social-widget">
                                <i class="fa fa-facebook fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-linkedin fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-twitter fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-pinterest fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-skype fa-2x ulockd-pdng5"></i>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pad395">
                <div class="img_hvr_box team1">
                    <figure class="imghvr-flip-horiz">
                        <img class="img-responsive img-whp" src="images/Client/team/3.jpg" alt="3.jpg">
                        <figcaption>
                            <h3 class="ulockd-mrgn120">Liam Mason</h3>
                            <p>- Haematology</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, nihil possimus!</p>
                            <div class="social-widget">
                                <i class="fa fa-facebook fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-linkedin fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-twitter fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-pinterest fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-skype fa-2x ulockd-pdng5"></i>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-3 ulockd-pad395">
                <div class="img_hvr_box team1">
                    <figure class="imghvr-flip-horiz">
                        <img class="img-responsive img-whp" src="images/Client/team/4.jpg" alt="4.jpg">
                        <figcaption>
                            <h3 class="ulockd-mrgn120">Marloon James</h3>
                            <p>- Cardiology</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nesciunt.</p>
                            <div class="social-widget">
                                <i class="fa fa-facebook fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-linkedin fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-twitter fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-pinterest fa-2x ulockd-pdng5"></i>
                                <i class="fa fa-skype fa-2x ulockd-pdng5"></i>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Divider -->
<section class="divider-half style2 ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="testimonial-col">
                    <h2 class="color-white title-bottom ulockd-mrgn120">Testimonials</h2>
                    <div class="one-grid-slider text-left">
                        <div class="item">
                            <div class="content bgc-white">
                                <p class="lead">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness</p>
                                <div class="media">
                                    <div class="media-left pull-left">
                                        <a href="#">
                                            <img class="media-object img-circle" src="images/Client/testimonial/1.jpg" alt="1.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body ulockd-pad915">
                                        <h4 class="media-heading">Benjamin</h4>
                                        Finibus Bonorum et Malorum, AUS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content bgc-white">
                                <span class="icon"></span>
                                <p class="lead">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness</p>
                                <div class="media">
                                    <div class="media-left pull-left">
                                        <a href="#">
                                            <img class="media-object img-circle" src="images/Client/testimonial/2.jpg" alt="2.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body ulockd-pad915">
                                        <h4 class="media-heading">Mason Ethan</h4>
                                        Finibus Bonorum et Malorum, AUS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content bgc-white">
                                <span class="icon"></span>
                                <p class="lead">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness</p>
                                <div class="media">
                                    <div class="media-left pull-left">
                                        <a href="#">
                                            <img class="media-object img-circle" src="images/Client/testimonial/3.jpg" alt="3.jpg">
                                        </a>
                                    </div>
                                    <div class="media-body ulockd-pad915">
                                        <h4 class="media-heading">Daniel Forg</h4>
                                        Finibus Bonorum et Malorum, AUS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Blog -->
<section class="ulockd-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="ulockd-main-title">
                    <h2 class="mt-separator">Popular <span class="text-thm2">Post</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <article class="blog-post">
                    <div class="post-thumb">
                        <img class="img-responsive img-whp" src="images/Client/blog/1.jpg" alt="1.jpg">
                    </div>
                    <div class="bp-details">
                        <ul class="list-inline">
                            <li><a href="#"><span class="flaticon-calendar-1"></span> 26 June</a></li>
                            <li><a href="#">2018</a></li>
                        </ul>
                        <h3 class="post-title">Let's Move With Our Recent Blog Posts</h3>
                        <p>Corporate blog is a blog that is published and used by an organization, corporation, etc. to reach its organizational goals.</p>
                        <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </article>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <article class="blog-post">
                    <div class="post-thumb">
                        <img class="img-responsive img-whp" src="images/Client/blog/2.jpg" alt="2.jpg">
                    </div>
                    <div class="bp-details">
                        <ul class="list-inline">
                            <li><a href="#"><span class="flaticon-calendar-1"></span> 26 June</a></li>
                            <li><a href="#">2018</a></li>
                        </ul>
                        <h3 class="post-title">Let's Move With Our Recent Blog Posts</h3>
                        <p>Corporate blog is a blog that is published and used by an organization, corporation, etc. to reach its organizational goals.</p>
                        <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </article>
            </div>
            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4">
                <article class="blog-post">
                    <div class="post-thumb">
                        <img class="img-responsive img-whp" src="images/Client/blog/3.jpg" alt="3.jpg">
                    </div>
                    <div class="bp-details">
                        <ul class="list-inline">
                            <li><a href="#"><span class="flaticon-calendar-1"></span> 26 June</a></li>
                            <li><a href="#">2018</a></li>
                        </ul>
                        <h3 class="post-title">Let's Move With Our Recent Blog Posts</h3>
                        <p>Corporate blog is a blog that is published and used by an organization, corporation, etc. to reach its organizational goals.</p>
                        <button type="submit" class="btn btn-default ulockd-btn-thm2">Read More</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Our Partner -->
<section class="unlock-divider ulockd-bgthm">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="images/Client/partners/1.png" alt="1.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="images/Client/partners/2.png" alt="2.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="images/Client/partners/3.png" alt="3.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="images/Client/partners/4.png" alt="4.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="images/Client/partners/5.png" alt="5.png"></div></div>
            <div class="col-xs-6 col-sm-4 col-md-2"><div class="ulockd-divider-thumb text-center bgc-white"><img src="images/Client/partners/6.png" alt="6.png"></div></div>
        </div>
    </div>
</section>