﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMedClient.Infrastructure;
@using SironaTeleMed.Entities.V1;
@using SironaTeleMed.Common;

@model Users

@{
    ViewBag.Title = "Register";
    Layout = null;
    ViewBag.Service = "";
}


<!doctype html>
<html lang="zxx">
<head>
    <!--=========================*
                Met Data
    *===========================-->
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=========================*
              Page Title
    *===========================-->
    <title>SironaTeleMed - Register</title>
    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!--=========================*
              Custom CSS
    *===========================-->
    <link rel="stylesheet" href="~/Content/style.css">
    <!--=========================*
               Owl CSS
    *===========================-->
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <!--=========================*
            Font Awesome
    *===========================-->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!--=========================*
             Themify Icons
    *===========================-->
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <!--=========================*
               Ionicons
    *===========================-->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!--=========================*
              EtLine Icons
    *===========================-->
    <link href="~/Content/et-line.css" rel="stylesheet" />
    <!--=========================*
              Feather Icons
    *===========================-->
    <link href="~/Content/feather.css" rel="stylesheet" />
    <!--=========================*
              Modernizer
    *===========================-->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <!--=========================*
               Metis Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <!--=========================*
               Slick Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <link rel="stylesheet" href="~/Content/Client/style.css">
    <!--=========================*
            Google Fonts
    *===========================-->
    <!-- Montserrat USE: font-family: 'Montserrat', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        .form-gp {
            margin-bottom: 20px !important;
        }

        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

        .inspectlet-sensitive div .form-control {
            width: 100% !important;
        }

        .inspectlet-sensitive {
            margin: 20px 0px;
        }

        .control-label span {
            color: red;
            margin-left: 5px;
        }

        .ap-timers {
            background: #e3e3e3;
            padding: 20px 15px;
            display: inline-block;
        }

            .ap-timers ul {
                padding: 0;
                margin: 0;
                width: 100%;
                list-style: square;
            }

                .ap-timers ul li {
                    position: relative;
                    display: inline-block;
                    margin-right: 15px;
                    margin-bottom: 25px;
                }

        ul.a {
            list-style-type: circle;
        }

        .ap-timers ul li a {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            padding: 8px 15px;
            color: #1a2c3f;
            font-size: 14px;
            text-decoration: none;
            border: 1px solid #dfdfdf;
        }

            .ap-timers ul li a:hover {
                background: #cccccc;
            }

        .list-inline > li {
            display: inline-block;
            padding-right: 25px;
            padding-left: 30px;
        }

        .login-form form {
            margin: 82px;
            z-index: 2;
            position: inherit !important;
            left: inherit !important;
            transform: inherit !important;
            width: 50%;
            top: inherit !important;
            background: #fff;
            border-radius: 10px;
            -webkit-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
            -moz-box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
            box-shadow: 0 18px 37.7px 15.3px rgba(0, 0, 0, 0.07);
        }

        .topnav {
            overflow: hidden;
        }

            .topnav a {
                float: left;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 35px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .topnav .icon {
                display: none;
            }

        .logbtn {
            background: #1EBEA5 !important;
            margin-top: 10px;
            font-weight: bold;
            font-size: 15px;
            border-radius: 30px;
        }

        .Register-form-body {
            padding: 10px 50px !important;
        }

        .colmd {
            padding: 6px 0px !important;
        }

        @@media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @@media screen and (max-width: 600px) {
            .topnav.responsive {
                position: relative;
            }

                .topnav.responsive .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .topnav.responsive a {
                    float: none;
                    display: block;
                    text-align: left;
                }

            .datetime {
                float: left !important;
            }

            .Register-form-body {
                padding: 10px 10px !important;
            }

            .logres {
                text-align: center;
            }

            .inspectlet-sensitive {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }

                .inspectlet-sensitive .control-label {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }

                .inspectlet-sensitive div {
                    padding-left: 5px !important;
                    padding-right: 5px !important;
                }

            .colmd {
                padding: 0px !important;
            }

            .radiobtn {
                width: 10% !important;
            }

            .datetitle {
                padding: 0px 3px !important;
            }

            .terms {
                font-size: 11px !important;
                margin-left: 10px !important;
            }

            .h2head {
                font-size: 28px !important;
            }

            .topnav a {
                padding: 14px 20px !important;
            }

            .color-white {
                font-size: 12px !important;
            }

            .ulockd-copy-right {
                padding: 10px 0px !important;
            }

            .welcm-ht {
                text-align: center !important;
            }

            .insuranceres {
                margin: 0px !important;
            }

                .insuranceres label,
                .insuranceres div #insurance {
                    margin-left: 0px !important;
                }

            .modal-body p,
            .modal-body ul li {
                font-size: 11px !important;
            }

            .modal-title {
                font-size: 13px;
            }

            .StripeElement {
                margin-top: 0px !important;
            }

            #insurinfo {
                padding: 0px !important;
            }

            .text-muted {
                font-size: 14px !important;
            }

            .form-footer {
                margin-top: 1rem !important;
            }

            .bttag {
                display: none;
            }
        }

        .mrgtop {
            margin-top: 10px
        }

        .inputwith {
            width: 100% !important;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="header-middle colmd">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 colmd">
                        <div class="welcm-ht">
                            <a href="#" class="ulockd-main-logo"><h1 style="color:#1EBEA5;font-weight:bold;margin:0px !important;">Sirona Tele Med</h1></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 ulockd-pad390 colmd">
                        <div class="topnav" id="myTopnav">
                            <a href="#home" class="active">Home</a>
                            <a href="#news">Pricing</a>
                            <a href="#contact">FAQ</a>
                            <a href="#about">Contact Us</a>
                            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="logres" style="display:flex;">
                            <a href="@Url.Action("Index", "BookNow")" class="btn btn-info logbtn">Book Appointment</a>
                            <a href="@Url.Action("Index", "Login")" class="btn btn-info logbtn" style="margin-left:10px;">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-12 Register-form">
                    @using (Html.BeginForm(Actions.GuestRegisterUser, Controllers.Register, FormMethod.Post, new { @id = "contact-form", @class = "needs-validation form-inline", @novalidate = "" }))
                    {
                        <div class="Register-form-body" style="text-align:center;">
                            <div class="row">
                                <div class="col-md-12" style="text-align:center;">
                                    <h2 class="h2head" style="color:#1EBEA5;margin-bottom: 20px;">Book Appointment</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 datetitle">
                                    <h6 style="float: left;font-size: 17px;">Date : @Model.DisplayDate </h6>
                                </div>
                                <div class="col-md-6 datetitle">
                                    <h6 class="datetime" style="float: right;font-size: 17px;">Time : @Model.DisplayTime</h6>
                                </div>
                            </div>
                            <h5 style="text-align:center;color:red;">@ViewBag.ErrorMessage</h5>
                            @Html.HiddenFor(model => model.SessionScheduleId)
                            @Html.HiddenFor(model => model.StripeToken)
                            <div class="row">
                                <div class="form-group inspectlet-sensitive col-md-12" style="text-align:left;border-bottom: 1px solid #6a6868;padding: 0px;margin-top: 0px;">
                                    <h5 style="margin-top: 15px;">Patient Information</h5>
                                </div>

                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">First Name <span> * </span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.FirstName, new { maxlength = 100, @class = "form-control", @required = "", placeholder = "Enter First Name" })
                                        <div class="invalid-feedback">
                                            Please Enter First Name
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Last Name<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.LastName, new { maxlength = 100, @class = "form-control", @required = "", placeholder = "Enter Last Name" })
                                        <div class="invalid-feedback">
                                            Please Enter Last Name
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Phone No.<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.Phone, new { maxlength = 100, @Type = "number", @class = "form-control", @required = "", placeholder = "Enter Phone Number" })
                                        <div class="invalid-feedback">
                                            Please Enter Phone Number
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Date of Birth<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        <div class="input-group-append">
                                            @Html.TextBoxFor(model => model.Dateofbirth, new { @name = "birthday", @Type = "text", @class = "form-control", @required = "", @id = "birthday1" })

                                            <span class="input-group-text" style="display: flex;background-color: #f9f9f9 !important;border-radius: .25rem;border: 1px solid rgba(170, 170, 170, 0.3) !important;padding: .495rem .75rem;">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group inspectlet-sensitive col-md-8">
                                    <div class="form-footer" style="text-align:left !important;display: flex;margin-left:25%">
                                        <input type="checkbox" class="radiobtn" style="margin-top:8px; margin-left:12px">
                                        <label class="terms col-sm-12" style="font-weight: bold;margin-left: 10px;justify-content:inherit;cursor:pointer;">Send notification for appointment</label>
                                    </div>
                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Email address<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.Email, new { maxlength = 100, @class = "form-control", @required = "", placeholder = "Enter Email" })
                                        <div class="invalid-feedback">
                                            Please Enter Email
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Street<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.AddressLine2, new { maxlength = 1000, @class = "form-control", @required = "", placeholder = "Enter Street" })
                                        <div class="invalid-feedback">
                                            Please Enter Street
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Apt/Suite</label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.Address, new { maxlength = 1000, @class = "form-control", placeholder = "Enter Apartment" })
                                    </div>

                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">City<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.City, new { maxlength = 1000, @class = "form-control", @required = "", placeholder = "Enter City" })
                                        <div class="invalid-feedback">
                                            Please Enter City
                                        </div>
                                    </div>


                                    @*<label class="control-label col-sm-4 text-left">Select Country<span>*</span></label>
                                        <div class="col-sm-8" style="text-align:left;">
                                            @Html.DropDownList(" ", new SelectList(ViewBag.Country, "Value", "Text"), new { @id = "Country", @class = "form-control", @required = "" })
                                            @Html.HiddenFor(model => model.CountryId)
                                        </div>
                                        <div class="invalid-feedback">
                                            Please Select Country
                                        </div>*@
                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Select State<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.DropDownList(" ", new SelectList(ViewBag.State, "Value", "Text"), new { @id = "State", @class = "form-control", @required = "" })
                                        @Html.HiddenFor(model => model.StateId)
                                        <div class="invalid-feedback">
                                            Please Select State
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group inspectlet-sensitive col-md-6">
                                    <label class="control-label col-sm-4 text-left">Zip code<span>*</span></label>
                                    <div class="col-sm-8" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.CountryId, new { maxlength = 10, @Type = "number", @class = "form-control", @required = "", placeholder = "Enter Zip code" })
                                        <div class="invalid-feedback">
                                            Please Enter Zip Code
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group inspectlet-sensitive col-md-12" style="text-align:left;border-bottom: 1px solid #6a6868;padding: 0px;">
                                    <h5 style="margin-top: 15px;">Reason For Visit</h5>
                                </div>
                                <div class="form-group inspectlet-sensitive col-md-12">
                                    <label class="control-label col-sm-2 text-left">Chief Complaint <span> * </span></label>
                                    <div class="col-sm-10" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.UserDescription, new { maxlength = 1000, @class = "form-control", @required = "", placeholder = "Enter Chief Complaint", Style = "height: 50px;" })
                                        <div class="invalid-feedback">
                                            Please Mention Chief Complaint !
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group inspectlet-sensitive col-md-12" style="text-align:left;border-bottom: 1px solid #6a6868;padding: 0px;">
                                    <h5 style="margin-top: 15px;">Special Request</h5>
                                </div>
                                <div class="form-group inspectlet-sensitive col-md-12">
                                    <label class="control-label col-sm-2 text-left">Special Request</label>
                                    <div class="col-sm-10" style="text-align:left;">
                                        @Html.TextBoxFor(model => model.SpecialRequests, new { maxlength = 1000, @class = "form-control", placeholder = "Enter Special Request", Style = "height: 50px;" })
                                    </div>
                                </div>

                                <div class="form-group inspectlet-sensitive col-md-12" style="text-align:left;display: flex;">
                                    <input type="checkbox" class="form-control radiobtn" required="" id="terms" style="margin-top:3px;">
                                    <label class="terms" style="font-weight: bold;margin-left: 25px;justify-content:inherit;cursor:pointer;" data-toggle="modal" data-target="#exampleModalLong">(Click here to view consent) I read consent form and agree to participate in telemedicine consultation.</label>
                                    <div class="invalid-feedback" id="errormsg">
                                        Please submit your consent
                                    </div>
                                </div>
                            </div>
                            <br class="bttag" />
                            <div class="submit-btn-area">
                                <button onclick="validate()" class="btn btn-info button-one" type="button" style="background: #1EBEA5 !important;">Continue as Guest <i class="ti-arrow-right"></i></button>
                            </div>
                            <div class="form-footer text-center mt-5" style="margin-top: 2rem;">
                                <p class="text-muted">Already have an account? <a style="color: #1EBEA5" href="@Url.Action(Actions.Index, Controllers.Login,new { area="",suc="",ReturnUrl=ViewBag.ReturnUrl})">Sign In</a></p>
                            </div>
                        </div>

                        <div class="modal fade" id="exampleModalCenter" data-controls-modal="exampleModalCenter" data-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header" style="background:#1EBEA5 !important">
                                        <h3 id="msgRegister" style="color:#fff">Registering your appointment....</h3>
                                    </div>
                                    <div class="ring_loader primary_ring_loader" style="position:relative; color:#1EBEA5; z-index:1;top: 50%;left:45%;" id="loader">
                                        <div></div><div></div><div></div><div></div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group" style="width: 100%;" id="ftr1">
                                            <div class="col-md-12" style="text-align: center;"><h2>Payment Info</h2></div><br />

                                            <div class="col-md-12" style="text-align:center">
                                                <label class="col-form-label"><b style="color:#000">By booking this appointment an amount of <font style="color:#1EBEA5;font-size:18px">$45 </font> shall be charged.</b></label>
                                            </div>
                                            <div class="form-group inspectlet-sensitive col-md-12 insuranceres" style="text-align:left;margin-bottom:10px;display: flex;">
                                                <label style="font-weight: bold;">Card : </label>
                                            </div>

                                            @*<label class="col-form-label" style="color:black">Card :</label>*@
                                            <div class="col-sm-10" style="text-align:left;padding:0px;">
                                                <div class="form-gp col-md-12" id="card-element" style="margin-bottom: 0px !important;margin-top: 10px;">
                                                    <!-- A Stripe Element will be inserted here. -->
                                                </div>
                                                <div id="card-errors" role="alert"></div>
                                                <br />
                                            </div>
                                            <div class="form-group inspectlet-sensitive col-md-12 insuranceres" style="text-align:left;margin-bottom:10px;display: flex;">
                                                <label style="font-weight: bold;">Do you have insurance ? &nbsp;</label>
                                                <div style="display:flex">
                                                    @Html.RadioButtonFor(model => model.HasInsurance, true, new { @id = "insurance", @style = "margin-left:5px ; margin-top:9px" })
                                                    <label style="margin-bottom:3px; margin-left:5px ">Yes</label>
                                                    @Html.RadioButtonFor(model => model.HasInsurance, false, new { @style = "margin-left:10px ;margin-top:9px" })
                                                    <label style="margin-bottom:3px ; margin-left:5px ">No</label>
                                                    @*<input type="radio" name="insur" id="insurance" value="Yes" style="margin-left: 20px;margin-top: 3px;"> Yes<br>
                                                        <input type="radio" name="insur" value="No" style="margin-left: 10px;margin-top: 3px;"> No<br>*@
                                                </div>

                                            </div>
                                            <div id="insurinfo" class="col-md-12">
                                                <div class="row">
                                                    <div class="form-group  col-md-4 mrgtop">
                                                        <label class="control-label text-left">Insurance Company Name : </label>
                                                    </div>
                                                    <div class="col-sm-6 mrgtop" style="text-align:left;">
                                                        @Html.TextBoxFor(model => model.InsuranceCompanyName, new { @class = "form-control inputwith", placeholder = "Enter Insurance Company Name" })
                                                    </div>
                                                    <div class="form-group mrgtop  col-md-4">
                                                        <label class="control-label text-left">Insurance ID / Beneficiary No : </label>
                                                    </div>
                                                    <div class="col-sm-6 mrgtop" style="text-align:left;">
                                                        @Html.TextBoxFor(model => model.InsuranceId, new { @class = "form-control inputwith", placeholder = "Enter Insurance ID / Beneficiary No" })
                                                        @*<input type="text" class="form-control" placeholder="Insurance ID / Beneficiary No" />*@
                                                    </div>
                                                    <div class="form-group mrgtop col-md-4">
                                                        <label class="control-label  text-left">Insurance Type : </label>
                                                    </div>
                                                    <div class="col-sm-6 mrgtop" style="text-align:left;">
                                                        @Html.TextBoxFor(model => model.InsuranceType, new { @class = "form-control inputwith", placeholder = "Enter Insurance Type" })
                                                        @*<input type="text" class="form-control" placeholder="Enter Insurance Type" />*@
                                                    </div>
                                                    <div class="form-group mrgtop col-md-4">
                                                        <label class="control-label text-left">Group number : </label>
                                                    </div>
                                                    <div class="col-sm-6 mrgtop" style="text-align:left;">
                                                        @Html.TextBoxFor(model => model.GroupNumber, new { @class = "form-control inputwith", placeholder = "Enter Group Number" })
                                                        @*<input type="text" class="form-control" placeholder="Group number" />*@
                                                    </div>
                                                </div>
                                            </div>
                                            <p style="margin-top:10px"><label style="color:#000"><font style="color:red">*</font><b>If your insurance pays for this visit, will reimburse after copay.</b> </label></p>
                                        </div>
                                    </div>
                                    <div class="modal-footer" id="ftr">
                                        <button type="button" class="btn btn-light" data-dismiss="modal" title="Cancel">Cancel</button>
                                        <button type="submit" class="btn btn-primary" style="background:#1EBEA5 !important" id="accept" title="Book Now">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><!--login-form-->
            </div><!--row-->
        </div><!--container-fluid-->
           <div class="ulockd-copy-right" style="background-color: #1EBEA5 !important;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="color-white">Sirona Tele Med's Copyright© 2018. All right reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div><!--wrapper-->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">CONSENT FOR TELEMEDICINE CONSULTATION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="font-size:14px"><b style="color:#000">1.</b> PURPOSE OF THE TELEMEDICINE CONSULTATION:   Telemedicine allows healthcare providers to evaluate, diagnose and treat patients over video visits. The information collected via video/audio consultation may be used for diagnosis, follow up, treatment and education. Healthcare providers may include Physicians, Nurse practitioners, Physician Assistants and any other healthcare provider who has the license to practice.</p>
                    <p style="font-size:14px">
                        <b style="color:#000">2.</b> NATURE OF THE TELEMEDICINE CONSULT: During the telemedicine consultation, details of your medical history, examinations, radiology/lab tests may be discussed,
                        <ul class="a" style="margin-left: 10px;">
                            <li>Patient Medical records may be reviewed and discussed</li>
                            <li>A non- medical technician may be present in the telemedicine room to aid the video transmission.</li>
                            <li>Live two way audio/video</li>
                            <li>Video/audio and photo recording may be taken of you during the telemedicine consultation</li>
                        </ul>
                    </p>
                    <p style="font-size:14px"><b style="color:#000">3.</b> MEDICAL INFORMATION & RECORDS:  All existing laws regarding your access to medical information and copies of your medical records apply to this telemedicine consultation. This visit may be recorded and stored.</p>
                    <p style="font-size:14px"><b style="color:#000">4.</b>CONFIDENTIALITY : Appropriate and reasonable safety measures have been taken to protect your confidentiality and to eliminate any potential confidentiality risks associated with this telemedicine consultation.</p>
                    <p style="font-size:14px"><b style="color:#000">5.</b> RIGHTS: You may deny to give consent for this consultation or you may withdraw your consent for Telemedicine consultation any time during the consultation without affecting your right to future care or treatment.</p>
                    <p style="font-size:14px"><b style="color:#000">6.</b> DISPUTES: Any disputes arriving from this Telemedicine Consultation will be resolved in the state where provider practices.</p>
                    <p style="font-size:14px"><b style="color:#000">7.</b> RISKS & BENEFITS: You have had the opportunity to obtain clarifications about the information provided in this form. All your questions have been answered  and you understand the information provided in this form.</p>
                    <p style="font-size:14px">By checking the box, I agree that I have read the information provided regarding telemedicine and hereby I give my consent to participate in Telemedicine consultation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!--=========================*
                Scripts
    *===========================-->
    <!-- Jquery Js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- SlimScroll Js -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <!-- Slick Nav -->
    <script src="~/Scripts/jquery.slicknav.min.js"></script>
    <!-- Fancy Box Js -->
    <script src="~/Scripts/jquery.fancybox.pack.js"></script>


    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.min.js"></script>
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />

    <!-- Main Js -->
    <script>
        function validate() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                if (form.checkValidity() === false && !jQuery("#terms").prop("checked")) {
                    event.preventDefault();
                    event.stopPropagation();
                    $("#exampleModalCenter").modal('hide');
                    $("#errormsg").show();
                    //$('.invalid-feedback').show();
                }
                else if (form.checkValidity() === true && jQuery("#terms").prop("checked")) {

                    $("#errormsg").hide();
                    $("#exampleModalCenter").modal('show');
                }
                form.classList.add('was-validated');
            });
            //if (jQuery("#terms").prop("checked") && $('#contact-form').val() != null) {

            //    $("#errormsg").hide();
            //    $("#exampleModalCenter").modal('show');
            //}
            //else {
            //    $("#exampleModalCenter").modal('hide');
            //    $("#errormsg").show();
            //}

        }

        function showloader() {
            $("#ftr").hide();
            $("#ftr1").hide();
            $("#loader").show();
            $("#msgRegister").show();
        }

        $(document).ready(function () {

        $("#loader").hide();
        $("#msgRegister").hide();
        $("#test").hide();
        $("#errormsg").hide();
            $("#insurinfo").hide();
            $("input[name='HasInsurance']").change(function () {
                var insur = $("input[type=radio][name=HasInsurance]:checked").val();
                if (insur == "True") {
                    $("#insurinfo").show();
                }
                else {
                    $("#insurinfo").hide();
                }
            });
        });

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        window.addEventListener('load', function () {

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);

        // Create a Stripe client.
    var stripe = Stripe('@Configurations.Publishablekey');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('contact-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('contact-form');
        var hiddenInput = document.createElement('input');
        //hiddenInput.setAttribute('type', 'hidden');
        //hiddenInput.setAttribute('name', 'stripeToken');
        //hiddenInput.setAttribute('value', token.id);
        //form.appendChild(hiddenInput);
        $("#StripeToken").val(token.id);
        // Submit the form
        if (jQuery("#terms").prop("checked")) {
            showloader();
            form.submit();
        }
        else {
            $("#errormsg").show();
        }
    }

    </script>
    <script src="~/Scripts/main.js"></script>
    <script>

        $("#Country").change(function () {
            var state = $("#Country").val();
            $("#CountryId").val(state);
            $.ajax({
            url: '@Url.Action(Actions.Search1, Controllers.Register, new { Area = "" })',
                data: ({ Id: state }),
                type: 'Post',
                datatype: 'json',
                success: onSuccess,
              });
        });

         $("#State").change(function () {
            var state = $("#State").val();
            $("#StateId").val(state);
        });

        function onSuccess(responseText, statusText, xhr, $form) {

            if (responseText[2].length > 0) {
                var select = $("#State");
                select.empty();
                select.children().remove();
                //select.append('<option selected="selected" value="0">Select State</option>');
                $(responseText[2]).each(function (index, item) {
                    select.append($("<option>").val(item.Value).text(item.Text));
                });
            }
        }

        $(function () {
            $('#birthday1').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                maxDate: new Date(),
                locale: {
                    format: 'DD-MM-YYYY'
                },
            })
        });
    </script>
</body>
</html>