﻿@using SironaTeleMedClient.Pages
@using SironaTeleMed.Common
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SironaTeleMed - Appointment Area</title>

    <!--=========================*
                Favicon
    *===========================-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">
    <!--=========================*
            Bootstrap Css
    *===========================-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!--=========================*
              Custom CSS
    *===========================-->
    <link rel="stylesheet" href="~/Content/style.css">
    <!--=========================*
               Owl CSS
    *===========================-->
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" type="text/css">
    <!--=========================*
            Font Awesome
    *===========================-->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!--=========================*
             Themify Icons
    *===========================-->
    <link rel="stylesheet" href="~/Content/themify-icons.css">
    <!--=========================*
               Ionicons
    *===========================-->
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <!--=========================*
              EtLine Icons
    *===========================-->
    <link href="~/Content/et-line.css" rel="stylesheet" />
    <!--=========================*
              Feather Icons
    *===========================-->
    <link href="~/Content/feather.css" rel="stylesheet" />
    <!--=========================*
              Modernizer
    *===========================-->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
    <!--=========================*
               Metis Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/metisMenu.css">
    <!--=========================*
               Slick Menu
    *===========================-->
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <!--=========================*
              text-Editor css
    *===========================-->
    <link rel="stylesheet" href="~/Content/summernote.css">
    <link rel="stylesheet" href="~/Content/summernote-bs4.css">

    <!--=========================*
              Drop zone css
    *===========================-->
    <link rel="stylesheet" href="~/Content/dropzone.css">
    <!--=========================*
               sucess Alert model css
    *===========================-->
    <link rel="stylesheet" href="~/Content/sweetalert2.min.css">

    <!--=========================*
        Date time picker
    *===========================-->
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">

    <!--=========================*
               Datatable
    *===========================-->
    <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.jqueryui.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">

</head>

<body>

    <div class="container-scroller">

        <!--=========================*
                  Navigation
        *===========================-->
        <style>
            .hardCoded {
                color: #3644FF !important;
            }
        </style>
        <nav class="rt_nav_header horizontal-layout col-lg-12 col-12 p-0">
            <div class="top_nav flex-grow-1" style="background: #02007C;">
                <div class="container d-flex flex-row h-100 align-items-center">
                    <!--=========================*
                              Logo
                *===========================-->
                    <div class="text-center rt_nav_wrapper d-flex align-items-center" style="margin: auto;">
                        <a class="nav_logo rt_logo" href="@Url.Action(Actions.Index, Controllers.Dashboard, new { area = "" })">
                            <h2 style="color:#fff;"> Sirona TM </h2>
                        </a>
                        <a class="nav_logo nav_logo_mob" href="@Url.Action(Actions.Index,Controllers.Dashboard, new { area = "" })"><img src="~/images/mobile-logo.svg" alt="logo" /></a>
                    </div>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="container">
                   <h3 style="padding: 12px 0px;" class="nav page-navigation">@ViewBag.UserName - Your Appointment Area</h3>
                </div>
            </div>
        </nav>



       
      
        <div class="main-content">
            <div class="main-content-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <iframe width="100%" height="700" src="@ViewBag.LinkableId" allow="geolocation; microphone; camera"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-area">
                <p>&copy; Copyright 2019. All right reserved. Template by Plexoc.</p>
            </div>
        </footer>

    </div>

    <!-- Jquery Js -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- SlimScroll Js -->
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <!-- Slick Nav -->
    <script src="~/Scripts/jquery.slicknav.min.js"></script>

    <!-- Main Js -->
    <script src="~/Scripts/main.js"></script>
    <!-- sucess model js -->
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/init/sweet-alert.js"></script>
    <!-- drop zonejs -->
    <script src="~/Scripts/dropzone.js"></script>

    <!-- text editor js -->
    <script src="~/Scripts/init/editors.js"></script>
    <script src="~/Scripts/summernote-bs4.min.js"></script>


    <!-- Date timepicker js -->

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>

    <!-- Data Table js -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/responsive.bootstrap.min.js"></script>

    <script>

            if (@ProjectSession.UserType == 1) {
                $('.top_nav').css('background','#B22222')
            }
            if (@ProjectSession.UserType == 2) {
                $('.top_nav').css('background','#02007C')
            }
            if (@ProjectSession.UserType == 3) {
                $('.top_nav').css('background','green')
            }
    </script>
    <script>
        $("#Country").change(function () {
            var state = $("#Country").val();
            $("#CountryId").val(state);
            $.ajax({
                url: '/MyAccount/Search1',
                data: ({ Id: state }),
                type: 'Post',
                datatype: 'json',
                success: onSuccess,
            });
        });

        $("#State").change(function () {
            var state = $("#State").val();
            $("#StateId").val(state);
        });

        function onSuccess(responseText, statusText, xhr, $form) {
            if (responseText[2].length > 0) {
                var select = $("#State");
                select.empty();
                select.children().remove();
                //select.append('<option selected="selected" value="0">Select State</option>');
                $(responseText[2]).each(function (index, item) {
                    select.append($("<option>").val(item.Value).text(item.Text));
                });
            }
        }
    </script>

</body>
</html>
