﻿@using SironaTeleMedClient.Pages;
@using SironaTeleMed.Common;

@{
    ViewBag.Title = "ProcessPayment";
    Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

    <script>

        window.applicationId = 'sq0idp-iFykNbpHhAkMz0N3NqQJoQ';
        window.locationId = 'SM43B9HNGK5K3';

        //window.applicationId = 'sandbox-sq0idp-iFykNbpHhAkMz0N3NqQJoQ';
        //window.locationId = 'CBASEMztbMOcIBx5waHQpIDxPu4gAQ';

    </script>

    <!-- link to the local SqPaymentForm initialization -->
    <script type="text/javascript" src="https://cdn.rawgit.com/square/connect-api-examples/a8cc6d7e624cb57991f6a0ff76a241836d5b9059/templates/web-ui/payment-form/custom/sq-payment-form.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/square/connect-api-examples/a8cc6d7e624cb57991f6a0ff76a241836d5b9059/templates/web-ui/payment-form/custom/sq-payment-form.css" />
</head>
<body>
    <div class="breadcrumb-area pt-150 pb-150 " style="background-image:url(../../Content/images/bg/1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-text text-center">
                        <h1>Payment</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Payment Form -->
    <div style="padding:50px;font-weight:bold"> <h4>You Must Register With Credit Card To Access LifeTools Account</h4></div>
   
    <div class="sq-payment-form" style="margin-left:35%">
        <!--
          Square's JS will automatically hide these buttons if they are unsupported
          by the current device.
        -->
        @*<div id="sq-walletbox">
            <button id="sq-google-pay" class="button-google-pay"></button>
            <button id="sq-apple-pay" class="sq-apple-pay"></button>
            <button id="sq-masterpass" class="sq-masterpass"></button>
            
            <div class="sq-wallet-divider">
                <span class="sq-wallet-divider__text">Or</span>
            </div>
        </div>*@
        
        <div id="sq-ccbox"></div>
        <!--
          You should replace the action attribute of the form with the path of
          the URL you want to POST the nonce to (for example, "/process-card").

          You need to then make a "Charge" request to Square's transaction API with
          this nonce to securely charge the customer.

          Learn more about how to setup the server component of the payment form here:
          https://docs.connect.squareup.com/payments/transactions/processing-payment-rest
        -->
        @using (Html.BeginForm(Actions.CompletePayment, Controllers.Register, new { userId = ViewBag.UserId, amount = ViewBag.Amount, Area = Areas.Public }, FormMethod.Post, new { enctype = "", returnUrl = "", @id = "nonce-form", @class = "add-user-data-form" }))
        {
            <div class="sq-field">
                <label class="sq-label">Card Number</label>
                <div id="sq-card-number"></div>
            </div>
            <div class="sq-field-wrapper">
                <div class="sq-field sq-field--in-wrapper">
                    <label class="sq-label">CVV</label>
                    <div id="sq-cvv"></div>
                </div>
                <div class="sq-field sq-field--in-wrapper">
                    <label class="sq-label">Expiration</label>
                    <div id="sq-expiration-date"></div>
                </div>
                <div class="sq-field sq-field--in-wrapper">
                    <label class="sq-label">Postal</label>
                    <div id="sq-postal-code"></div>
                </div>                
            </div>
            @*<div class="sq-field-wrapper">
                <div>
                    <input type="checkbox" class="sq-checkbox" name="isRenew" value="isRenew" id="renew"> Renew
                </div>
            </div>*@
            <div class="sq-field">
                <button id="sq-creditcard" class="sq-button" onclick="requestCardNonce(event)">
                    Pay $@ViewBag.Amount Now
                </button>
            </div>
            <div id="error"></div>
            <input type="hidden" id="card-nonce" name="nonce">
        }
    </div>
    <!-- End Payment Form -->
</body>
</html>

