﻿
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="social-linked ulockd-mrgn1215">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <div class="welcm-ht text-cente ulockd-mrgn1215">
                    @*<p>Welcome To <strong class="text-thm2">Sirona Tele Med</strong> Medical Hospital & Clinic</p>*@
                </div>
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</div>

<!-- Header Middle -->
<div class="header-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-5">
                <div class="welcm-ht">
                    <a href="#" class="ulockd-main-logo">@*<img src="~/images/Client/header-logo.png" alt="header-logo.png">*@</a>
                </div>
            </div>
            <div class="col-md-9 col-lg-7 ulockd-pad390">
                <ul class="list-inline tac-smd ulockd-mrgn60">
                    @*<li>
                        <div class="ulockd-ohour-info tac-smd mb30-xxsd">
                            <div class="ulockd-icon pull-left fn-smd text-thm2"><span class="fa fa-clock-o"></span></div>
                            <div class="ulockd-info">
                                <p class="ulockd-addrss"><strong>Official Schedule</strong> <br> 7:00AM-7:00PM</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ulockd-ohour-info tac-smd mb30-xxsd">
                            <div class="ulockd-icon pull-left fn-smd text-thm2"><span class="fa fa-envelope"></span></div>
                            <div class="ulockd-info">
                                <p class="ulockd-addrss"><strong>Mail Us</strong> <br> demo@webmail.com</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ulockd-ohour-info tac-smd mb30-xxsd">
                            <div class="ulockd-icon pull-left fn-smd text-thm2"><span class="fa fa-phone"></span></div>
                            <div class="ulockd-info">
                                <p class="ulockd-addrss"><strong>Call Us For Details</strong> <br> +61 9875 5968 54</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ulockd-ohour-info tac-smd mb30-xxsd">
                            <div class="ulockd-icon pull-left fn-smd text-thm2"><span class="fa fa-map-signs"></span></div>
                            <div class="ulockd-info">
                                <p class="ulockd-addrss"><strong>Suite 300 Houston</strong> <br> Texas - 77042 USA</p>
                            </div>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>
